[2020-08-24 17:10] lauren-mills commented on #3605
Ok, this is all helpful, thank you.

It sounds like the best path forward is to start updating your projects instead of replacing them with new ones. There are a number of steps you will need to take. Here is a summary, and I can go into more detail on each step as needed:

### Update your skill projects.
If you are using our prebuilt skills, I recommend you start with the latest projects from mic

[2020-08-24 19:07] tomSauret847 commented on #3612
Thank you @Batta32! This did resolve the issue and we are now seeing the dialog context show up in the Power Bi report.

[2020-08-25 07:06] bhdzllr opened #3638 "[Docs] Ambiguities in the docs (Project does not have a "wwwroot" folder; How to publish?)"
/skills/tutorials/create-skill/typescript/5-update-manifest/

I followed the steps from the TS create skill tutorial and in step 5 there are some ambiguities.

* I can not find a folder wwwroot in my project. Of course, there is a "src/mainfest/" folder with a "mainfest-1.0.json" sample file in it. But when I deploy or publish I can not access the manifest from the browser. There is just a 404 JSO

[2020-08-25 11:39] tomSauret847 commented on #3612
@Batta32 I did have a question. We are seeing the dialogs in the reporting now but all the skills are showing up under the "Switch Skill Dialog" and not the skill. We do have the telemetry enabled on all the skills and are passing it into the constructor the same as the VA. Am I missing a setting in the skill dialog constructor?

[2020-08-25 12:09] Batta32 commented on #3638
Thanks @bhdzllr for reporting this issue! We will be reviewing this and we will back to you as soon as we have any update.

[2020-08-25 12:44] Batta32 commented on #3612
Thanks @tomSauret847 for your reply! We will be reviewing this scenario and we will back to you as soon as we have any update 😊!

[2020-08-25 13:12] tomSauret847 commented on #3612
Thank you again @Batta32, I also noticed that the QNAMakerDialog that is used for the QNA makers, has no telemetry client passed into it. This prevents the QNA maker from populating in the report as well.

[2020-08-25 18:25] lauren-mills commented on #3568
Looks like this will be resolved by #4456.

[2020-08-26 18:49] peterinnesmsft commented on #3636
Hi @Adityagrao,

Thank you for submitting this ask. This is not currently on our team roadmap, and unfortunately we do not have the bandwidth to take on this item for the foreseeable future.

We can continue to evaluate whether we will take this on as part of our future roadmap, and if so will make sure it is tracked here so we can provide visibility to our customers. In the meantime, I am going t

[2020-08-26 18:49] #3636 closed

[2020-08-26 20:51] tomSauret847 commented on #3573
@Batta32 We have setup authentication in 2 of our skills and it is working good in the Teams channel. The direct line channel is not getting past the authentication prompt. The skill is not receiving the token back after successful login. This issue is only present in our direct line channel. We are using the sample direct line client that was provided and enabled  the enhanced authentication opti

[2020-08-27 08:39] GitDruid opened #3640 "MultiProviderAuthDialog localization not working"
The bug is still not fixed. Why closing it @peterinnesmsft ?
@lauren-mills should be working on it. May you keep it open, please?

As a side note I'd like to ask you guys at Microsoft to be more supportive on Bot Framework. I'm trying to build up a system based on this framework but encountering a lot of frustrating issues. IMHO, if you want your system to be adopted by developers you should focus

[2020-08-27 12:08] Batta32 commented on #3573
Thanks @tomSauret847, we will be reviewing that scenario and we will back to you as soon as we can!

Just to start to review the scenario:
1. What do you mean with "sample direct line client"?
1. Which client are you using?

[2020-08-27 12:17] tomSauret847 commented on #3573
Thank you again @Batta32 for looking into this. We are using the direct line sample from the botbuilder-solutions repo located [here](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/clients)
The "magic code" is explained some in this stack overflow question [here](https://stackoverflow.com/questions/57053009/magic-code-while-oauth-using-botframework-any-way-around)
I

[2020-08-27 12:19] Batta32 commented on #3573
Thanks a lot @tomSauret847, we will be reviewing this and we will let you know any update here 😊!

[2020-08-27 18:07] peterinnesmsft commented on #3640
Re-opened the issue, so closing this as dupe.

[2020-08-27 18:07] #3640 closed

[2020-08-27 18:19] lauren-mills commented on #3638
We're adding this to the backlog to improve the TS docs around skills and publishing. Thanks!

For your question about publishing, you are correct that you can use the publish.ps1 script to publish, and you should be able to find the values for the resourceGroup and botWebAppName in your appsettings.json file after running the deploy.ps1 script.

[2020-08-28 18:03] peterinnesmsft commented on #3626
We are scheduling further investigation of this issue for next week, where we will aim to have a repro and root cause analysis completed by end of next week.

[2020-08-28 18:11] tomSauret847 commented on #3626
@peterinnesmsft If needed I can be available for a offline call to fully explain what the skill is going to be used for and what we are trying to achieve with this particular skill.

[2020-08-28 19:05] Batta32 commented on #3626
@tomSauret847 - we are currently working on this issue so we came up with some validations that we want to ask you

1. Do you have the Virtual Assistant and Skill both in TypeScript?
1. Are you using the [ProactiveStateMiddleware](https://github.com/microsoft/botframework-solutions/blob/master/sdk/typescript/libraries/bot-solutions/src/proactive/proactiveStateMiddleware.ts) for the proactive messa

[2020-08-28 19:28] tomSauret847 commented on #3626
@Batta32 to answer your questions
1. Yes both VA and skill is in Typescript
2. No we are not using the ProactiveStateMiddleware
3. No neither skill or VA
5. Yes we are using the emulator for testing locally and will be using direct line and Teams channels in production

Use case.
We are interfacing the skill with a internal chat system that requires polling loop to check it every 2 seconds. Since

[2020-08-28 19:40] Batta32 commented on #3626
Thanks @tomSauret847 - we will let you know if we need more context 😊.

We identified this [sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/typescript_nodejs/16.proactive-messages) of BotBuilder-Samples which appears to have the same code to send the messages back as you commented in the [index.ts](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/typescri

[2020-08-31 17:01] Batta32 commented on #3638
Hi @bhdzllr, we created the PR #3643 fixing the ambiguities that you mentioned above. Feel free to add your feedback in the Pull Request.

1. In TypeScript, the manifest is present in `src/manifest` but it throws an error if you try to access it fixed in the PR #3601. You can add those changes in the `index.ts` of your Skill to have access to the manifest.
1. `YOUR_SKILL_URL` is the endpoint URL w

[2020-08-31 18:14] pavolum commented on #3582
@dawwa are we still gathering feedback?

[2020-08-31 20:28] VictorGrycuk commented on #3612
Thank you @tomSauret847 bringing to our attention that the QnAMakerDialog issue. A **fix** we found is to modify the [tryCreateQnADialog](https://github.com/microsoft/botframework-solutions/blob/b5a7a0c8a9b8d8579b7d34077d645d339fc55845/templates/typescript/samples/sample-assistant/src/dialogs/mainDialog.ts#L190) method and set the `telemetryClient` property in the QnAMaker Dialog (see image line #

[2020-08-31 21:39] #3488 closed

[2020-08-31 21:39] #3554 closed

[2020-08-31 21:55] ipraveenMS commented on #3605
@lauren-mills My question was specifically about how to seamlessly upgrade (without downtime) . I am in the middle of another work and I will get back to this and write a through reply soon.

[2020-09-01 00:18] ipraveenMS opened #3644 "Operation returned an invalid status code 'NotImplemented' when Microsoft.Bot.Connector.ConversationsExtnsions.UpdateActivityAsync is called"
#### What project is affected?
Skills
#### What language is this in?
c#
#### What happens?
I call UpdateActivityAsync and above error is thrown
#### What are the steps to reproduce this issue?
Call updateActivity function
#### What were you expecting to happen?
Success
#### Can you share any logs, error output, etc.?

   Operation returned an invalid status code 'NotImplemented'
   at Microsoft.Bo

[2020-09-01 12:05] Batta32 commented on #3644
Thanks @ipraveenMS for reporting this issue. We will be reviewing this and we will back to you as soon as we can 😊.

[2020-09-01 15:58] Batta32 commented on #3626
Hi @tomSauret847, we need you to give us a full overview of what you're doing in order to figure out the scenario and reproduce your issue. Here are some initial **questions** we are particulary interested in:

1. Where are you adding the function to send the messages back? We think that you are adding this as an endpoint in the Virtual Assistant, is this correct?
[code]
1. Is the above function t

[2020-09-01 16:35] peterinnesmsft commented on #3644
Hi @ipraveenMS,

Thanks for creating this issue. In order to be able to investigate, we require some additional information:

- Can you confirm which version of the SDK libraries you are using?
- Can you also confirm which implementation of the BotAdapter class you are using? Typically this would be some utilization or implementation over BotFrameworkHttpAdapter/BotFrameworkHttpAdapterBase.

If yo

[2020-09-01 18:05] tomSauret847 commented on #3626
@Batta32 thank you again for looking into this. I have attached the DefaultActivityHandler where we are able to get the functions to work but the VA will throw the error that the Skill could not be invoked. I have also attached the MainDialog showing where we are running a continuous loop that will poll a on premise server as part of the chat interaction. We do have this working in our current SDK

[2020-09-01 18:08] Batta32 commented on #3626
Thanks again @tomSauret847, we will be reviewing the attached documents and we will back to you later 😊.

[2020-09-01 18:09] tomSauret847 commented on #3612
Thank you @VictorGrycuk for this information. I have made the changes and we are seeing the QNA maker dialogs populating in the reporting now as shown below. But the QNA performance is still not populating. We are hitting the QNA makers as shown by the dialogs, but the performance is not being populated in the reporting.
![image](https://user-images.githubusercontent.com/61023857/91889931-465b0680

[2020-09-01 18:10] pavolum commented on #3599
Closing due to inactivity, the solution should be a dependency update.

[2020-09-01 18:10] #3599 closed

[2020-09-01 18:18] Batta32 commented on #3612
Thanks @tomSauret847 we will back to you as soon as possible!

[2020-09-01 19:17] peterinnesmsft commented on #3582
@dawwa what is the status of this? Is the final list of items you would like to present to us for addressing? If we don't hear back in the next 48 hours, I'll assume that to be case and we'll consider this list locked.

[2020-09-01 20:08] peterinnesmsft commented on #3568
Since this looks to be addressed by a fix in the SDK, moving to the appropriate repo for further tracking.

[2020-09-01 20:14] peterinnesmsft commented on #3614
@manish-95 any luck on verifying this? We are tentatively looking to do some initial validation of a release candidate containing this fix next week, but any heads up if you've caught obvious issues would be greatly appreciated if you have them!

[2020-09-02 16:19] lauren-mills commented on #3575
This issue has been resolved. Please refer to #3591 for more information on the fix.

[2020-09-02 16:19] #3575 closed

[2020-09-02 16:25] lauren-mills opened #3645 "[Docs] "Connect to a sample" docs do not include the step to update the manifest"
/skills/tutorials/add-prebuilt-skill/3-deploy-skill-project/

This tutorial is missing the step to update the skill manifest after deployment. Otherwise it will not be able to be connected to a VA

[2020-09-02 17:05] VictorGrycuk commented on #3612
Hi @tomSauret847, we **reproduced** the issue you mentioned about the *SwitchSkillDialog* and determined that this happens **by design** as in C# the behavior is the same.

An **alternative** is to set the Instrumentation Key for the Virtual Assistant Application Insights in the appsettings.json of the Skills.

1.  Follow the steps to [activate the telemetry](https://github.com/microsoft/botframew

[2020-09-02 18:11] matiasroldan6 commented on #3573
Hi @tomSauret847, we **could not reproduce** this issue as we have the authentication scenario correctly working.

We came up with some **questions** for you:

1. Have you checked if this issue happens talking directly to the Skill, without connecting to a Virtual Assistant?
2. If you are going through a V.A. to connect to the Skill, are you enabling the Directline channel in the V.A. too? What el

[2020-09-02 19:39] peterinnesmsft commented on #3615
@lauren-mills, can you please do an initial assessment as to what you believe the right steps are for addressing this issue? I can work with you offline lock on details and we can find an owner to drive implementation.

[2020-09-02 19:42] peterinnesmsft commented on #3560
@lzc850612 can you and I work together to figure out what the high-level design for addressing this issue ought to be? We can then find a suitable owner to drive implementing a fix.

[2020-09-03 00:05] peterinnesmsft commented on #3605
Hi @ipraveenMS,

Ultimately, our final stance here is that this is not something that we formally support. @lauren-mills has provided good guidance based on the initial outlined issue. We appreciate that this is a complex situation for you to work through for your individual case, but given our overall stance that this is not a formally supported scenario by the team as we have not had sufficient

[2020-09-03 00:05] #3605 closed

[2020-09-03 00:12] peterinnesmsft commented on #3645
@Batta32 adding this one to your team's backlog.

[2020-09-03 00:12] peterinnesmsft commented on #3622
@Batta32 adding this one to your team's backlog.

[2020-09-03 00:16] peterinnesmsft commented on #3582
Hi @dawwa,

The team triaged this issue today, and so we are considering this issue locked. After reviewing, we agreed that it is reasonable for us to address the identified bugs.

For the other items, we anticipate that we will have a number of upcoming workstreams to help standardize our approach to provisioning and publishing, as well as CI/CD operations overall, across the various product offe

[2020-09-03 01:42] xieofxie commented on #3547
The fix in SDK will be shipped in November.

[2020-09-03 11:40] tomSauret847 commented on #3612
Thank you @VictorGrycuk I made the changes you outlined above and now all the skill dialogs are showing in the Power Bi reporting. After setting the app insights key in the skills the same as the VA we are populating all the dialogs used in the Skills as well as in the VA.

[2020-09-03 12:06] Batta32 commented on #3645
Thanks @peterinnesmsft, we will be working on this!

[2020-09-03 12:06] Batta32 commented on #3622
Thanks @peterinnesmsft, we will be working on this!

[2020-09-03 12:23] VictorGrycuk commented on #3612
Excellent @tomSauret847, good to know it worked.
We will now be focusing on why the QnA performance is not populated, as soon as we have any update we will let you know.

[2020-09-03 18:50] ipraveenMS commented on #3644
Thanks for the response. We will get back to you with the details.

[2020-09-03 19:36] lzc850612 commented on #3560
@GitDruid Based on your last conversation with Lauren, the issue is when your skill uses MultiProviderAuthDialog, your skill is not setting the locale correctly. The fix of that issue is to use SetLocaleMiddleware which is also part of Microsoft.Bot.Solutions lib. once you have this in you skill, as long as the Locale property exists within the Activity that's passed to the skill, the MultiProvide

[2020-09-03 19:44] lzc850612 commented on #3579
@GitDruid I just checked the latest SDK code and I'm not seeing SSO being added.

@carlosscastro carlos are you aware if there's a plan to add SSO capability into SDK SkillHandler so SDK can natively support SSO without developers having to handle this on their own?

[2020-09-03 21:11] ipraveenMS commented on #3644
@peterinnesmsft

Here is the info.

Can you confirm which version of the SDK libraries you are using?
Bot Framework SDK v4
Assembly Microsoft.Bot.Connector, Version=4.9.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35

Can you also confirm which implementation of the BotAdapter class you are using? Typically this would be some utilization or implementation over BotFrameworkHttpAdapter/BotFram

[2020-09-03 21:39] ipraveenMS commented on #3644
I found some new clues now.. let me update this thread soon.

[2020-09-04 06:58] ipraveenMS commented on #3644
Upon further investigation, the UpdateActivityAsync call hits the ngrok end point and goes to the https://<myVAName>.ngrok.io\api/skills (VA uses the BF SDK similar to above, it also uses DefaultAdapter similar to above)

there it is routed to
[Route("api/skills")]
    [ApiController]
    public class SkillController : ChannelServiceController

from that class uses the below base class implementat

[2020-09-04 09:15] GitDruid commented on #3560
Hi Ted @lzc850612 , hi Peter @peterinnesmsft ,

to be more precise the issue definition is not:
"when your skill uses MultiProviderAuthDialog, your skill is not setting the locale correctly."

but rater:
"MultiProviderAuthDialog is not taking into account the locale settings."
All the rest of the skill does it correctly. So the locale setting is already done somewhere in the skill (see last commen

[2020-09-04 18:41] matiasroldan6 commented on #3573
Hi @tomSauret847, we **could reproduce** an occurrence of this issue.
In our scenario, the problem were the **trusted origins addresses** set in the Directline channel. For instance, the Directline popup states that the trusted origins **need to be** _https_, or _http_ for _localhost_. This would explain Directline as the only channel that's failing for you.

To check in case this is also your pro

[2020-09-05 00:06] dawwa commented on #3582
yep, these are pretty much all of them, thanks for reviewing and set up plans for addressing these 👍,  looking forward to getting rid of most of my workaround and customization on the original-offered scripts after these are addressed. I'll file separate bugs if any more discovered.  @peterinnesmsft  @lauren-mills

[2020-09-05 00:23] dawwa opened #3648 "luis_functions.ps1 - A different newer version of luis app could not be published after being imported."
**Repro Step**
Deploy the same luis app twice with two different versions.

**Actual Behavior**
A different newer version of luis app could not be published after being imported and remains unpublished, the old version remains active.

**Expected Behavior**
The newer version gets published properly, meanwhile older versions have the option of being deleted to maintain a reasonable historical versi

[2020-09-06 01:35] rodrigoratan opened #3649 "[Docs] wrong example"
/skills/samples/restaurant-booking/

the example shows chinese and italian restaurants, the user choose the second one and the bot replies "chinese sounds great" !!! (facepalm)

[2020-09-07 14:07] Batta32 commented on #3649
Thanks @rodrigoratan for reporting this issue, we confirmed what you mentioned in the attached image of the [/skills/samples/restaurant-booking/](https://microsoft.github.io/botframework-solutions/skills/samples/restaurant-booking/) document.

We will review the behavior of the [RestaurantBooking Skill](https://github.com/microsoft/botframework-skills/tree/master/skills/csharp/experimental/restaur

[2020-09-07 14:24] Batta32 commented on #3648
Thanks @dawwa for reporting this issue. We came up with some questions just to narrow the issue with the environment that you are using:
1. Are you using the `luis_functions.ps1` of C# or TypeScript?
1. Are you using the `luis_functions.ps1` of the Virtual Assistant or the Skill?

We will be rewieving the proposed fix that you mentioned and we will be back to you later 😊.

[2020-09-07 20:07] matiasroldan6 commented on #3612
Hi @tomSauret847, we just reproduced the issue you reported about QnA in TypeScript not displaying performance.

We tested this with an Assistant using master branch as well as the 1.0 release version, with equal results in both cases.

**Environment used:**
- TS Virtual Assistant with the telemetry lines enabled in index.ts. Deployed to Azure
- App Insights connected to the Assistant
- Power BI w

[2020-09-07 20:18] VictorGrycuk commented on #3626
Hi @tomSauret847, before we move forward trying to reproduce the issue on our side, we want to make sure that we correctly understand your scenario and problem, along with the architecture where you are implementing the bots.

When we started to review this issue we found similarities with your previous issue, [#3437](https://github.com/microsoft/botframework-solutions/issues/3437), regarding how

[2020-09-08 17:00] lzc850612 commented on #3574
I'm setting up the environment to reproduce this issue. Will update once I have something

[2020-09-08 17:14] dawwa commented on #3648
@Batta32 , we're using both VA and Skill's lui_functions.ps1, and they both have this issue, I'm referring C#, but it might be worthy to check TypeScript as well, assuming they might be using the same set of deployment PowerShell scripts.

[2020-09-08 17:21] Batta32 commented on #3648
@dawwa - awesome! Thanks for your reply, we will be checking this for C# and TypeScript and we will back to you as soon as we have any update 😊

[2020-09-08 17:45] lauren-mills commented on #3615
There is not a great way of doing this right now, but it makes sense. The luis:generate CLI tool takes a .luis file as the input for the .cs file it creates, so currently the DispatchLuis.cs file is based on whatever the dispatch model is for the last locale in the parameters list. In order to create a .cs file that is a superset of all the various dispatch models, we would need to have a .luis fi

[2020-09-08 18:25] lauren-mills commented on #3615
We could use the dispatch CLI to create a placeholder .dispatch file that we would not actually deploy but could then be used as an input for the luis:generate command.

[2020-09-08 19:59] tomSauret847 commented on #3626
Thank you @VictorGrycuk for looking into this. Sorry for the late reply, the answers to your questions are,
Step 6. We are trying to poll the agent chat servers, not the user messages. Below is a flow diagram showing the process we are attempting to complete.
![image](https://user-images.githubusercontent.com/61023857/92508021-87f82e00-f1cd-11ea-99f2-a814def52322.png)
The highlighted step in the s

[2020-09-08 20:20] Batta32 commented on #3626
Thanks @tomSauret847 - we will be reviewing the information detailed above and we will back to you as soon as we have any update!

[2020-09-08 22:18] connectmteam commented on #2651
I am running into similar issues and don't seem to be able to deploy the Luis and QnA files. is there a resolution for this issue?

[2020-09-09 11:50] tomSauret847 commented on #3573
Thank you @matiasroldan6 for looking into this. The settings you show above are the same as we are using. We removed the localhost route and just have the bot address in the trusted origins for the direct line channel (https://xxxxx.azurewebsites.net). The skill is still unresponsive after the sign in prompt and if we cancel the conversation and invoke the skill again it will have the token and co

[2020-09-09 12:58] Batta32 commented on #3573
Thanks for your reply @tomSauret847 - we will keep working on this trying to find the fix for this issue 😊.

We have **questions** in order to understand how you are using the `azurewebsites.net` endpoint taking into account the version 1.0 of bot-solutions (PR #3583):
1. Are you using the `Messaging endpoint` of your published Web App Bot (Virtual Assistant)?
1. How did you integrate the version

[2020-09-09 18:45] dmvtech commented on #2651
@connectmteam Same questions for you from above (and additional):

- What version of AZ CLI are you using?
- What version of Ludown?
- Are you able to run the ludown command, ouside of Powershell?
- What version of VA are you using?
- Have you tried with the most recent version of [luis_functions.ps1](https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/assistants/virtual

[2020-09-09 19:00] connectmteam commented on #2651
PS /Users/vkbalasub> az --version
azure-cli                         2.11.1
core                              2.11.1
telemetry                          1.0.5 *
Python location '/usr/local/Cellar/azure-cli/2.11.1/libexec/bin/python'
Extensions directory '/Users/vkbalasub/.azure/cliextensions'
Python (Darwin) 3.8.5 (default, Jul 21 2020, 10:42:08)
[Clang 11.0.0 (clang-1100.0.33.17)]

I have not been

[2020-09-09 19:51] connectmteam commented on #2651
I have gone ahead and installed the BF-CLI to get all the tools in place. However, have run into some errors on the install as below and have manually installed Luisgen using dotnet.

Vinays-MacBook:~ root# npm install -g chatdown msbot ludown luis-apis qnamaker botdispatch luisgen
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
n

[2020-09-09 19:54] connectmteam commented on #2651
I am able to run the Ludown and Dispatch commands now directly. Let me try the deployment once again after cleaning up with the new Luis_functions script you provided.

[2020-09-09 22:37] connectmteam commented on #2651
I ran the deployment again and the script errored out while deploying the models. Log below -

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'run', 'build' ]
2 info using npm@6.14.8
3 info using node@v14.9.0
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle meli@1.0.0~prebuild: meli@1.0.0
6 verbose lifecycle meli@1.0.0~pre

[2020-09-09 22:42] GeoffCoxMSFT commented on #3644
@ipraveenMS - Hello.  We assumed you are a Microsoft employee because your alias ends in MS.  If you are a Microsoft employee, I highly recommend joining the Microsoft organization on GitHub.  It helps teams distinguish between customer and internal reporting of issues.

https://docs.opensource.microsoft.com/tools/github/accounts/linking.html

[2020-09-10 13:40] connectmteam commented on #2651
Reinstalled npm and all components and went through install with the latest luis_functions.ps1 script. Install went fine. Appreciate the support. Will seek help on any other issue on appropriate threads if there is a need.

[2020-09-10 17:35] Batta32 opened #3652 "[TypeScript] Migration to TypeScript 4.0"
## User Story
As TypeScript v4 release was published
I want to update the solutions from botframework-solutions to TypeScript 4

## Acceptance Criteria

Migrate the following solutions to TypeScript 4:

- [X] [Virtual assistant](https://github.com/microsoft/botframework-solutions/tree/master/templates/typescript/samples/sample-assistant)
- [X] [Skill](https://github.com/microsoft/botframework-solu

[2020-09-10 18:13] GeoffCoxMSFT commented on #3638
@peterinnesmsft - Please drive this PR to closure to resolve this issue.

[2020-09-10 18:31] ipraveenMS commented on #3644
Hi My acc is already linked. Will provide more details in private message.

[2020-09-10 18:39] VictorGrycuk commented on #3626
Hi @tomSauret847, thank you for your detailed diagram, it really helped us to understand better the situation. We made some tests, and we believe that we were able to **reproduce** the behaviour that you are observing on your side. Could you please **confirm** it?

We [replicated the logic](https://github.com/southworks/botframework-solutions/blob/feature/southworks/issue-3626/polling-loop/templat

[2020-09-10 19:01] VictorGrycuk commented on #3626
@tomSauret847 - we modified the dummy method to include a possible workaround.

The same skill sample has a [modified dummy poll](https://github.com/southworks/botframework-solutions/blob/feature/southworks/issue-3626/polling-loop/templates/typescript/samples/sample-skill/src/dialogs/sampleDialog.ts#L92-L109) chat method with a possible workaround. To test this follow these steps:

**Steps**
1.  I

[2020-09-10 20:04] tomSauret847 commented on #3626
Thank you @VictorGrycuk for this. Yes we are able to run the lop and end the skill with the work around. But when a message is typed in while in the loop it starts another instance of the loop. This will cause problems as it will increase the polling with every message the customer types in. Do you know of a way that when we are in the loop to intercept the customer's messages to prevent starting

[2020-09-10 20:16] VictorGrycuk commented on #3626
Thanks @tomSauret847, we will look into this and get back to you as soon as we have an update.

[2020-09-10 21:10] tomSauret847 commented on #3626
Thank you @VictorGrycuk I did do some testing and found if I put a check in the "greetUser" step it will not restart the loop. I added the following code into that step. Let me know you thoughts on this possible fix.

        if (userProfile.chatting) {
            // send customers message to the chat servers
            return SampleDialog.EndOfTurn;
        }
        // we start the chat and ge

[2020-09-11 14:21] tommyJimmy87 commented on #3496
Hi @Batta32 and @DiegoCardozo94,

I have one a generic question but since I'm using this Branch in our project already even though has not been released I would ask it here.

In our scenario, we have MS Teams as the only channel, I see that the TeamsActivityHandler is used only in the VA and not in the skill's sample is that right? Because maybe wrongly I was extending also in the skill the TeamsA

[2020-09-11 15:36] Batta32 commented on #3496
Hi @tommyJimmy87, the `TeamsActivityHandler` is derived from `ActivityHandler` which adds support for the Microsoft Teams specific events and interactions.

The Virtual Assistant is the one which interacts to the Microsoft Teams Channel in the schema of Virtual Assistant connected to Skills, so the `DefaultActivityHandler` of the **Virtual Assistant needs to extend** from the `TeamsActivityHandler

[2020-09-11 18:30] dmvtech commented on #2651
Glad to hear. Glad you got it working!!!

If you continue to have problems, please create a _new_ issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-09-11 18:50] matiasroldan6 commented on #3612
Hi @tomSauret847, we could **reproduce** the issue with the QnA Maker dialogs not displaying performance in Power BI.
 Unfortunately, it seems to be an **issue with the BotBuilder SDK** so we raised the issue microsoft/botbuilder-js#2779. You can track that issue in order to have the news of the problem.

In order to display the QnA performance information it's necessary to, among other things, en

[2020-09-11 18:56] tomSauret847 commented on #3612
Thank you @matiasroldan6 for looking into this. I have subscribed to that issue so I will stay updated as they implement a fix for it.

[2020-09-11 21:31] scheyal opened #3653 "(https://aka.ms/bfexperimentalskill returns 404"
Link is broken

https://aka.ms/bfexperimentalskill

[2020-09-11 21:32] tomSauret847 commented on #3626
@VictorGrycuk I have been doing some more testing and the VA is still trowing a error 2 minutes into the Skill running. It appears as though the message is not getting received by the skill until the loop stops running. Even looking at the gif from above the last message you send before the loop starts does not send until the loop completes. this will cause the below error to be thrown
Error: sock

[2020-09-14 07:40] xieofxie commented on #3653
@lauren-mills could you help this? Thanks

[2020-09-14 07:44] GitDruid opened #3654 "Token exchange process starts but rise an InternalServerError exception."
The token exchange process starts but rise an InternalServerError exception (see attachment).

[Exception on token exchange.txt](https://github.com/microsoft/botframework-solutions/files/4967634/Exception.on.token.exchange.txt)

_Originally posted by @GitDruid in https://github.com/microsoft/botframework-solutions/issues/3579#issuecomment-663121663_

[2020-09-14 08:30] saikumaru opened #3656 "Need more clarity on this documentation - updateCogintiveModels[Docs]"
/virtual-assistant/handbook/deployment-scripts/

This part
Run the following command from your project directory to export the .lu schema of your LUIS model and update your Dispatch model and DispatchLuis.cs file:
` .\Deployment\Scripts\update_cognitive_model.ps1 -RemoteToLocal`

 Do you mean "import the .lu schema"? because with -RemoteToLocal we arent exporting anything.

Please advice

[2020-09-14 12:43] Batta32 commented on #3656
Thanks @saikumaru for reporting this issue!
Reviewing the [/virtual-assistant/handbook/deployment-scripts](https://microsoft.github.io/botframework-solutions/virtual-assistant/handbook/deployment-scripts/) document, the `RemoteToLocal` is a flag to indicate that local files should be updated based on hosted models. Basically, to **import** the hosted models updating the local LU files.

As soon as

[2020-09-14 20:29] lauren-mills commented on #3653
Updated https://aka.ms/bfexperimentalskills

[2020-09-14 20:31] #3653 closed

[2020-09-15 17:14] ipraveenMS commented on #3644
@peterinnesmsft its been many days this issue is open. We need help

[2020-09-16 12:51] mrakn opened #3657 "[MS Teams] Unable to upload attachments to bot"
Hi,

We have 1v1 bot available to our users through MS Teams. Since roughly this week, it is no longer possible to upload attachments to the bot - it fails with error (see below).

The uploading itself is done simply by opening up chat window with bot, clicking on paperclip icon, clicking on _Upload from my computer_ and finally choosing the file to upload:
![att01](https://user-images.githubuserc

[2020-09-16 14:10] saikumaru commented on #3615
@lauren-mills  I liked the solution, would you have a date when you plan to add that fix?

[2020-09-16 14:17] Batta32 commented on #3649
Hi @rodrigoratan, sorry for the delay. We created the PR #3658 which updates the wrong example in the document you mentioned.

Feel free to add your feedback!

[2020-09-16 19:32] dawwa opened #3659 "luis.endpoint in the generated appsettings.json is assigned with authoring endpoint"
CLI Version: @microsoft/botframework-cli/4.9.1 win32-x64 node-v12.16.3

This is what gets generated for the luis section in the appsettings.json for both VA and Skill Projects.
Or is endpoint meaning authoringEndpoint instead of runtime endpoint?

Actual:
https://dawwavatest-luisauthoring-xca4duu.cognitiveservices.azure.com/

Expected:
https://dawwavatest-luisruntime-xca4duu.cognitiveservices.azur

[2020-09-16 19:40] VictorGrycuk commented on #3626
Hi @tomSauret847, we analyzed the [mentioned](https://github.com/microsoft/botframework-solutions/issues/3626#issuecomment-690733083) possible fix. While it **does make sense** to validate if the loop is running, and if it does, prevent it to run it again, **we suggest** to decouple the logic of the loop and the logic that handles the messages.

As an example, we modified the skillSample and added

[2020-09-17 10:23] vkansal01 opened #3660 "There was an error while connecting the Skill to the Assistant"
**There was an error while connecting the Skill to the Assistant: SyntaxError: Unexpected token / in JSON at position 49.**

when i tried to use bot skills connect.

 botskills connect --remoteManifest "/manifest/manifest1.json" --cs --luisFolder  "D:\VirtualAssistantexample\VirtualAssistantexample\VirtualAssistantexample\Deployment\Resources"
i am getting below error what json i have to check and

[2020-09-17 11:59] tomSauret847 commented on #3573
Thank you @Batta32
1. We are using the messaging endpoint of the VA in the trusted host configuration.
2. we are using the .tgz package that was cloned from the 1.0 release. We removed the node_modules folder and the package-lock.json files prior to moving over the the .tgz package. Then updated the package.json file and then ran the npm install
3. We have tested with the local host and received t

[2020-09-17 12:42] Batta32 commented on #3659
Thanks @dawwa for reporting this issue, we will be reviewing the use and meaning of `endpoint` in the luis section after the deployment of a bot.
As soon as we have any update, we will back to you 😊.

[2020-09-17 12:51] Batta32 commented on #3657
Thanks @mrakn for reporting this issue! We have some questions in order to validate the environment that you are using:
1. What do you mean with "_1v1 bot_"?
1. Are you using a Virtual Assistant or a Skill?
1. Are you using C# or TypeScript?
1. Can you check the version of the BF SDK that you are using? A week ago, the BF SDK@4.10.3 was released in [TypeScript](https://www.npmjs.com/package/botbui

[2020-09-17 13:09] Batta32 commented on #3660
Thanks @vkansal01 for reporting this issue! Can you check if the Virtual Assistant `cognitivemodels.json` file contains a correct JSON structure?

Also, we have some questions in order to validate your environment:
1. Which version of botskills are you using?
1. Are you executing the botskills connect command in the Virtual Assistant location?
1. Is the path to the remote `manifest1.json` correct?

[2020-09-17 13:24] vkansal01 commented on #3660
Right now i am getting  below error i.e.
**There was an error while connecting the Skill to the Assistant:
SyntaxError: Unexpected string in JSON at position 337**
 i am using Calendar skill _**_skill-manifest-2.1.preview-0_**_
Are you executing the botskills connect command in the Virtual Assistant location? YEs
Is the path to the remote manifest1.json correct? Yes
Have you deployed the Virtual A

[2020-09-17 14:06] Batta32 commented on #3656
Hi @saikumaru , we created the PR #3661 fixing the definition of `RemoteToLocal` argument.

Feel free to add your feedback in the Pull Request!

[2020-09-17 15:18] Batta32 commented on #3660
Thanks for your reply @vkansal01, this issue is related to one of the JSON file that botskills is consuming when botskills connect is executed.

Taking into account you mentioned that you have deployed the bots using Web deployment, can you confirm if the structure of the `cognitivemodels.json` and the `appsettings.json` of your Virtual Assistant is correct?

You can find the following **documents

[2020-09-17 15:33] vkansal01 commented on #3660
We are using both file cognitivemodels.json and the appsettings.json. i am sending you my file content

[2020-09-17 15:33] vkansal01 commented on #3660
Skill file.
{
  "$schema": "https://schemas.botframework.com/schemas/skills/skill-manifest-2.1.preview-0.json",
  "$id": "EmailSkill",
  "name": "Email Skill",
  "description": "The Email skill provides email related capabilities and supports Office and Google calendars.",
  "publisherName": "Microsoft",
  "version": "1.1",
  "iconUrl": "https://{YOUR_SKILL_URL}/images/EmailSkill.png",
  "copyrigh

[2020-09-17 15:35] vkansal01 commented on #3660
Cognitivemodel.json

{
  "cognitiveModels": {
    "en-us": {
      "languageModels": [
        {
          "authoringRegion": "southcentralus",
          "type": "luis",
          "appId": "",
          "authoringKey": "",
          "id": "VirtualAssistantSkillen_Calendar",
          "name": "VirtualAssistantSkillen_Calendar",
          "region": "southcentralus",
          "subscriptionKey": "",

[2020-09-17 15:37] vkansal01 commented on #3660
Appsetting.json

{
  "microsoftAppId": "",
  "microsoftAppPassword": "",
  "botWebAppName": "VirtualAssistantCalendarBot",
  "translatorKey": ""
  "oauthConnections": [
    {
      "name": "",
      "provider": "",
      "type": "openUrl"
    }
  ],
  "ApplicationInsights": {
    "InstrumentationKey": ""
  },
  "blobStorage": {
    "type": "",
    "connectionString": "",
    "container": "calendar

[2020-09-17 15:38] Batta32 commented on #3660
Thanks @vkansal01 for attaching those files! We will be reviewing this issue and as soon as we have any update, we will back to you 😊.

[2020-09-17 15:41] Batta32 commented on #3573
Thanks @tomSauret847, we will continue reviewing this issue with this new information that you provided! As soon as we have any update, we will back to you 😊.

[2020-09-17 16:08] tomSauret847 commented on #3626
Thank you @VictorGrycuk I have checked out the sample you provided and tested it. I have found it restarts the MainDialog over again when the customer types in a message. I will ensure I decouple the loop from the logic and wait for a response on why we are getting the socket hang up.

[2020-09-17 17:30] dawwa opened #3662 "update_cognitive_models.ps1 - dispatch refresh failed with Exit Code 1 Error in Deployment Automation"
Something that I did not figure out returns exit code 1 in this command and gets caught by the deployment automation engine thus blocked the further execution.

update_cognitive_models.ps1
[code]

**Workaround**: Removing the ` 2>> $logFile ` part from the command, but keep the `| Out-Null` to ensure not printing secrets to the console log.

[2020-09-18 15:20] Batta32 commented on #3626
Hi @tomSauret847 - we **reproduced** the "_socket hang up error_", both using a Virtual Assistant and running the Skill alone.
We believe this is happening because the flow of the code is stopped at the await that calls the loop, and the communication time out in [restify](https://www.google.com/search?q=restify+npmjs&oq=restify+npmjs&aqs=chrome..69i57j35i39j0l6.3807j0j7&sourceid=chrome&ie=UTF-8)

[2020-09-18 15:38] Batta32 commented on #3662
Thanks @dawwa for reporting the issue, we will try to reproduce the issue first and as soon as we have any update here we will back to you 😊.

Also, we will review the workaround that you mentioned of removing the `2>> $logFile` but keep the `| Out-Null`.

[2020-09-21 01:23] #3545 closed

[2020-09-21 12:39] Batta32 commented on #3489
This issue is solved with PR #3567.

[2020-09-21 12:40] Batta32 commented on #3529
This issue is solved with PR #3642.

[2020-09-21 12:41] Batta32 commented on #3530
This issue is solved with PR #3641.

[2020-09-21 12:41] Batta32 commented on #3581
This issue is solved with PR #3594.

[2020-09-21 12:42] Batta32 commented on #3613
This issue is solved with PR #3616.

[2020-09-21 12:42] Batta32 commented on #3617
This issue is solved with PR #3618.

[2020-09-21 12:43] Batta32 commented on #3629
This issue is solved with PR #3632.

[2020-09-21 12:44] Batta32 commented on #3630
This issue is solved with PR #3631.

[2020-09-21 15:37] Batta32 opened #3663 "Rename master references to main"
## User Story
As the `master` branch will be renamed to `main` branch
I want to have all the references correctly working

## Acceptance Criteria
*List your requirements.*
- [X] Collect all the references that should be renamed from `master` to `main`
- [X] Update the references
- [X] Test/Validate the changes

## Resources
*Provide any screenshots or conversation mockups to support your request.*

[2020-09-22 01:37] tdurnford commented on #3654
@Batta32 Can you take a look at this?

[2020-09-22 09:02] davidmcgowan commented on #3574
Hello, have you been able to reproduce this issue?

[2020-09-22 12:14] Batta32 commented on #3654
Sure @tdurnford! We will be reviewing this issue and the PR #3655. As soon as we have any update, we will back here 😊.

[2020-09-22 19:32] VictorGrycuk commented on #3626
Hi @tomSauret847, we further analyzed the issues you experienced and came to some **conclusions**.

### Main Problem

Like you [mentioned](https://github.com/microsoft/botframework-solutions/issues/3626#issue-681058804), we believe that the **main problem** was how the loop was implemented. Because you are awaiting a loop, the logic of the bot is stuck at the `await` until the loop ends. This not

[2020-09-23 07:35] mrakn commented on #3657
Hi @Batta32, strangely I tried it again just 2 days after I opened this issue and everything is working now. The attachment uploading now works. We did not do any code changes or app manifest publishes to none of our bots.

Closing.

[2020-09-23 07:35] #3657 closed

[2020-09-23 11:11] SSanjeevi opened #3664 "Virtual assistant User Greet message is not triggering in webchat iframe"
#### What project is affected?

Virtual Assistant

#### What language is this in?
C#

#### What happens?
Virtual assistant User Greet message is not triggering in webchat iframe.

#### What are the steps to reproduce this issue?
Deploy the basic virtual assistant bot and use iframe as the channel in website, on loading of the iframe welcome message is not triggerred.

#### What were you expecting

[2020-09-23 11:19] SSanjeevi commented on #3664
This issue seems to have answer for old version of bot framework: https://github.com/microsoft/botframework-sdk/issues/2098, but for latest version of virtual assistant - i see the implementation already there on MemberAdded method - but still it's not triggering.

[2020-09-23 12:07] Batta32 commented on #3657
Great @mrakn! If you have another problem just feel free to open a new issue 😊.

[2020-09-23 12:37] Batta32 commented on #3664
Thanks @SSanjeevi for reporting this issue. We came up with some **questions** to understand your environment:
1. What do you mean with `Webchat iframe` channel? Is the [BotFramework-WebChat](https://github.com/Microsoft/BotFramework-WebChat)?
1. Are you using the [C# Virtual Assistant Sample](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants/virtual-assista

[2020-09-23 14:12] Batta32 commented on #3660
Hi @vkansal01, we succesfully **reproduced**, **identified** and **solved** the issue.

### Cause
1. We noticed that the Virtual Assistant `appsettings.json` you [attached](https://github.com/microsoft/botframework-solutions/issues/3660#issuecomment-694318489) presents a wrong JSON structure as it's missing a comma between `translatorKey` and `oauthConnections` properties.
1. Also, we identified t

[2020-09-23 16:39] SSanjeevi commented on #3664
1. In bot channel iframe embed in website channel.
2. Yes C# Virtual Assistant.
3. BF. 4.7 i think.. the one which comes with 1.0 of Virtual Assistant
4. yes deployed

[2020-09-24 12:08] tomSauret847 commented on #3626
Thank you @VictorGrycuk for the suggestions. I have found a couple issues with the implementation so far.

1. Using a static variable in the LoopingDialog will prevent multiple users from using the skill at the same time. This will lock the skill down so it can only be used by 1 customer at any one time.
2. By removing the await and letting the skill end control we are unable to capture the custom

[2020-09-24 13:45] KoradaRajesh commented on #2456
@darrenj  Passing data from skill to Parent Bot with out using Dialogs can this possible?

using below snippet to call skill from root bot
            **var response = await _skillClient.PostActivityAsync(_botId, targetSkill, _skillsConfig.SkillHostEndpoint, turnContext.Activity, cancellationToken);**

using below snippet to end conversation in skill bot

**var endOfConversation = Activity.CreateE

[2020-09-24 20:18] VictorGrycuk commented on #3654
Hi @GitDruid, we were able to **reproduce** the InternalServerError exception.

So far the changes made on the PR [#3655](https://github.com/microsoft/botframework-solutions/pull/3655) seems to be right regarding the botbuilder [SDK](https://github.com/microsoft/botbuilder-dotnet/blob/bdf9ef368295f1fe150d5793520be86e76a01437/libraries/Microsoft.Bot.Builder/OAuth/IExtendedUserTokenProvider.cs#L138)

[2020-09-25 11:36] ambuj74 opened #3666 "Passing Data from skills bot to root bot without using dialogs"
0

I have 2 skills connected to a RootBot, and I am trying to invoke Skill B from Skill A (at the end of Skill A, and with no further action by the user). I know that I have to go through the RootBot for that. I have a problems to handle:

Passing data from Skill A -> RootBot

if i can pass data from skill A to Rootbot i can Pass data from RootBot-> Skill B

I'm using below snippet to call skill f

[2020-09-25 15:36] ambuj74 commented on #3666
@darrenj  can you please help

[2020-09-25 16:29] tdurnford commented on #3623
@peterinnesmsft Any updates on this?

[2020-09-25 19:28] VictorGrycuk commented on #3626
Hi @tomSauret847, final **suggestions** below:

1.  Yes, you are right. We simply used a `static` property for the sake of simplicity. You will have to convert it into a `public` instance property of the LoopDialog.
2.  Awaiting on the loop wouldn't prevent the skill to communicate back to the user? We think that the loop that retrieves the messages from the web chat server should run independentl

[2020-09-25 19:35] sgellock commented on #3666
@ambuj74 are you using the virtual assistant solution accelerator?

[2020-09-25 19:39] tomSauret847 commented on #3626
Thank you @VictorGrycuk Yes the skill is able to communicate back to the user, but we cannot receive the user's messages in the skill. We NEED those messages to forward to the chat server so the live agent can get responses from the user. By holding open the socket it will keep the skill active and allow us to get the user's messages to forward to the live agent. If we allow the skill to return ba

[2020-09-25 20:59] matiasroldan6 commented on #3573
Hi @tomSauret847, we successfully reproduced an occurrence of this issue.

One thing we noticed from your [previous responses](https://github.com/microsoft/botframework-solutions/issues/3573#issuecomment-689510502) is that you're using your bot URL as a trusted origin.
 According to [this comment](https://github.com/microsoft/BotFramework-Services/issues/100#issuecomment-441957719), and [this docu

[2020-09-25 21:25] Batta32 commented on #3654
@tdurnford & @GitDruid - after reviewing the changes of PR #3655, we confirmed that the changes are **correct** and follows the signature of the `ExchangeTokenAsync` of [IExtendedUserTokenProvider](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/OAuth/IExtendedUserTokenProvider.cs#L138) for botbuilder-dotnet and the parameters had to be inverted. Also, in b

[2020-09-25 21:36] VictorGrycuk commented on #3626
@tomSauret847 - as far as we researched, the **best approach** that our team found is to have the loop logic independently of `AgenTransferSkill` logic, and have it send the messages proactively to the Virtual Assistant since it would not block the flow of the bot as with the `await`. This loop would be started by the AgentTransferSkill when it's called by the Virtual Assistant and stopped by the

[2020-09-25 22:06] gabog commented on #3666
Hi @ambuj74, you can use the value property of the activity to pass parameters to a skill something like:

[code]

Also, if you want to return values when your skill completes, you can use the Value property for the EndOfConvesation activity:

[code]

This is the mechanism we use internally in the dialogs to receive and return parameters.

Does this help?

[2020-09-26 08:32] KoradaRajesh commented on #3666
@gabog The Value parameter is does not exist in endofConversation

![image](https://user-images.githubusercontent.com/51915291/94336427-dc3e4300-0000-11eb-890c-e8a346e5c8ae.png)

[2020-09-26 19:31] gabog commented on #3666
Hi @KoradaRajesh, my snippet above is wrong, use this approach to create the eocActivity instead (setting locale is optional but you may want to set it if you support multiple languages):

[code]

The issue is that Activity.CreateEndOfConversationActivity returns an IEndOfConversationActivity which doesn't expose the Value property. We couldn't add Value to IEndOfConversationActivity (or IActivity

[2020-09-26 20:38] KoradaRajesh commented on #3666
But It's not returning the value what I'm passing in EndofConversationActivity
![image](https://user-images.githubusercontent.com/51915291/94349857-45a46d00-0066-11eb-862a-368c1f01b097.png)

![image](https://user-images.githubusercontent.com/51915291/94349762-4ab4ec80-0065-11eb-8ab8-a2e11e478bc5.png)

[2020-09-27 01:24] #3630 closed

[2020-09-27 01:24] #3581 closed

[2020-09-27 01:24] #3489 closed

[2020-09-27 01:45] #3530 closed

[2020-09-27 01:45] #3529 closed

[2020-09-27 17:38] gabog commented on #3666
I'm not sure I understand your scenario @KoradaRajesh, can you please provide more context on what you are trying to do? What type of bot you are you trying to create, what channel are you targeting, what does the skill and the root bot do, what do you expect to do in OnMemebersAddedAsync, do you want to handle this on the skill or the root bot, etc.

As you already noticed the result for EoC will

[2020-09-28 15:18] Batta32 commented on #3662
Hi @dawwa - sorry for the delay. We successfully **reproduced** the issue of Exit Code 1 executing the `update_cognitive_models.ps1` script in a pipeline.

We will be checking the best approach to solve this, as soon as we have any update, we will back to you here 😊.

_Exit code error 1_
![image](https://user-images.githubusercontent.com/11904023/94451266-901c0b80-0184-11eb-94cf-ff0b822b8f94.png)

[2020-09-28 17:14] Batta32 commented on #3662
@dawwa - we successfully **confirmed** that the workaround you suggested (remove `2>> $logFile`) works for the `update_cognitive_models.ps1` execution.

We researched about the `2>> $logFile` implementation that basically logs all the error output of a specific command inside the log file:
- `2`: error stream
- `>>`: append specified stream to a file
- `$logFile`: is the `update_cognitive_models_l

[2020-09-29 05:59] neetgupta7 opened #3668 "QnA Service doesn't log metadata into AppInsights"
#### QnA Maker Service

QnA maker services doesn't log MetaData into AppInsight telemetry. Only below info is logged-
![image](https://user-images.githubusercontent.com/28854156/94518136-fec19d80-0246-11eb-8ec3-9f5c0ab3455e.png)

Can this be extended?

[2020-09-29 11:16] manish-95 commented on #3614
Hi @peterinnesmsft , my apologies for the extremely late update on this, however, I have taken a copy of the file with the new changes, and it seems to work fine, for all the cases that I am using.

[2020-09-29 16:00] ambuj74 commented on #3666
@gabog here the scenario is i have a root bot where I have used a Luis dispatcher and 2 skills bot (i.e. HR and IT) when root bot is getting an utterance it is hitting to dispatcher and if question is regarding IT its going to IT skills, if question is regarding HR it is going to HR skills, and I am also using separate Luis cognitive service in both the skill i.e. one for IT and another  for HR, n

[2020-09-29 16:16] parasdesaicims opened #3669 "Error While connecting Skill to VA"
Getting Error while added the skill to the VA. Below is the error

π Virtual-Assistant-ibot-test/MyAssistant1/MyAssistant1/MyAssistant1 master ✗ ❯ botskills connect --remoteManifest "https://rg-eu2-va-emailskill-test-xqvnn6q.azurewebsites.net/manifest/manifest-1.1.json" --cs --luisFolder "VA - Emailskill - test/VA---Emailskill---Test/Email_skill/Email_skill/Deployment/Resources/LU/en-us/Email_skil

[2020-09-29 17:10] Batta32 commented on #3669
Hi @parasdesaicims, thanks for reporting this issue. We will show you the problem of each attempt that you attached, also with the necessary fix so can accomplish the connection of the Virtual Assistant to the Email Skill.

Attempts:
* The problem of the attempts 1 and 2 is that you are using a path to the luis file instead of pointing to the LU folder as `--luisFolder` [requests](https://github.c

[2020-09-29 17:34] parasdesaicims commented on #3669
I think, I tried that already but giving it a try again. Now there is a new error message :

π Virtual-Assistant-ibot-test/MyAssistant1/MyAssistant1/MyAssistant1 master ✗ ❯ **botskills connect --remoteManifest "https://rg-eu2-va-emailskill-test-xqvnn6q.azurewebsites.net/manifest/manifest-1.1.json" --cs --luisFolder "/Users/pdesai/OneDrive - Icims, Inc/GIT/VA - Emailskill - test/VA---Emailskill---T

[2020-09-29 18:02] Batta32 commented on #3669
Thanks @parasdesaicims for your reply, we will be reviewing your comment and as soon as we have any update, we will back to you 😊.

[2020-09-29 18:07] ninggao commented on #3668
@peterinnesmsft Could you please take a look at this?

[2020-09-29 23:06] parasdesaicims opened #3670 "Email Skill not working as expected."
**What project is affected?**

1.  Email skill

**What language is this in?**

English

**What happens?**

Email skill doesn't work.

**What were you expecting to happen?**

Expecting the skill to work as in the sample email Transcript.

**How is it setup**

Deployed the Email skill as documented : [https://microsoft.github.io/botframework-solutions/skills/tutorials/create-skill/csharp/4-provision

[2020-09-30 09:16] MHeadroom opened #3671 "Creating Visual Studio 2019 Project using the Virtual Assistant Template fails"
I was following the tutorial in order to create a Virtual Assistant. I downloaded and installed all necessary resources as described here:

https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/create-assistant/csharp/2-download-and-install/

In the nextstep one is asked here

https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/create-assistant/c

[2020-09-30 12:56] Batta32 commented on #3659
Hi @dawwa, sorry for the delay. We successfully **reproduced** this issue and **found** inconsistencies in the deployment of the bots. However, the `luis` section **doesn't affect** to the functionality of the bots.

By default, the deployed one should be `luisauthoring` following this [document](https://microsoft.github.io/botframework-solutions/virtual-assistant/handbook/deployment-scripts/) (ch

[2020-09-30 13:35] Batta32 commented on #3671
Thanks @MHeadroom for reporting this issue. In order to narrow your environment, we came up with some **questions**:
1. Which version of the VSIX have you installed?
1. Have you checked this [comment](https://github.com/microsoft/botframework-solutions/issues/2635#issuecomment-555691295) of the similar issue you attached #2635?
1. Have you checked if this issue happens using another version of VS?

[2020-09-30 15:50] MHeadroom commented on #3671
Hi there, thanks for the quick reply. In answer to your questions:

1. Here's all information on my Visual Studio version and installed extensions (copied from VS menu / Help / Info about Microsoft Visual Studio):

Microsoft Visual Studio Community 2019
Version 16.7.5
VisualStudio.16.Release/16.7.5+30523.141
Microsoft .NET Framework
Version 4.8.03752

Installierte Version: Community

Visual C++ 20

[2020-09-30 18:53] Batta32 commented on #3648
Hi @dawwa, sorry for the delay, we came up with some **questions** in order to validate this issue:
1. Can you attach the detailed steps that you are follow so we can reproduce the issue?
1. What do you mean with `Deploy the same luis app twice with two different versions.`?
1. How are you changing the version of the luis app?
1. Are you executing the `luis_functions.ps1` alone? Or are you executi

[2020-09-30 19:12] #3635 closed

[2020-10-01 16:54] Batta32 commented on #3669
Hi @parasdesaicims! We will try to reproduce your scenario in our side in order to find the best approach for you, as soon as we have any update for this we will back to you in this issue 😊!

Last but not least, the issue is related to the path that the `--luisFolder` argument is receiving for the connect command.

[2020-10-01 17:02] parasdesaicims commented on #3669
Yes, I think that is the issue. Also, tried to replicate the issue on Mac and windows but getting the same error.

-Thanks & Best Regards,
Paras Desai | Infrastructure Engineer | iCIMS
t: .. e: Paras.Desai@icims.com<mailto:Paras.Desai@icims.com>

​ [signature_1235736572] <https://www.icims.com/>

From: Martin Battaglino <notifications@github.com>
Reply-To: microsoft/botframework-solutions <reply@r

[2020-10-01 20:44] VictorGrycuk commented on #3573
Hi @tomSauret847, we **successfully** executed the authentication process using Enhanced Authentication.

We came up with some **questions**  so you can check in our side:

1.  Can you check if you have the published folders of the deployed bots accessing in Kudu (https://<WEB_APP_BOT_NAME>.scm.azurewebsites.net/ZipDeployUI) replacing `<WEB_APP_BOT_NAME>` with the name of your bot resource? Check

[2020-10-01 21:50] dmvtech commented on #3671
I'll take a look to see if I can reproduce this.

[2020-10-02 04:06] neetgupta7 commented on #3668
@ninggao @petand123 do you have any updates on this?

[2020-10-02 08:21] GitDruid opened #3672 "[Docs] Broken links and documentation to be updated."
/overview/virtual-assistant-template/

Many links are broken and also some sentences appear to be referring to old implementation (e.g. "The MainDialog dialog provided in the template derives from a base class called RouterDialog").

[2020-10-02 08:42] GitDruid opened #3673 "[C#] Template placeholder not replaced."
When creating a skill project in C# from "VA and Skills Template", inside the ci-cd file ./Pipeline/[SkillSample].yml, the variable $safeprojectname$ is not replaced with the actual value.

[2020-10-02 12:00] simonthurman opened #3674 "The link to the Automotive Assistant is incorrect [Docs]"
/overview/virtual-assistant-solution/

[2020-10-02 12:10] Batta32 commented on #3672
Thanks @GitDruid for reporting this issue, we confirmed that [/overview/virtual-assistant-template/](https://microsoft.github.io/botframework-solutions/overview/virtual-assistant-template/) has broken links and is outdated.

We will be reviewing this and as soon as we have any update, we will back to you 😊.

[2020-10-02 12:16] Batta32 commented on #3673
Thanks @GitDruid for reporting this issue. Which version of the VSIX are you using?

We will be reviewing the [Pipeline/SkillSample.yml](https://github.com/microsoft/botframework-solutions/blob/master/templates/csharp/Skill/Skill/Pipeline/SkillSample.yml) in order to reproduce this issue and we will back to you as soon as we have any update 😊.

[2020-10-02 12:18] Batta32 commented on #3674
Thanks @simonthurman, we confirmed that the [/overview/virtual-assistant-solution/](https://microsoft.github.io/botframework-solutions/overview/virtual-assistant-solution/) contains some incorrect links.

We will update the documentation and as soon as we have any update, we will back to you 😊.

[2020-10-02 12:26] GitDruid commented on #3673
Template 4.9.1.2 (see screenshot)

![VAAST](https://user-images.githubusercontent.com/4527837/94922817-21f48300-04bb-11eb-90c9-2d302f7cc98d.png)

[2020-10-02 12:27] Batta32 commented on #3673
Thanks @GitDruid for your quick reply, we will have that in mind to replicate the issue!

[2020-10-02 16:03] petand123 commented on #3668
I'm not familiar with this issue - did you mean to contact someone else?

[2020-10-02 18:28] ninggao commented on #3668
@petand123 Apologize, you are not assigned to this issue :)

@peterinnesmsft  Could you please take a look at this?

[2020-10-02 20:17] Batta32 commented on #3662
Hi @dawwa, we **raised** the issue microsoft/botbuilder-tools#1474 as we found that the problem is how dispatch refresh manages the Error Stream. Also, we created the PR #3675 adding a new [known issue](https://microsoft.github.io/botframework-solutions/help/known-issues/) with this scenario.

As a **workaround** you can change the `ErrorActionPreference` to `Continue` of the PowerShell task that

[2020-10-02 20:59] ipraveenMS opened #3676 "Not implemented error thrown from UpdateActivityAsync"
#### What project is affected?
Latest Virtual agent and latest skills

#### What language is this in?
c#
#### What happens?
I call UpdateActivityAsync which throws a Not implemented exception
#### What are the steps to reproduce this issue?
1. Copy the sample Virtual agent and sample skills, deploy both to azure and register skills with VA
2. Modify GreentUserAgent in sampledialog.cs in skill to a

[2020-10-03 01:00] ipraveenMS commented on #3676
BTW, I tested this with bot framework emulator AND with teams and I get same "Not implemented" error

[2020-10-04 07:52] ipraveenMS commented on #3676
Update:

Tried the below steps to reuse the message Id as well (as per https://stackoverflow.com/questions/55165282/updating-an-activity-in-botframework-v4-on-teams-platform?noredirect=1&lq=1) . The GreetUserAsync is existing function in skill sample modified (which posts a adaptive card to teams) UpdateActivityAsync is a new function added to the waterfall which uses the same activity id as the r

[2020-10-05 09:00] GitDruid commented on #3560
Just to keep it open...

[2020-10-05 09:02] GitDruid commented on #3579
No news about this?

[2020-10-05 17:57] lzc850612 commented on #3660
@vkansal01 can you please take a look at the above solution to see if it fixes your issue? Thanks.

[2020-10-05 17:57] lzc850612 commented on #3664
@Batta32 do you have any update for this issue? Thanks.

[2020-10-05 17:58] Batta32 commented on #3664
@lzc850612 - we are going to take this issue this week! As soon as we have any update we will post it here 😊.

[2020-10-05 19:02] peterinnesmsft commented on #3668
Investigating this now. Will provide an update later today.

[2020-10-05 21:17] Batta32 commented on #3645
This issue is fixed by PR #3651.

[2020-10-05 21:17] Batta32 commented on #3622
This issue is fixed by PR #3650.

[2020-10-06 00:28] dmvtech commented on #3671
Hi @MHeadroom Unfortunately I haven't been able to reproduce this yet. It should not be dealing with the tools or anything like that at this point (those are for a later point in the development/deployment process). If it's failing at just creating the project/solution, then it is something with the package, VS or the environment.

Can you verify the version of the visx template? For example, i'm

[2020-10-06 15:36] VictorGrycuk commented on #3664
Hi @SSanjeevi, we were able to **reproduce** this issue, however, we found that the behaviour is not related to the bot themselves but to how the webchat channel works.

We found the issue [microsoft/BotFramework-WebChat#2625](https://github.com/microsoft/BotFramework-WebChat/issues/2625), which leads to a [comment](https://github.com/microsoft/BotFramework-WebChat/issues/2120#issuecomment-5160566

[2020-10-06 16:48] #3622 closed

[2020-10-06 17:07] neetgupta7 commented on #3668
@peterinnesmsft any updates?

[2020-10-06 17:58] Batta32 commented on #3659
Hi @dawwa, sorry for the delay. After more research, we found that the **correct endpoint** of the luis section in the `appsettings.json` file is the **authoringEndpoint** as it's right now.

`luisRuntime` and `luisAuthoring` were introduced in the PR #2790 fixing the issue #2496 updating the ARM templates to deploy the Luis Authoring resource and remove the need for acquiring Authoring Key manual

[2020-10-06 20:38] Batta32 commented on #3669
Hi @parasdesaicims, we separated the scenarios in the environments you have tested the `botskills connect`.

### Using possible Linux OS
We came up with some **questions**:
1. What OS are you using?
1. What command line are you using to run botskills?
1. Which version of botskills are you using?

### Using Windows OS
We reviewed the attached error messages and found the following:
1. Execute `npm

[2020-10-06 21:30] matiasroldan6 commented on #3671
Hi @MHeadroom, we were unable to reproduce this issue so far.

We would like to join in on @dmvtech [request ](https://github.com/microsoft/botframework-solutions/issues/3671#issuecomment-703959702)and also ask for the VSIX version you are using.
Aside from that:

1. There's extra data you attached in the [VS Community report](https://developercommunity.visualstudio.com/content/problem/1194245/can

[2020-10-06 23:57] vkacherov opened #3677 "[TS] yo bot-virtualassistant:skill generated project runtime error"
#### What project is affected?
Yeoman bot-virtualassistant:skill generator

#### What language is this in?
TypeScript

#### What happens?
Runtime error when running 'npm run start'

#### What are the steps to reproduce this issue?
yo bot-virtualassistant:skill
npm install
npm run start

#### What were you expecting to happen?
bot to run locally

#### Can you share any logs, error output, etc.?
nod

[2020-10-07 06:08] peterinnesmsft commented on #3668
Hi @neetgupta7,

Apologies for the delayed response. In taking a look at your request, it appears that you are looking at the 'QnAMaker GenerateAnswer' trace event custom dimensions.

When a user creates a Virtual Assistant, the QnAMaker host that is created amongst your other Azure resources is configured to use the same Application Insights instance as your Virtual Assistant application. As a re

[2020-10-07 08:47] MHeadroom commented on #3671
Hi @dmvtech and @matiasroldan6,

thanks for your help. I could create the Virtual Assistant now.

In answer to your questions: I had installed the visx template in version 4.9.1.2 and Visual Studio in version 16.7.5 all along from the first attempt.

But here's what I did:

1. I repaired my Visual Studio installation using the Visual Studio Installer. Creation failed.

2. As @dmvtech guessed that

[2020-10-07 12:08] Batta32 commented on #3677
Thanks @vkacherov for reporting this issue. In order to narrow the problem, we came up with some **questions**:
1. Which version of `generator-bot-virtualassistant` have you installed?
1. Have you checked if the same issue happens generating a Virtual Assistant too?

We will try to reproduce this issue and as soon as we have any update, we will back to you here 😊.

[2020-10-07 12:58] vkacherov commented on #3677
Hi @Batta32, I'm using the latest version generator-bot-virtualassistant@1.0.1 and seeing the exact same issue generating/running the Virtual Assistant.

I'm running Yeoman 3.1.1, Node v13.12.0 and npm v6.14.8 on MacOS 10.15.6

[2020-10-07 13:38] Batta32 commented on #3677
Thanks @vkacherov for your quick reply, we will try to reproduce the environment and the issue. We will let know you the updates 😊.

[2020-10-07 15:17] jwiley84 commented on #3676
It means just what it says. `UpdateActivityAsync` isn't implemented where it can be accessed. `return await base.UpdateActivityAsync(conversationId, activityId, activity);`  means it's going to look in SkillDialogBase, but there's no matching method there by that name. If you've added it to a waterfall in GreetUserAsync, it will only be accessible in that waterfall.

[2020-10-07 16:50] ipraveenMS commented on #3676
@jwiley84 the exception thrown is from VA, not from skills project. The call get routed to the VA and the stack trace from above is from VA project.

[2020-10-07 18:27] jwiley84 commented on #3676
It might just be that it's bubbling up. Let me try a full repro of  your example and see if I  can trigger it.

[2020-10-07 19:38] matiasroldan6 commented on #3671
Great to hear @MHeadroom that you managed to create the C# Virtual Assistant using [VSIX@4.9.1.2](https://marketplace.visualstudio.com/items?itemName=BotBuilder.VirtualAssistantTemplate&ssr=false#overview)!

If you agree, we can close this issue but feel free to raise an issue if you have a problem.

Last, but not least, we still couldn't replicate the issue following same environment that [you me

[2020-10-07 21:21] parasdesaicims commented on #3669
Yes, it did work after redoing everything Though only have to point it to LU folder.

[2020-10-08 01:28] #3491 closed

[2020-10-08 01:53] #3547 closed

[2020-10-08 04:42] neetgupta7 commented on #3668
@peterinnesmsft  Can you pls direct me to content where this is present or some sample will be useful. Just FYI that I am making use of bot builder version 4.7.2-previewsso-103311

[2020-10-08 12:56] Batta32 commented on #3673
Hi @GitDruid, sorry for the delay. We successfully **reproduced** the mentioned issue. We confirmed that the variable `$safeprojectname$` is not replaced with the actual value using [VSIX@4.9.1.2](https://marketplace.visualstudio.com/items?itemName=BotBuilder.VirtualAssistantTemplate).

Repro Steps:
1. Install [VSIX@4.9.1.2](https://marketplace.visualstudio.com/items?itemName=BotBuilder.VirtualAss

[2020-10-08 13:58] Batta32 commented on #3674
Hi @simonthurman, sorry for the delay. We created the PR #3678 which removes the Automotive Assistant bullet from  [/overview/virtual-assistant-solution/](https://microsoft.github.io/botframework-solutions/overview/virtual-assistant-solution/) as it's not present in the [samples](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants) folder.

As soon as the Auto

[2020-10-08 18:42] Batta32 commented on #3654
Hi @GitDruid - we are finalizing a plan to release new packages that will include the PR #3655 and PR #3667. As soon as we have any update we will back to you 😊.

[2020-10-08 18:50] Batta32 commented on #3673
@GitDruid - we created the PR #3679 **fixing** the replacement of the `$safeprojectname$` placeholder with the actual value.

To validate the changes of the PR you can follow these steps using the [branch](https://github.com/southworks/botframework-solutions/tree/feature/southworks/fix-template-placeholder-not-replaced)(feature/southworks/fix-template-placeholder-not-replaced):
1. Uninstall your c

[2020-10-09 07:07] GitDruid commented on #2224
Hi @Avalaxy ,
try downloading the latest version of the script from the repository.
There was a fix about encoding issues that solved a similar problem to me:
https://github.com/microsoft/botframework-solutions/pull/3557/commits/3955f81374c871d1ac6f4ac6c7289c5144015098

Bye,
Alessandro.

[2020-10-09 12:45] Batta32 commented on #3672
Hi @GitDruid, we created the PR #3680 updating the documentation and fixing the broken links. Feel free to add your feedback!

[2020-10-10 00:10] #3671 closed

[2020-10-11 01:33] #3645 closed

[2020-10-12 04:36] neetgupta7 commented on #3668
@peterinnesmsft Can you pls respond to my prev query.

[2020-10-12 09:10] tommyJimmy87 commented on #3496
@Batta32 this is not yet released right?

[2020-10-12 11:29] tomSauret847 commented on #3612
@matiasroldan6 Are we still waiting for this to be fixed in the Botbuilder-js repo?

[2020-10-12 19:09] gabog commented on #3666
Hi @ambuj74, it looks like a complex scenario, would you be able to provide a small code sample that showcases the issue? I am not sure how much you customized the original solution. In general, you could try to return a special value in your end of conversation that tells the rootbot to start a dialog with another skill but we would need a sample project so we can narrow this down (if we can remo

[2020-10-13 09:21] neetgupta7 commented on #3668
@peterinnesmsft We are making use of QnAMakerDialog to access QnA service. Is it possible to log metadata through QnAMakerDialog?

[2020-10-13 12:48] Batta32 commented on #3496
Hi @tommyJimmy87 - we are finalizing a plan to release new packages. As soon as we have any update we will back to you here 😊.

[2020-10-13 12:53] Batta32 commented on #3612
Yes @tomSauret847, this last issue was a disparity in the SDK that we raised in microsoft/botbuilder-js#2779. The SDK team confirmed the disparity and they are currently working to solve this.

If you agree, we can close this issue and as soon as we any update about the SDK team, we will back to you here 😊.

[2020-10-13 12:56] tomSauret847 commented on #3612
Thank you @Batta32 I will close this issue and watch the one you provided.

[2020-10-13 12:56] #3612 closed

[2020-10-13 12:59] tomSauret847 commented on #3626
Thank you @VictorGrycuk and @Batta32 for your assistance on this issue. We are exploring another possible solution that we are getting ready to test now. We have developed this skill in C# that will allow us to perform the loop required. We will be leaving our VA and other skills in TypeScript and just converting this skill that needs the loop to run while it is active.

[2020-10-13 13:03] Batta32 commented on #3626
Great @tomSauret847! If you agree we can close this issue, but feel free to raise a new issue and we will help you 😊!

[2020-10-13 13:21] tomSauret847 commented on #3626
Thank you again for your assistance @Batta32 I will close this issue and watch for the publish of the bot-solutions 1.0.1

[2020-10-13 13:21] #3626 closed

[2020-10-13 16:36] dawwa opened #3683 "Version 4.10.3 - Exception: System.MissingMethodException: 'Method not found: 'AdaptiveExpressions.EvaluateExpressionDelegate..."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.3

## Describe the bug
Throws System.MissingMethodException after upgrading build packages from 4.9.3 to 4.10.3 for Bot Framework Solutions Skill projec

[2020-10-13 17:42] tomSauret847 commented on #3573
Thank you @VictorGrycuk. Sorry for the late response we needed to setup a testing instance to verify the fix. We have been able to get the authentication to work in the test instance and have narrowed down where the issue is.

For our instance of the VA /Skills we have them behind a app gateway with a firewall. It appears this is the reason the enhanced authentication is not working. When we imple

[2020-10-13 18:04] dawwa opened #3681 "Version 4.10.3 - Exception: System.MissingMethodException: 'Method not found: 'AdaptiveExpressions.EvaluateExpressionDelegate..."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.3

## Describe the bug
Throws System.MissingMethodException after upgrading build packages from 4.9.3 to 4.10.3 for Bot Framework Solutions Skill projec

[2020-10-13 18:23] Batta32 commented on #3677
Hi @vkacherov, we are currently working on this issue trying to reproduce the environment and the issue following the mentioned steps.

This week we will let you know any update that we can have 😊.

[2020-10-13 19:10] Batta32 commented on #3573
Great @tomSauret847! We will do a research and some tests in order to review a way to get the enhanced authentication working with a bot behind an App Gateway.

As soon as we have any update for this, we will let you know here 😊.

[2020-10-13 19:22] lauren-mills commented on #3681
Did a review of this and this appears to be an issue with the MultiLanguageLG class which the LocaleTemplateManager implements.

[2020-10-13 19:52] petand123 commented on #3668
Hi @neetgupta7  -- I'm still getting these comments and they need to go to @peterinnesmsft .

[2020-10-14 12:59] Batta32 commented on #3638
This issue is solved with PR #3643.

[2020-10-14 12:59] Batta32 commented on #3600
This issue is solved with PR #3601.

[2020-10-14 15:24] Batta32 commented on #3677
Hi @vkacherov, we successfully ﻿**reproduced** the mentioned issue, and furthermore we have a **workaround**.

We recommend you comment the line `"strict": true` of the [tsconfig.json](https://github.com/microsoft/botframework-solutions/blob/master/templates/typescript/samples/sample-skill/tsconfig.json) file of bot generated, and then run the `npm run start`.

### Additional Context
We raised the

[2020-10-14 17:02] Batta32 commented on #3659
Hi @dawwa, we created the PR #3682 that clarifies the `luis` section and updates the documentation.

Feel free to add your feedback on the Pull Request!

[2020-10-14 17:13] jwiley84 commented on #3676
I'm still repro'ing this. My apologies for the delay. I should have an answer for you by this afternoon.

[2020-10-14 17:23] peterinnesmsft commented on #3668
@neetgupta7, here are the relevant classes from the microsoft/botbuilder-dotnet repo:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.AI.QnA/QnAMaker.cs

QnAMaker::GetAnswersRawAsync takes in two parameters, telemetryProperties and tele

[2020-10-15 18:33] parasdesaicims commented on #3669
@Batta32  - While redeploying worked, but when I am adding skill to another virtual assistant it is giving below error.
PS C:\Users\pdesai1\OneDrive - Icims, Inc (1)\GIT\MyAssistant5\MyAssistant5\MyAssistant2\MyAssistant2> botskills connect --remoteManifest "https://mycalendarskill2-wgxyceo.azurewebsites.net/manifest/manifest-1.1.json" --cs --luisFolder "C:\Users\pdesai1\OneDrive - Icims, Inc (1)\

[2020-10-15 18:37] Batta32 commented on #3669
Thanks @parasdesaicims, we will try to reproduce the issue in our side and let you know any update as soon as possible!

[2020-10-15 23:41] lauren-mills commented on #3683
Confirmed with @dawwa that this is not a blocking issue at the moment. Since we'll need to solve this same problem for the R11 release we'll wait until its out to make the update and push the changes then.

@Batta32 - This should be solved with an update to the Microsoft.Bot.Solutions package to use the latest SDK version, but we'll wait for 4.11

[2020-10-16 12:07] Batta32 commented on #3683
Thanks @lauren-mills, we will wait for 4.11 to update the packages to use the latest SDK version.

In addition to this, we have the PR #3632 which updates the C#/TypeScript solutions to 4.10.3 and we are currently working to update TypeScript to [botbuilder@4.10.4](https://www.npmjs.com/package/botbuilder/v/4.10.4)

[2020-10-16 16:18] SSanjeevi commented on #3664
Thanks for the link and suggestion that worked for me.

[2020-10-16 16:19] #3664 closed

[2020-10-16 19:27] #3638 closed

[2020-10-16 20:48] ericchansen opened #3693 "botskills refresh can't be run in PowerShell task of Azure DevOps release pipelines"
## Tool
Name: Dispatch
Version: Latest
Agent pool: Azure pipelines
Agent Specification: vs2017-win2016

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Create a template Bot Framework Virtual Assistant
2. In the release pipeline, install the pre-requisite npm tools and attempt to use `botskills refresh --cs ./path/to/cogn

[2020-10-19 12:06] Batta32 commented on #3656
This issue is fixed with PR #3661

[2020-10-19 13:00] Batta32 commented on #3669
Hi @parasdesaicims, we managed to **reproduced** the issue you mentioned.

We used the following **environment**:
- [botskills@1.0.16](https://www.npmjs.com/package/botskills/v/1.0.16)
- [C# Virtual Assistant Sample](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants/virtual-assistant)
- [C# Calendar Skill](https://github.com/microsoft/botframework-skills/tre

[2020-10-19 15:10] Batta32 commented on #3669
@parasdesaicims - we found **2 workarounds** for this issue. The problem is that [botskills@1.0.16](https://www.npmjs.com/package/botskills/v/1.0.16) doesn't wrap the paths that contains whitespace which is solved in the merged PR #3587 and it will be fixed in the **next release** of the botskills tool.

#### Workaround 1 - Use local path without spaces
1. Change the folder structure removing the

[2020-10-19 16:47] jwiley84 commented on #3676
My apologies for the delay, i'm having some issues running my Virtual Assistant.

[2020-10-19 17:27] stevengum commented on #3654
@batta32, @ryanlengel, @peterinnesmsft any updates on this issue or the associated PRs? #3655 #3667

[2020-10-19 18:32] #3673 closed

[2020-10-19 18:33] stevengum commented on #3683
Assigning to @Batta32 as it seems his team will be performing the version bump for 4.11.

[2020-10-19 18:36] stevengum commented on #3660
Closing as @Batta32 provided a fix with the customer's provided information.

[2020-10-19 18:36] #3660 closed

[2020-10-19 18:37] #3672 closed

[2020-10-19 18:46] Batta32 commented on #3654
Hi @stevengum, we created the PR #3686 that duplicates the changes of the PR #3655. As soon as it's merged, this issue will be closed.

Last but not least, the PR #3667 was already merged.

[2020-10-19 19:03] #3649 closed

[2020-10-19 19:14] #3656 closed

[2020-10-19 19:21] #3674 closed

[2020-10-19 19:40] #3654 closed

[2020-10-19 20:33] VictorGrycuk commented on #3573
Hi @tomSauret847, we did a little research, and we came up with some **questions**.

1. Are you testing using the bots deployed in Azure or on promises' server?
2. Is your application gateway an [Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/overview)?
3. Are you using TypeScript or C# bots? As you [previously mentioned](https://github.com/microsoft/botframe

[2020-10-19 20:41] tomSauret847 commented on #3573
Thank you for responding @VictorGrycuk  here is the answers to our questions,

1. We are testing with the bots deployed to Azure. We are unable to create a tunnel to test locally.

2. Yes we are using a Azure application gateway with a WAF as outlined in your link

3. These are TypeScript bots (VA and 2 Skills with authentication) we are only using 1 C# skill to get around the synchronous loop [is

[2020-10-19 21:42] peterinnesmsft commented on #3574
Hi @davidmcgowan,

I've taken an initial look into this. I need to do some more digging to pinpoint exactly what path we're hitting in the underlying SDK code, but my first take is that this is a bug in the SDK - specifically, here: https://github.com/microsoft/botbuilder-dotnet/blob/3906c535b18978c475bb6bc7dc82590257f64fb8/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L539-L544

Based on

[2020-10-21 14:29] Batta32 opened #3688 "[C#][Bot-Solutions] Error NU5048: The 'PackageIconUrl'/'iconUrl' element is deprecated"
#### What project is affected?
Bot-Solutions

#### What language is this in?
C#

#### What happens?
Having an Azure Pipeline configured to build the C# Bot-Solutions, the execution is stopped with an error during compilation.

#### What are the steps to reproduce this issue?
1. Create a new Azure Pipeline with steps
1. Add `Use NuGet 4.9.1` task
1. Add `dotnet restore` task
1. Add `dotnet build` t

[2020-10-21 17:37] Batta32 opened #3689 "[Documentation] The public documents are outdated"
#### What project is affected?
Documentation

#### What language is this in?
\-

#### What happens?
Some documents of the repository are outdated, presenting broken links

#### What are the steps to reproduce this issue?
Go to the documents and check the content

#### What were you expecting to happen?
Have the public documentation up to date

#### Can you share any logs, error output, etc.?
\-

#

[2020-10-22 09:31] amoyalan20 opened #3691 "Calendar login issue in teams"
While integrating the calendar skill with teams facing an issue while authentication.(not able to login)After clicking the login button the authentication is not complete and when we type anything its throwing an error as attached in the screenshot.
![image](https://user-images.githubusercontent.com/73281779/96852792-33f09280-1477-11eb-80ee-5324b87bbaa0.png)
could you please suggest what steps are

[2020-10-22 12:50] Batta32 commented on #3691
Hi @amoyalan20 , thanks for reporting this issue. We came up with some **questions** in order to narrow the issue and your environment:
1. Are you using the [Calendar Skill](https://github.com/microsoft/botframework-skills/tree/master/skills/csharp/calendarskill) of botframework-skills repository?
1. Are you using the Calendar Skill connected to a Virtual Assistant?
1. Have you tested the Authenti

[2020-10-22 13:57] ObsidianDelta opened #3692 "Add array to cognitive model example [Docs]"
/virtual-assistant/tutorials/customize-assistant/csharp/4-edit-your-cognitive-models/

Update the cognitiveModels.json file in the root of your project with a new entry for your newly created QnA Maker knowledge base, an example is shown below:

    [ {
       "id": "YOUR_KB_ID",
       "name": "YOUR_KB_ID",
       "kbId": "",
       "subscriptionKey": "",
       "hostname": "https://YOUR_NAME-qna

[2020-10-22 14:09] #3692 closed

[2020-10-22 18:21] cleemullins commented on #3666
@ambuj74, are you able to provide a bit more detail as @gabog has asked?

[2020-10-22 18:23] cleemullins commented on #3676
This should be resolved in the R11 release of the SDK coming out shortly.

[2020-10-22 18:23] #3676 closed

[2020-10-22 18:30] ipraveenMS commented on #3676
Hi @cleemullins we are blocked by this issue at the moment for 2 months. What is the timeline for R11 SDK? Can we get a private fix for this till SDK is released?

[2020-10-23 11:07] amoyalan20 commented on #3691
When we are connecting the calendar skill directly to teams we are able to authenticate using the login button. But while connecting calendar skill  with the virtual assistant not able to login.
So we need to update any changes to virtual assistant code?

[2020-10-23 19:13] ericchansen commented on #3693
Thanks for tracking this. Like I said before, I can provide any info you need. I'm just not sure what you'd want to help solve this.

[2020-10-23 19:34] Batta32 commented on #3693
Thanks @ericchansen for reporting the issue, we came up with some **questions** so we can narrow the problem:
1. Which version of [botskills](https://www.npmjs.com/package/botskills) are you using in the pipeline?
1. We noticed that you attempted to use `botskills refresh`. Is this correct? Have you executed `botskills connect` before the `botskills refresh`?
1. Reviewing the [attached](https://gi

[2020-10-23 20:38] VictorGrycuk commented on #3573
Hi @tomSauret847, sorry for the delay - we think it **should be possible** to use Enhanced Authentication with an Azure App Gateway having the bots behind it.

A couple of additional **questions**:

1.  Can you connect to the Virtual Assistant with an emulator using the Gateway's public IP? In our testing we confirmed that this is possible
2.  Can you connect and communicate with a skill through t

[2020-10-26 12:41] Batta32 commented on #3623
This issue is **fixed** with the merged PR #3483 and the next botskills version will contain these changes.

@peterinnesmsft - should we keep this issue open until the new botskills version is published?

[2020-10-26 15:03] tomSauret847 commented on #3573
Thank you @VictorGrycuk The answers to your questions are
Can you connect to the Virtual Assistant with an emulator using the Gateway's public IP? In our testing we confirmed that this is possible

- We do not have tunneling available to we are unable to connect to the VA with a emulator but we have web chat available. The VA will connect to the skill and complete the dialogs.

Can you connect and

[2020-10-26 18:33] chrimc62 commented on #3668
rEsolved.

[2020-10-26 18:33] #3668 closed

[2020-10-26 21:20] peterinnesmsft commented on #3691
Hi @amoyalan20,

As a first step, I would suggest reviewing our documentation on connecting an existing skill sample to a virtual assistant and double-checking that you have not missed any steps, everything is configured as expected, etc. You can find our documentation located [here.](https://microsoft.github.io/botframework-solutions/skills/tutorials/add-prebuilt-skill/1-intro/)

For connecting y

[2020-10-27 01:45] #3582 closed

[2020-10-27 01:45] #3571 closed

[2020-10-27 04:48] xieofxie commented on #3691
Hi @amoyalan20 I have created a full check list for issues like this. https://github.com/microsoft/botframework-skills/blob/hualxie/checklist/docs/check_va_skill_oauth.md
It will help you to verify VA, skill & OAuth locally first, so we could find and identify the exception more easily.
Please check it and report any exception if you can't solve. Thanks!

[2020-10-27 18:49] Batta32 commented on #3691
Hi @xieofxie, we **confirm** that following the steps of the [document](https://github.com/microsoft/botframework-skills/blob/hualxie/checklist/docs/check_va_skill_oauth.md), the VA - Skill OAuth is correctly working.

However, using Microsoft Teams as the communication's channel, we **faced** the issue #3574 which is already solved with the merged microsoft/botbuilder-dotnet#4845; and should be f

[2020-10-28 18:01] VictorGrycuk commented on #3573
Hi @tomSauret847, we can **confirm** that Enhanced Authentication **does work** with the bots behind an Azure Application Gateway.

We created the PR [#3694](https://github.com/microsoft/botframework-solutions/pull/3694) that includes a new documentation on how to configure an Azure Application Gateway with a deployed bot.

We did our test by following these **steps**:

1. Follow the steps describ

[2020-10-28 18:44] tomSauret847 commented on #3573
Thank you @VictorGrycuk We will work through the information that you posted. I did notice already that this [link](https://github.com/microsoft/botframework-solutions/blob/7e4d4791ef7047319561e3efeaa059e6b6a36dc1/docs/_docs/virtual-assistant/handbook/%7B%7Bsite.baseurl%7D%7D/help/known-issues#configuring-a-gateway's-health-probe-with-a-typescript-bot) is broken.

[2020-10-28 18:53] VictorGrycuk commented on #3573
Thanks @tomSauret847, that link will lead to [Configuring a Gateway's health probe with a TypeScript bot](https://github.com/microsoft/botframework-solutions/blob/7e4d4791ef7047319561e3efeaa059e6b6a36dc1/docs/_docs/help/known-issues.md#configuring-a-gateways-health-probe-with-a-typescript-bot) (as well as [this image](https://github.com/microsoft/botframework-solutions/blob/7e4d4791ef7047319561e3e

[2020-10-28 23:29] veatcha opened #3695 "Errors in deployment of Virtual Assistant template project"
#### What project is affected?

Project created from Virtual Assistant template in VS Community 2019 (16.7.6)

#### What language is this in?

C#

#### What happens?

Failures occur during QnA cognitive model deployment, Azure resources and steps were successful up to this point.  Continued failures with retry occured during the QnA steps, I cancelled the deployment script and checked the logs.

#

[2020-10-29 13:21] Batta32 commented on #3695
Hi @veatcha, thanks for reporting this issue. We came up with some **questions** in order to narrow the problem as we couldn't reproduce the issue currently.
1. Are you using [@microsoft/botframework-cli@4.10.1](https://www.npmjs.com/package/@microsoft/botframework-cli/v/4.10.1)?
1. Have you tested to deploy the C# Virtual Assistant again?
1. Do you face this issue in every attempt to deploy?
1. A

[2020-10-29 17:55] peterinnesmsft commented on #3574
Just to follow up on this, the SDK has now merged the necessary change that should address this underlying issue. Once a new version of the SDK has been released containing this fix, we will be sure to publish new versions of the Virtual Assistant templates that contain this fix.

We are currently targeting mid-November timeframe for the new SDK release, so expect our update to follow shortly afte

[2020-10-29 17:57] #3659 closed

[2020-10-29 17:57] #3688 closed

[2020-10-29 18:04] veatcha commented on #3695
Hi - Thanks for the followup -

- Confirmed I am on botframework cli 4.10.1
- I have tried 3 times now, and have had the same result each time (I've copied the output from most recent run below)
- I am executing the deployment command from the project folder - that's shown below as well.  The obnoxious folder nesting is the repo folder/solution folder/project folder all with same name.
- I have no

[2020-10-29 18:34] Batta32 opened #3696 "[C#] The PackageIconUrl property was deprecated and PackageIcon should be added"
## User Story
As the 'PackageIconUrl'/'iconUrl' element is deprecated in the `Directory.Build.Props` file.
I want to consider using the 'PackageIcon'/'icon' element instead.
so that we can have a parity with [botbuilder-dotnet](https://github.com/microsoft/botbuilder-dotnet/blob/main/Directory.Build.props)

## Acceptance Criteria
*List your requirements.*
- [X] Add `PackageIcon` property
- [X] Add

[2020-10-29 19:35] VictorGrycuk commented on #3693
Hi @ericchansen, we **reproduced** the issue. The error happens when the `bf luis:generate` receives an `--out` path that contains a folder that does not exist.

To reproduce the issue, we manually executed the `bf luis:generate:cs` command with an `--out` parameter and got the same error as yours.

We will work on to analyze why this is happening, and we will get back to you once we have an updat

[2020-10-30 09:06] davidmcgowan commented on #3574
Many thanks @peterinnesmsft.

[2020-10-30 18:10] chrimc62 commented on #3669
Closed due to inactivity

[2020-10-30 21:24] parasdesaicims commented on #3669
Workaround 1 is not working :
PS /Users/pdesai/OneDrive - Icims, Inc/iBOTs/VirtualAssitant6/VirtualAssistantSample> botskills connect --remoteManifest "https://todoskill-t573s6h.azurewebsites.net/manifest/manifest-1.1.json" --cs --luisFolder "/Users/pdesai/OneDrive - Icims, Inc/iBOTs/MyAssistant6/MyAssistant6/MyAssistant6/Deployment/Resources/LU"
Updating Dispatch
Adding skill to Dispatch
There wa

[2020-11-01 01:13] #3623 closed

[2020-11-02 05:08] PaperProjects opened #3698 "[Docs] Virtual Assistant Client on Android link not working"
/clients-and-channels/tutorials/enable-speech/6-next-steps/

[2020-11-02 12:15] Batta32 commented on #3698
Thanks @PaperProjects for reporting this issue, we confirmed what you mentioned for the document [/clients-and-channels/tutorials/enable-speech/6-next-steps/](https://microsoft.github.io/botframework-solutions/clients-and-channels/tutorials/enable-speech/6-next-steps/) and we will fix those links.

We will back to you as soon as we have any update 😊

[2020-11-02 18:25] CezaryMarcjan commented on #3666
Closing due to no activity. Please reactivate if a follow up is needed.

[2020-11-02 18:25] #3666 closed

[2020-11-02 18:38] parasdesaicims commented on #3669
Here tried Workaround 2, but getting the same error.

On Windows machine

**PS C:\Users\pdesai1\OneDrive - Icims, Inc (1)\iBOTs\MyAssistant6\MyAssistant6\MyAssistant6> botskills connect --remoteManifest "https://todoskill-t573s6h.azurewebsites.net/manifest/manifest-1.1.json" --cs --luisFolder "C:\Users\pdesai1\OneDrive - Icims, Inc (1)\iBOTs\TOdoSkill\todoskill\Deployment\Resources\LU"**
Updating

[2020-11-02 18:48] Batta32 commented on #3669
Thanks @parasdesaicims , can you reopen the issue so our team can review the issue?

We will start to review your comments in order to search the best approach for you 😊.

[2020-11-02 18:54] parasdesaicims commented on #3669
@Batta32  I do not think I have permissions to reopen this issue or if you mean I should open a new issue and link this one?

[2020-11-02 18:55] veatcha commented on #3695
@Batta32 - found the issue here.  My node version was set to less than the required version for the botframework cli, and it looks like that was impacted RegEx behaviors.  Thanks.

[2020-11-02 18:55] #3695 closed

[2020-11-02 18:58] Batta32 commented on #3669
Not necessary! We can continue working on this issue as it's the same problem.

@peterinnesmsft - can you or anyone of the team reopen this issue 😊?

[2020-11-02 19:40] VictorGrycuk commented on #3695
Hi @veatcha, thanks for let us know, we found the issue microsoft/botframework-cli#865 which had the same error message as you described above, and the response was to use a Node version above or equal to `10.17` as `bf-cli` requires [node version >= 10.17](https://github.com/microsoft/botframework-cli#installation).

Thank you for your time. 🙂

[2020-11-02 23:04] peterinnesmsft commented on #3644
Hi @ipraveenMS,

Can you confirm what version of the ChannelServiceHandler class is being registered with your IServiceCollection container as part of your virtual assistant's startup logic?

Based on what you're presenting, it sounds like the issue is that it's resolving the base class type, which by default doesn't implement OnUpdateActivityAsync. ChannelServiceHandler seems to be a little confu

[2020-11-02 23:24] peterinnesmsft commented on #3614
@manish-95 thank you for confirming!

@Batta32 as I expect this will be resolved by our updates to the SDK package references, I'll assign this to you for further tracking. Once we have pushed out our own updates with the updated SDK references and validated, let's go ahead and close this out.

[2020-11-03 03:26] xieofxie opened #3700 "[Botskills] unnecessary code in connect and failed tests"
#### What project is affected?

Botskills

#### What language is this in?

#### What happens?

1 this if block is unnecessary and incorrect (should be trim()):
https://github.com/microsoft/botframework-solutions/blob/4d23f882776d4a730770e3576f660d629ee92360/tools/botskills/src/functionality/connectSkill.ts#L110

2 `npm test` is broken. We should add this to pipeline

#### What are the steps to rep

[2020-11-03 03:28] xieofxie opened #3701 "[Botskills] support Linux environment"
## User Story
We have some hard coded path logic for windows like https://github.com/microsoft/botframework-solutions/blob/4d23f882776d4a730770e3576f660d629ee92360/tools/botskills/src/functionality/connectSkill.ts#L111 and https://github.com/microsoft/botframework-solutions/blob/4d23f882776d4a730770e3576f660d629ee92360/tools/botskills/src/utils/sanitizationUtils.ts#L8

(could be more)
Should we re

[2020-11-03 14:13] Batta32 commented on #3701
Hi @xieofxie ! We already have the PR #3684 which fixes botskills cli tool compatiblity with Unix and fixes the unit tests.

To test it you can follow these steps using [feature/southworks/fix-botskills-linux-tests](https://github.com/southworks/botframework-solutions/tree/feature/southworks/fix-botskills-linux-tests) branch:
1. Go to [botskills](https://github.com/southworks/botframework-solution

[2020-11-03 14:43] Batta32 commented on #3700
Hi @xieofxie, thanks for reporting this issue!

The `luFile.trim.length` was correctly replaced to `luFile.trim().length` in the PR #3534. However, we will analyze the validation in order to check if it's necessary or not.

Also, we confirm that the unit tests are correctly working using [next](https://github.com/microsoft/botframework-solutions/tree/next) branch, to test it you can follow these s

[2020-11-03 18:21] Batta32 commented on #3698
@PaperProjects - the **correct link** is [/clients-and-channels/clients/virtual-assistant-client/](https://microsoft.github.io/botframework-solutions/clients-and-channels/clients/virtual-assistant-client/).

Also, the document [/clients-and-channels/tutorials/enable-speech/6-next-steps/](https://microsoft.github.io/botframework-solutions/clients-and-channels/tutorials/enable-speech/6-next-steps/)

[2020-11-04 02:02] xieofxie commented on #3701
Thanks! I didn't notice next branch. Look forward to the release of next branch!

[2020-11-04 02:04] xieofxie commented on #3700
Thanks! I will check the next branch~

[2020-11-04 02:18] PaperProjects commented on #3698
Yes. Please close the issue.  Thank you.

[2020-11-04 02:18] #3698 closed

[2020-11-05 13:39] Batta32 commented on #3573
@peterinnesmsft - we can close the issue due to inactivity. @tomSauret847 if you are still experiencing issues, feel free to reactivate and we can pick this up again, or create a new issue!

Also, if you have any question, please ask in https://stackoverflow.com/questions/tagged/botframework.

The entire authentication process will be solved as soon as the following PRs are merged for TypeScript v

[2020-11-05 13:40] Batta32 commented on #3648
@peterinnesmsft - we can close the issue due to inactivity. @dawwa feel free to reactivate it and we can pick this up again.

[2020-11-05 13:42] Batta32 commented on #3662
@peterinnesmsft - we can close the issue due to inactivity. We added the explanation in the [Known Issues](https://microsoft.github.io/botframework-solutions/help/known-issues/#dispatch-refresh-failed-with-exit-code-1-error-using-erroractionpreference--stop-in-powershell) document and how to solve it.

[2020-11-05 13:42] tomSauret847 commented on #3573
Thank you @Batta32 for your assistance on this. We are having to put this section on hold for the moment so I will close this issue and reopen it if we have issues when we pick it back up again.

[2020-11-05 13:42] #3573 closed

[2020-11-05 13:47] Batta32 commented on #3677
@peterinnesmsft - we can close the issue due to inactivity. @vkacherov if you are still experiencing issues, feel free to reactivate and we can pick this up again.

[2020-11-05 13:48] Batta32 commented on #3691
@peterinnesmsft - we can close the issue due to inactivity. @amoyalan20 if you are still experiencing issues, feel free to reactivate and we can pick this up again.

[2020-11-05 17:06] peterinnesmsft commented on #3648
Closing due to inactivity.

[2020-11-05 17:06] #3648 closed

[2020-11-05 17:06] #3662 closed

[2020-11-05 17:09] #3691 closed

[2020-11-05 17:10] #3677 closed

[2020-11-05 17:21] peterinnesmsft commented on #3700
As it looks like this has ultimately been addressed and is pending release of new bits from next branch, closing this out. If issues are discovered with the new bits, then we can reactivate and investigate further.

[2020-11-05 17:21] #3700 closed

[2020-11-05 19:57] VictorGrycuk commented on #3669
Hi @parasdesaicims, we confirmed that the [workaround 2](https://github.com/microsoft/botframework-solutions/issues/3669#issuecomment-712233415) **works**, so we prepared a step-by-step guide on how to apply it, having a Virtual Assistant and Skill deployed.

We reviewed your logs, and we think that workarounds didn't work because the `luisFolder` doesn't contain spaces but the root folder does.

[2020-11-06 17:07] Batta32 commented on #3693
Hi @ericchansen, sorry for the delay. Make sure to point the `Working Directory` to the root folder of your Virtual Assistant in the `botskills refresh` task to have the command correctly working.
After this, you can reduce the command as it will infer your folder structure based on `--cs`, refer to this document for more information.

Finally, the _undefined_ error is not verbose because [bf luis

[2020-11-06 20:23] Bots4life opened #3703 "Answering NO on skill switch prompt fails to restart skill"
#### What project is affected?
Virtual Assistant and Skills

#### What language is this in?
Typescript

#### What happens?
When skill switch prompt is triggered and the user answers "No" it fails to invoke the skill.

#### What are the steps to reproduce this issue?
Go into a skill from the VA, type interrupt to switch to another skill and enter no to the skill switch prompt.

#### What were you e

[2020-11-06 20:34] Batta32 commented on #3703
Thanks @Bots4life for reporting this issue! Are you using the TypeScript [samples](https://github.com/microsoft/botframework-solutions/tree/master/templates/typescript/samples/sample-assistant) or creating the bots using [generator-bot-virtualassistant@1.0.1](https://www.npmjs.com/package/generator-bot-virtualassistant/v/1.0.1)?

As soon as we have any update, we will back to you here 😊.

[2020-11-06 20:37] Bots4life commented on #3703
Thanks for the reply @Batta32
We are using the TypeScript samples

[2020-11-06 20:56] Bots4life commented on #3703
Adding in a screenshot for context
![Screenshot 2020-11-06 144655](https://user-images.githubusercontent.com/70543658/98413955-2a068c00-2040-11eb-8807-e5d4b328bd12.png)

[2020-11-06 22:54] #3696 closed

[2020-11-09 06:39] ipraveenMS commented on #3644
Hi @peterinnesmsft thanks for the reply. I was able to repro with simple code also. Details at https://github.com/microsoft/botframework-solutions/issues/3676 this issue was closed but I didnt get an answer there. I will take a look at your answer and post a reply soon (about a week )

[2020-11-09 19:32] cwhitten commented on #3615
@peterinnesmsft is this still being worked on?

[2020-11-09 19:35] cwhitten commented on #3579
@peterinnesmsft is this still being worked on?

[2020-11-09 19:40] cwhitten commented on #3496
@Batta32 any updates?

[2020-11-09 19:49] Batta32 commented on #3496
Hi @cwhitten, this issue is already fixed with the PR #3559 which is updated with the requested changes of @peterinnesmsft .

As soon as the PR is merged, the changes will be present in the `next` branch.

[2020-11-10 18:57] peterinnesmsft commented on #3615
We are not actively working on this - this is currently in the backlog and will need to revisit this as scheduling allows. I would anticipate this would come as part of next release cycle at the earliest.

[2020-11-10 18:58] peterinnesmsft commented on #3579
This is not actively being worked on. I'll take a look into this and follow up once I understand where things were left off.

[2020-11-10 19:09] mrivera-ms commented on #3703
@Batta32 could you please take a look at the customer's answer? Thank you.

[2020-11-10 19:19] mrivera-ms commented on #3574
This should be resolved with the latest version of the SDK 4.11.0.

[2020-11-10 20:07] VictorGrycuk commented on #3703
Hi @Bots4life & @mrivera-ms, sorry for the delay. We replicated the scenario but the error was not reproduced.

To help us understand and reproduce the issue, we have some **questions**:

1. Have you tried to test the Skill running on its own?
2. Which files have you modified when customizing the sample skill? How?
3. What version of BotBuilder SDK are you using in the VA & Skill? You can check th

[2020-11-10 21:44] mrivera-ms commented on #3553
@KayMKM seems like there are two PRs that would resolve this issue. Could you please update this item with any progress? Thank you.

[2020-11-11 02:58] KayMKM commented on #3553
fixed

[2020-11-11 02:58] #3553 closed

[2020-11-11 13:48] Bots4life commented on #3703
@Batta32 @VictorGrycuk @mrivera-ms
Thank you for the help and quick responses everyone, we found the issue was with a modification we made to the defaultActivityHandler. Inside of onEndOfConversationActivity() we added a sendEoCToParent() to help with an issue we were having with another customization. Removing this line allows the skill to be restarted properly.

Thanks again!

[2020-11-11 13:48] #3703 closed

[2020-11-11 19:21] mrivera-ms commented on #3613
@Batta32, what is the status of this issue? Could you please update this issue? Thank you.

[2020-11-11 19:22] Batta32 commented on #3613
Hi @mrivera-ms , this issue is solved with the PR #3616 and its already approved. As soon as it's merged, this issue will be closed 😊.

[2020-11-11 21:14] mmarzillo opened #3704 "Trouble Opening Analytics Template"
When I go to open the template I get the below error.
![image](https://user-images.githubusercontent.com/6752474/98865146-9a425280-2430-11eb-848c-44d5ba5ca519.png)

[2020-11-12 12:37] Batta32 commented on #3704
Hi @mmarzillo , thanks for reporting this issue. We came up with some **questions** to complete the description of this issue so we can reproduce it:
1. With _Analytics Templates_, are you referring to [/solution-accelerators/tutorials/view-analytics/3-open-template/](https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/3-open-template/) document?
1. Ca

[2020-11-12 12:54] GitDruid commented on #3615
Hi all,
I'd like to add a note that could seems redundant but... just to be more precise.

The issue affects not only the generation of GeneralLuis.cs and DispatchLuis.cs in the main Bot but it also affects the single Skill project while generating the <MySkillName>Luis.cs file.

Just as an example I faced this issue in these days while working on a 3 language skill (EN, IT and DE) where I decided

[2020-11-12 14:19] mmarzillo commented on #3704
1. Yes
2. I'm clicking "Virtual Assistant analytics template" downloading the template then opening it. I'm on Windows 10 with Power Bi version 2.87
3. I'm expecting to presented with a screen asking for the application insights id.
4. I think that's it, could be something simple as this is my first time working through the tutorial.

[2020-11-12 14:22] Batta32 commented on #3704
Thanks @mmarzillo for your quick reply, we will start reviewing this issue with the answers you added. As soon as we have any status, we will let you know here 😊!

[2020-11-12 19:59] parasdesaicims commented on #3669
I was able to add the skill to the bot by moving it to a path without space. Also, in manifest-1.1, changed dispatch models.languages.en-us.id to ToDo.

Thanks, I am now testing the skills via VA and will keep posted if any issues/errors.

[2020-11-12 20:26] Batta32 commented on #3669
Great @parasdesaicims! If you agree, we can close this issue as you managed to make it work!

If you find any other problem, don't hesitate to open a new issue and we will review it 😊.

[2020-11-12 20:29] parasdesaicims commented on #3669
Yes, please. Thank you.

[2020-11-12 20:29] #3669 closed

[2020-11-13 12:48] Batta32 commented on #3693
@peterinnesmsft - we can close the issue due to inactivity. @ericchansen if you are still experiencing issues, feel free to reactivate and we can pick this up again, or create a new issue!

[2020-11-13 14:41] matiasroldan6 opened #3705 "[C# & TypeScript] Update BF SDK versions to 4.11.0"
## User Story

As BF SDK 4.11 versions were published for [JavaScript](https://github.com/microsoft/botbuilder-js/releases/tag/4.11.0) and [C#](https://github.com/microsoft/botbuilder-dotnet/releases/tag/4.11.0)
 I want to have the C# and TypeScript solutions updated
 so that the C# and TypeScript solutions use the latest SDK version published

## Acceptance Criteria

*List your requirements.*

-

[2020-11-13 14:51] matiasroldan6 commented on #3705
Closing since this should be a feature request rather than a bug. Will then create a feature request with this.

[2020-11-13 14:51] #3705 closed

[2020-11-13 14:56] matiasroldan6 opened #3706 "[C# & TypeScript] Update BF SDK versions to 4.11.0"
## User Story

As BF SDK 4.11 versions were published for [JavaScript](https://github.com/microsoft/botbuilder-js/releases/tag/4.11.0) and [C#](https://github.com/microsoft/botbuilder-dotnet/releases/tag/4.11.0)
 I want to have the C# and TypeScript solutions updated
 so that the C# and TypeScript solutions uses the latest SDK version published

## Acceptance Criteria

*List your requirements.*

-

[2020-11-13 17:16] stevengum commented on #3693
Closing due to inactivity.

[2020-11-13 17:16] #3693 closed

[2020-11-13 19:21] mrivera-ms commented on #3610
@peterinnesmsft, is this resolved? Can it be closed?

[2020-11-16 17:41] Batta32 opened #3708 "[Botskills] Add Functional Tests Pipeline for Botskills CLI Tool"
## User Story
As a developer
I want YAML pipelines available for the Botskills CLI Tool
so that I can run nightly validation tests against my bots

## Acceptance Criteria
*List your requirements.*
- [X] Add `.yml` file with the functional tests pipeline for Botskills CLI Tool
- [X] Add documentation explaining how to use the `.yml`

## Resources
\-

## Notes
*Provide any additional information.*
R

[2020-11-16 19:29] mrivera-ms commented on #3614
@peterinnesmsft can this be closed now?

[2020-11-17 17:26] EricDahlvang commented on #3614
Has this been tested against the latest sdk?  The sdk is now utilizing the activity.recipient.role property.  When a ConversationReference for a continue call, is created, this role will go with it.   I'm guessing there is will now be conflicts with how DefaultActivityHandler.cs and ProactiveStateMiddleware.cs are using .Role

[2020-11-17 17:31] Batta32 commented on #3614
Hi @mrivera-ms and @EricDahlvang , we already **validated** that this is correctly fixed with SDK R11 and we created the PR #3707 in order to use the latest SDK version.

As soon as the PR #3707 is merged and new packages are published with this new version, this will be automatically solved.

![image](https://user-images.githubusercontent.com/11904023/99425282-660fdb80-28e1-11eb-9241-f209b31fc702

[2020-11-17 17:36] EricDahlvang commented on #3614
@Batta32 have proactive skills been tested with 4.11?  the code paths which utilize DefaultActivityHandler.cs and ProactiveStateMiddleware.cs ?

[2020-11-17 17:55] Batta32 commented on #3614
Sorry @EricDahlvang, we meant that we successfully validated this using C# Bot-Solutions version [1.0.1-daily322](https://botbuilder.myget.org/feed/aitemplates/package/nuget/Microsoft.Bot.Solutions/1.0.1-daily322) (`aitemplates` feed) which contains the PR #3633 and uses SDK R9.

Should we validate this using R11?

[2020-11-17 20:55] matiasroldan6 commented on #3704
Hi @mmarzillo, we couldn't reproduce this error, could you please attach the output from clicking **Copy details** in your error notification? That should print a more detailed log that could be useful to us.

We followed the [/solution-accelerators/tutorials/view-analytics/3-open-template/](https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/3-open-te

[2020-11-18 05:40] SSanjeevi commented on #2920
@VictorGrycuk the link given in workaround for the sample in GitHub is not found, can you share any sample.

[recommended work around](https://github.com/microsoft/BotFramework-WebChat/issues/2388#issuecomment-529561057)
[suggested link in above work around not found](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/15.d.backchannel-send-welcome-event)

[2020-11-18 15:14] mmarzillo commented on #3704
I tried Resetting PowerBi and the uninstalling and re-installing, but it's still doing the same thing with that same download you're showing.

Here are the results from "Copy Details."

_Feedback Type:
Frown (Error)

Error Message:
Failed to save modifications to the server. Error returned: 'The following system error occurred:  Class not registered
'.

Stack Trace:
   at Microsoft.PowerBI.Client.

[2020-11-18 15:16] Batta32 commented on #3704
Thanks @mmarzillo for sharing this information. We will review it and try to find the best approach for you 😊.

[2020-11-19 12:54] Batta32 commented on #2920
Hi @SSanjeevi, the new link to the sample is [04.api/a.welcome-event](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/a.welcome-event).

The BF-WebChat team has reorganized the samples in the PR microsoft/BotFramework-WebChat#2762. Also, the old link is [15.d.backchannel-send-welcome-event](https://github.com/microsoft/BotFramework-WebChat/tree/9923a557c7201635610143d3

[2020-11-19 20:18] dawwa opened #3711 "Chitchat.qna: Inconsistent character "’" vs "'""
This is causing an encoding issue in our automation script.
Please bulk correct it in the official asset, thanks.

The issue exists in the generated assets across all locales, here is an example for en-us.

![image](https://user-images.githubusercontent.com/44714043/99719390-16581e00-2a61-11eb-8fc6-272bd9db179f.png)

[2020-11-19 23:58] mmarzillo commented on #3704
So I wound up uninstalling PowerBI and re-installing an older version (2.85.985.0) and it worked. I'm going to close this, thanks for your help in digging into this!

[2020-11-19 23:58] #3704 closed

[2020-11-20 03:03] SSanjeevi opened #3712 "Deploy cognitive models script not working in azure devops pipeline"
#### What project is affected?
VA

#### What language is this in?
En

#### What happens?
Times out

#### What are the steps to reproduce this issue?
Execute the VA deploy cognitive models PS1 file in azure CLI task

#### What were you expecting to happen?
Luis and qna deployment sucess

#### Can you share any logs, error output, etc.?
No logs, pipeline executes for half ab hour no logs at all time

[2020-11-20 04:04] jcbendernh opened #3713 "How do we know the skills works? What should we expect it to return?"
/skills/tutorials/create-skill/csharp/8-invoke-your-skill/

[2020-11-20 12:41] Batta32 commented on #3704
Awesome @mmarzillo! If you have any other problem, feel free to open a new issue in the repository 😊.

[2020-11-20 12:44] Batta32 commented on #3683
Hi @lauren-mills and @stevengum , we created the PR #3707 updating the C#/TypeScript solutions to SDK R11.

Also, we confirmed that this issue is fixed with that PR and can be closed as soon as the PR is merged and new packages are published.

[2020-11-20 12:51] Batta32 commented on #3711
Thanks @dawwa for reporting this issue, we confirmed what you mentioned in the cognitive models files so we will be reviewing this in order to have consistency between all the files.

As soon as we have any update, we will back to you here 😊.

[2020-11-20 13:40] Batta32 commented on #3712
Thanks @SSanjeevi for reporting this issue! We came up with some **questions** for you:

1. Have you updated the `Build job timeout in minutes` of your Azure DevOps Pipeline? Try improving the amount of minutes for the job
1. Have you tested the execution of the `deploy_cognitive_models.ps1` script locally?

We will be reviewing this issue and as soon as we have any update, we will back to you 😊

[2020-11-20 13:45] SSanjeevi commented on #3712
Will it run for 240 minutes?

I kept for 90 minutes and it didn't gave any cli msg till that and times out .
Will test by keeping 240 minutes on Monday.
Local it completes in 15 mins I seen.

[2020-11-20 13:53] Batta32 commented on #3713
Hi @jcbendernh, after the connection of the Virtual Assistant to the Skill you can see how the `botFrameworkSkills` and `skillHostEndpoint` properties of the Virtual Assistant's `appsettings.json` file are populated with the values of the Skill's manifest.

The **expected** behavior is: while you are testing the communication, you can send an utterance from the Virtual Assistant that should be rec

[2020-11-20 16:14] amoyalan20 opened #3715 "Teams Command Lists not working on phone"
As i implemented teams command list ,but its only working in the desktop view not in mobile.
![image](https://user-images.githubusercontent.com/73281779/99822664-84900400-2b79-11eb-85f0-8696674b8dee.png)
The desktop view is attached in screenshot. Could you please provide the changes to be updated for working in mobile view?

[2020-11-20 16:31] Batta32 commented on #3715
Hi @amoyalan20, thanks for reporting this issue. Can you add a detailed information of your **Environment**, **Repro Steps** and **Expected Behavior**?

As soon as we have your reply, we will start working on this issue and let you know any update that we have for you 😊.

[2020-11-20 16:33] tomSauret847 opened #3716 "Issue passing token back to skill through Teams channel in VA"
#### What project is affected?
Virtual Assistant and Skill
#### What language is this in?
TypeScript
#### What happens?
When using authentication in the Teams channel the token comes back on a "onInvokeActivity" method instead of the "onTeamsSigninVeryfyState". This causes a problem when trying to upgrade to the bot-solutions base 1.0.0 since the veryfyState method does not receive the token to fo

[2020-11-20 16:52] Batta32 commented on #3716
Hi @tomSauret847, thanks for reporting this issue. We came up with some **questions** to narrow the issue:
1. Can you confirm that you are using PR #3583, PR #3584 and PR #3585 that contains the 1.0 version of the TypeScript bots?
1. If so, have you pulled the latest changes of the PR #3584 (check [commit](https://github.com/microsoft/botframework-solutions/pull/3584/commits/901ab1b4fa1dc015387358

[2020-11-20 17:24] tomSauret847 commented on #3716
Thank you @Batta32 We are using the #3583  and the #3584  pull requests in the implementation. I am sorry I had the wrong method listed above but we are using the handleTeamsSigninVerifyState method in the VA. When adding logging inside the method it is not being used when the token is returned. For the skill we are using #3583  PR for the bot-solutions package and #3585 for the base. I did have t

[2020-11-23 15:43] amoyalan20 commented on #3715
In teams Manifest we have added command list, its working as expected in desktop. but while checking teams in phone those command list are not working.

"commandLists": [
        {
          "scopes": [
            "team",
            "groupchat"
          ],
          "commands": [
            {
              "title": "Command 1",
              "description": "Description of Command 1"

[2020-11-23 19:18] axelsrz commented on #3706
@lauren-mills Could you take a look at this please?

[2020-11-23 20:32] lauren-mills commented on #3706
@peterinnesmsft, @Batta32 - I think I saw that this work is already underway or planned. Please add a comment if there's an update.

[2020-11-24 00:49] ipraveenMS commented on #3644
@peterinnesmsft    TokenExchangeSkillHandler does not implement UpdateActivityAsync and parent of its base is
   https://github.com/gridgentoo/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/ChannelServiceHandler.cs which does not have UpdateActivityAsync implemented

   TokenExchangeSkillHandler is present in VA and is registered during the startup. When UpdateActivityAsync is called

[2020-11-24 05:34] SSanjeevi commented on #3712
@Batta32 - i tried setting for 240 minutes and it got timed out at 240 minutes and only one line came in cli:
"Initializing en-us dispatch model"

screenshot below.

do you want me to further increase the timeout? - then i must try in non office hours like yesterday.

![image](https://user-images.githubusercontent.com/24915474/100052781-a4a71800-2e44-11eb-9bbb-3e85a44fe030.png)

[2020-11-24 13:51] Batta32 commented on #3600
@peterinnesmsft - can the `stale` tag be removed as this issue is solved with PR #3601? Thanks.

[2020-11-24 14:11] Batta32 commented on #3715
Thanks @amoyalan20 for the information, we will start reviewing this issue and we will let you know any update 😊.

[2020-11-24 14:16] Batta32 commented on #3706
Hi @lauren-mills, we created the PR #3707 which contains the updates of the SDK version to 4.11 so this is already done and solved as soon as the PR is merged 😊.

[2020-11-24 14:51] Batta32 commented on #3712
Hi @SSanjeevi, it's not necessary to increase the `timeout` as the script should not be executed for a long time.

1. Can you share the tasks/commands that you are executing in the Azure Pipeline? So we can replicate it in our environment
1. Which versions of [botdispatch](https://www.npmjs.com/package/botdispatch) and [botframework-cli](https://www.npmjs.com/package/@microsoft/botframework-cli) a

[2020-11-24 19:41] #3610 closed

[2020-11-24 19:41] axelsrz commented on #3610
Closing due to inactivity

[2020-11-24 19:44] axelsrz commented on #3574
Closing this per last comment

[2020-11-24 19:44] #3574 closed

[2020-11-24 22:06] scheyal opened #3721 "Build warning OOB: BotTestBase.cs(143,26,143,44): warning CS0618: 'FeedbackMiddleware' is obsolete: 'FeedbackMiddleware will no longer work with any VA built with the 0.8 release or newer. For more information, refer to https://aka.ms/bfFeedbackDoc.'"
Using latest VSIX in VS 2019 htting this warning out of the box.
Expected: Samples should build cleanly.

[code]

[2020-11-24 22:52] scheyal opened #3722 "Failed to create VA due to LUIS out of quota error"
OOB experience is failing. Used my regular subscription/account (where I create plenty of Luis apps).

[code]

[2020-11-25 00:13] scheyal commented on #3722
(aparently we're limited to 10 F0 and as soon as I free'd a few, I was able to complete it)

[2020-11-25 00:13] #3722 closed

[2020-11-25 10:28] edemehmetcan commented on #3586
I am reopening this issue, I have the same problem right now even if I have put "-encoding oem $($outJson)"

![image](https://user-images.githubusercontent.com/28989498/100215532-66c3f580-2f11-11eb-99e8-0070b7a24299.png)

[2020-11-25 10:31] edemehmetcan opened #3723 "Export Cognitive Service powershell script (qnamaker:kb:export) qna export mangles special characters"
What project is affected?
Deployment script

What language is this in?
What happens?
Special characters :
Prompts:

Plus d'information sur la lettre re├ºu des ├⌐l├⌐ctions ?
are exported like this

it needs to be - Plus d'information sur la lettre reçu des éléctions ?

What are the steps to reproduce this issue?
Steps to reproduce the behavior:

Create a knowledge base
Use the special characters in

[2020-11-25 12:18] edemehmetcan commented on #3723
In red: **|** Out-File -Encoding oem $(Join-Path $qnaFolder $langCode "$($kb.id).json")

In green: **>** $(Join-Path $qnaFolder $langCode "$($kb.id).json")

![image](https://user-images.githubusercontent.com/28989498/100226832-92021100-2f20-11eb-9de7-7e4cc435a962.png)

[2020-11-25 14:05] Batta32 commented on #3711
Hi @dawwa, we created the PR #3724 that replaces the `’` to `'` in `.qna` and `.lu` files.
Feel free to add your feedback in the PR!

[2020-11-25 14:12] Batta32 commented on #3721
Hi @scheyal, thanks for reporting this issue. The `FeedbackMiddleware` class is [Obsolete](https://github.com/microsoft/botframework-solutions/blob/master/sdk/csharp/libraries/microsoft.bot.solutions/Feedback/FeedbackMiddleware.cs#L15) and it was removed from the `DefaultAdapter` in the PR #3256.

@peterinnesmsft - should we consider to remove the FeedbackMiddleware implemention from the Bot-Solut

[2020-11-25 14:17] Batta32 commented on #3723
Thanks @edemehmetcan for reporting this issue. We will review this issue following the repro steps you mentioned.

We will back to you as soon as we have any update for you 😊.

[2020-11-25 14:22] edemehmetcan commented on #3723
Thank you so much @Batta32 . I am waiting your answer.

Please also check this ? During export, there is an option "qnaFormat" it's a boolean that I put to true in order to have a .qna file in my repository but I have an error "Unexpected Argument: true"

https://www.npmjs.com/package/@microsoft/bf-qnamaker#bf-qnamakerkbexport

Why use that ? I want to export directly the .qna file and not pass by

[2020-11-25 15:00] Batta32 commented on #3723
@edemehmetcan how are you executing the `bf qnamaker:kb:export` command with the `--qnaFormat` argument?
It should be executed as follows:

[code]

See this [example](https://github.com/microsoft/botframework-cli/blob/5d27394b2fc32b06e7bdaac8c1b5f095ec974f49/packages/qnamaker/test/commands/qnamaker/kb/export.test.ts#L77) of the unit tests of the [botframework-cli](https://github.com/microsoft/botf

[2020-11-25 15:08] edemehmetcan commented on #3723
I have tried to export it like this and this is now working, is the syntax correct ?

            bf qnamaker:kb:export `
                --endpoint $qnaEndpoint `
                --environment Prod `
                --kbId $kb.kbId `
                --subscriptionKey $kb.subscriptionKey `
                --qnaFormat | Out-File -Force $($fileDestination)

[2020-11-25 15:11] Batta32 commented on #3723
Yes! That syntax is **correct** too.

We will be reviewing the special characters issue now, and as soon as we have any update for you, we will back to this thread 😊.

[2020-11-25 15:12] edemehmetcan commented on #3723
Super thanks!

When I am trying without "Out-File", the export is correct (in the Terminal) with correct characters. Once exporting to a file.. The characters are again changed strangely...

[2020-11-25 15:27] UtkarshSinghal17 opened #3725 "BotTelemetry not storing any details in Application Insights"
#### What project is affected?
Virtual Assistant Template
#### What language is this in?
C#
#### What happens?
I have added telemetry to my bot and I am using the power BI template given by Microsoft but In data, everything is showing as null. and for directline, facebook channel nothing is storing.
I have enabled telemetry using the below line of code in the startup file.

            services.Ad

[2020-11-25 15:40] UtkarshSinghal17 opened #3727 "BotTelemetry not storing any details in Application Insights"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
Microsoft.Bot.Solutions 1.0.1

## Describe the bug
Give a clear and concise description of what the bug is.
I have add

[2020-11-25 15:47] Batta32 commented on #3725
Hi @UtkarshSinghal17, thanks for reporting this issue.

We will be reviewing the problem and we will let you know any update in this thread 😊.

[2020-11-25 16:04] UtkarshSinghal17 commented on #3725
@Batta32 Please find additional information.
I am using Microsoft.Bot.Solution 1.0.1 version.

[2020-11-25 19:04] dawwa commented on #3725
@UtkarshSinghal17 ,
Not necessarily the root cause of your issue, but one thing that might be worthy to check is the version of the Microsoft.ApplicationInsights nuget package, try 2.12.0 if this is not what you have and see if that works, as I recently observed the Telemetry is not flowing with any higher version.

[2020-11-25 19:15] axelsrz commented on #3723
Thanks @edemehmetcan for submiting this. Could you confirm if this is the same issue as in [this one](https://github.com/microsoft/botframework-cli/issues/1057) ?
And if it is, [this PR](https://github.com/microsoft/botframework-cli/pull/1058) should fix it

[2020-11-25 19:29] edemehmetcan commented on #3723
Hello @axelsrz

It's look like the same... it's related to the special characters. Here it's not LUIS but QnA Maker.

The update_cognitive_models.ps1 is launched via Azure Devops (Azure CLI step).

What I need to do in order to extract correctly to a .qna file with the good special characters ?

Regards

[2020-11-25 20:21] Batta32 commented on #3716
Hi @tomSauret847 we successfully **reproduced** the issue, following the repro steps that you described.

We recently **pushed** some [changes](https://github.com/microsoft/botframework-solutions/pull/3583/commits/315cf00786a4f75e65a1b560632c4430f4a29aee) in the PR #3583 in order to send the token to the `TokenProvider` as C# does. Please, pull the changes to incorporate them in your bots.

We wil

[2020-11-26 08:43] edemehmetcan commented on #3723
After updating the botframework-cli and doing

        bf qnamaker:kb:export `
            --endpoint $qnaEndpoint `
            --environment Prod `
            --kbId $kb.kbId `
            --subscriptionKey $kb.subscriptionKey `
            --qnaFormat | Out-File -Force $($fileDestination)

The characters are not wrapped... @axelsrz I will test again with Azure CLI step and let you know

[2020-11-26 11:20] edemehmetcan commented on #3723
I have updated the botframework-cli and the same script has been launched in Azure DevOps (Azure CLI step), the characters are still changed...

[2020-11-26 11:35] edemehmetcan commented on #3723
After reviewing the file, it's better than before. Now, I just have the problem with "é" and "ï"

[2020-11-26 12:10] Batta32 commented on #3723
@axelsrz - should we transfer this issue to [botframework-cli](https://github.com/microsoft/botframework-cli) repository? As this appears to be an issue related to the bf-cli tool (`bf qnamaker:kb:export` specifically)

[2020-11-26 12:13] edemehmetcan commented on #3723
@Batta32 Even if I execute the qnamaker:kb:export locally with powershell. I still have the issue of characters. This is not something related to Azure CLI I would say...

[2020-11-26 12:26] Batta32 commented on #3723
@edemehmetcan - appears not be related to the Azure CLI but probably **related** to the botframework-cli which is the interftace used to manage the Bot Framework bots and related services (see [botframework-cli](https://github.com/microsoft/botframework-cli) repository), this CLI contains the `bf qna:maker:kb:export` command that you are using 😊.

[2020-11-26 15:51] UtkarshSinghal17 commented on #3725
@dawwa I already have the same version.

[2020-11-26 16:55] GitDruid opened #3726 "bf luis:generate:cs generates wrong class for "money/currency" prebuilt entity."
#### What project is affected?
Virtual Assistant and Skill Template

#### What language is this in?
C#

#### What happens?
`bf luis:generate:cs` when called by `update_cognitive_models.ps1` does not manage correctly the "**money/currency**" prebuilt entity.

I have an `Hotel` entity with two subentities `HotelTimeFrame` and `TotalAmount`. `TotalAmount` being modeled as a prebuilt `money` entity:

[2020-11-26 17:33] Batta32 commented on #3726
Hi @GitDruid, thanks for reporting this issue. We will be reviewing this scenario in order to check the root cause of the issue.

We will back to you as soon as we have any update 😊.

[2020-11-26 18:47] Batta32 commented on #3716
Hi @tomSauret847, we found a **solution** for the issue.

Follow these **steps**:
1. Use [feature/southworks/issue-3716/solution](https://github.com/southworks/botframework-solutions/tree/feature/southworks/issue-3716/solution) internal branch
1. Install 1.0 Bot-Solutions in the bots
1. Deploy your bots using the deploy.ps1 script
1. Add the OAuth settings in your Skill Web App Bot in Azure
1. Upd

[2020-11-26 19:10] hcyang commented on #3723
Hi @edemehmetcan,

Can you try changing your PS config to use UTF. See a relevant link below.
https://stackoverflow.com/questions/40098771/changing-powershells-default-output-encoding-to-utf-8

[2020-11-26 19:14] edemehmetcan commented on #3723
Hello @hcyang thanks for your answer. The powershell is using UTF8.

I have noticed something, after exporting the qna and opened on Notepad++ the encoding is "UCS 2 le BOM" which is very strange to me...

And it's very ennoying to not have like "luis:export" a property --out for qnamaker:export...

Regards

[2020-11-27 05:04] feich-ms commented on #3723
Hi folks, I did some investigations and this seems not related with the bf-cli. It's more related with the powershell output encoding format issue. I use the cmd to call above export command and the output returns normal result for special chars, but when I use powershell to call the same command, then the output returns unexptected result. So this issue only happens to powershell with Out-File se

[2020-11-27 07:11] feich-ms commented on #3723
Created a PR in cli https://github.com/microsoft/botframework-cli/pull/1065 to support output exported qna content to a file with --out option. With this changed in, users can use --out to specify the output file path. Tested that works for powershell.

[2020-11-27 08:22] edemehmetcan commented on #3723
@feich-ms Thanks for you answer. It's what I was looking for! I am waiting that the PR is merged and I will try.

[2020-11-27 08:32] GitDruid commented on #3726
Just as additional note, If I switch to that definition in .lu file:

[code]

it is working, since `TotalAmount` is returned as string from LUIS in that case.

[2020-11-27 12:10] Batta32 commented on #3727
Hi @UtkarshSinghal17, we noticed that this issue seems duplicated to the issue #3725.

We suggest closing this one and we will provide all the necessary information in #3725 as soon as we start working on the issue.

[2020-11-27 19:01] Batta32 commented on #3713
Hi @jcbendernh, we already applied the changes in the PR #3710 (see [commit](https://github.com/microsoft/botframework-solutions/pull/3710/commits/dc6df47ab910dfbcb4c444020527119f3605e9f3)).

Feel free to add your feedback in the PR!

[2020-11-30 01:30] #3600 closed

[2020-11-30 06:19] wang-piaoliang opened #3728 "[Docs]"
/solution-accelerators/tutorials/view-analytics/1-intro/

Unable to load pbi due to data issue, thanks.

![image](https://user-images.githubusercontent.com/52517818/100575399-f6551400-3316-11eb-9e3a-7eb0eabe2754.png)

[2020-11-30 12:32] Batta32 commented on #3728
Hi @wang-piaoliang, thanks for reporting this issue. We came up with some questions for you in order to start working on this issue:
1. Can you attach the information of the `Copy Details` present in that dialog?
1. Which version of PowerBI have you installed?

[2020-11-30 14:32] Batta32 commented on #3715
Hi @amoyalan20, sorry for the delay. We successfully **reproduced** the mentioned issue using Teams Command List in Mobile. Also, we confirmed that in Desktop is working.

We used the following **environment**:
- Android version: 10
- Teams mobile app version: 1416/1.0.0.2020111001

As soon as we have any update, we will back to you here 😊.

_Teams Command List is not working in Mobile_
![image](h

[2020-11-30 18:34] hcyang commented on #3723
@munozemilio, can you review @feich-ms PR?

[2020-11-30 19:24] hcyang commented on #3727
Closing due to dup.

[2020-11-30 19:25] #3727 closed

[2020-11-30 19:54] hcyang commented on #3614
@EricDahlvang, can you respond to @Batta32's comment? Thanks.

[2020-11-30 20:06] clearab commented on #3715
Hello - as is [documented here](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/create-a-bot-commands-menu?tabs=dotnet) command lists do not appear on mobile clients. My apologies for the confusion.

As far as I'm aware, the Teams team doesn't have any plans to implement support for them on mobile.

[2020-11-30 20:06] #3715 closed

[2020-11-30 20:52] #3723 closed

[2020-11-30 22:47] tomSauret847 commented on #3716
@Batta32 Thank you for fixing this. I have implemented the changes you provided and can confirm the token is being passed through to the skill as expected. Thank you for a timely fix for this issue!

[2020-11-30 22:47] #3716 closed

[2020-12-01 17:50] tonyanziano commented on #3726
@Batta32 / @axelsrz any updates on this?

[2020-12-01 17:53] tonyanziano commented on #3725
@peterinnesmsft / @Batta32 please provide an update if possible.

[2020-12-01 18:02] Batta32 commented on #3726
Hi @tonyanziano, this week we will start working on this issue in order to reproduce the problem.

This week we will provide the updates here 😊.

[2020-12-01 18:02] Batta32 commented on #3725
Hi @tonyanziano, we are currently working on this issue trying to reproduce the problem. As soon as we have any update, we will back here with the new information 😊.

[2020-12-01 18:04] tonyanziano commented on #3579
@peterinnesmsft can you please provide an update on the progress of this?

[2020-12-01 19:02] Batta32 opened #3731 "[TypeScript] The VA/Skill sends duplicated welcome messages using Direct Line Channel"
#### What project is affected?
Virtual Assistant and Skill

#### What language is this in?
TypeScript

#### What happens?
Using Direct Line, the Virtual Assistant and Skill receives ConversationUpdate Activity by duplicated, sending the welcome message by duplicated as well.

#### What are the steps to reproduce this issue?
1. Deploy a Virtual Assistant or a Skill in TypeScript
1. Communicate with

[2020-12-02 14:55] Batta32 commented on #3725
Hi @UtkarshSinghal17, we **were not able** to reproduce the issue.

We came up with some **questions**:
1. What version of Power BI are you using? We recommend to use the latest version [2.87.1061.0 32-bit (November 2020)](https://www.microsoft.com/en-us/download/details.aspx?id=58494)
1. Are you using the `application-insights id` as this [document](https://microsoft.github.io/botframework-soluti

[2020-12-02 16:18] UtkarshSinghal17 commented on #3725
Hello @Batta32 Please find screenshots for my power bi version and also I have used application-insight same as described in the document.

![image008](https://user-images.githubusercontent.com/44197601/100899597-0839e100-34e8-11eb-94f5-6ca34b4e0f3f.jpg)
![image009](https://user-images.githubusercontent.com/44197601/100899613-0a9c3b00-34e8-11eb-9907-8a81368b91fd.jpg)
![Power BI version](https://us

[2020-12-02 20:21] Batta32 commented on #3725
Hi @UtkarshSinghal17, we successfully **reproduced** the issue filtering the `ConversationId` column by the blank value as you appear to have filtered [here](https://github.com/microsoft/botframework-solutions/issues/3727#issuecomment-734336099).

Can you verify if you have any **active filter** in your query? We have attached the [query.txt](https://github.com/microsoft/botframework-solutions/fil

[2020-12-03 12:38] Batta32 commented on #3663
This issue is solved with the PR #3665, however, it's currently in draft as `main` branch is not created.

[2020-12-03 13:10] edemehmetcan commented on #3723
Hello, I just had a try after updated the botframework-cli to version 4.11.1

[code]

I have this error: ".Unexpected arguments: --out"

[2020-12-03 13:16] Batta32 commented on #3723
Hi @edemehmetcan, [botframework-cli@4.11.1](https://www.npmjs.com/package/@microsoft/botframework-cli/v/4.11.1) was released 8 days ago and doesn't contain the PR microsoft/botframework-cli#1065 as it was merged 3 days ago.

Those changes will be integrated in the next release of the botframework-cli tool 😊.

[2020-12-03 13:19] edemehmetcan commented on #3723
Hi @Batta32 it's what I have thought about. Thanks for the clarification. When the next release will be scheduled ? :)

[2020-12-03 13:21] Batta32 commented on #3723
@munozemilio & @feich-ms - is there any ETA for the new release of botframework-cli tool?

[2020-12-03 14:44] Batta32 commented on #3726
Hi @GitDruid, sorry for the delay. We successfully **reproduced** the issue.

We will investigate the reason of this, we will back to you as soon as we have any update 😊.

_Issue reproduced_
![image](https://user-images.githubusercontent.com/11904023/101043253-df076800-355c-11eb-8796-c706d82062ca.png)

[2020-12-03 19:16] ipraveenMS commented on #3683
@lauren-mills  @stevengum @Batta32 ,We had hit the "Not implemented" exception (https://github.com/microsoft/botframework-solutions/issues/3676 ) which was blocking us for few months. Then I saw that SDK 11 fixes this.
I tried to use SDK 11 and hit with this issue Missing method exception
This issue is closed even though the PR that is supposed to fix it is not completed.

Can you provide us the t

[2020-12-04 16:41] Batta32 commented on #3712
Hi @SSanjeevi, as we discussed over email, we managed to **reproduce** and **solve** the issue using an Azure DevOps Pipeline and the YML file you attached in the email.

We applied the following changes using the YML file you attached:
- Add a task to install Node version 12.16.1: we added this task to avoid the INVALID_ALT_NUMBER warning (see microsoft/botframework-cli#1059).
- Replace the Azure

[2020-12-04 16:53] #3712 closed

[2020-12-04 18:25] Batta32 commented on #3726
Hi @GitDruid, as a **workaround** we used the [composite entity](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lu-file-format?view=azure-bot-service-4.0#composite-entity) and the result was a similar one as the desired. We added an example so you can use it as a guide.

@munozemilio & @axelsrz - should we transfer this issue to [botframework-cli](https://github.com/mic

[2020-12-04 19:25] EricDahlvang commented on #3614
Sorry, I'm not sure.  Looks like maybe this will not be an issue, since #3633 removed the check for role?

[2020-12-04 19:32] Batta32 commented on #3614
@EricDahlvang - PR #3633 removed the check for role.

Just in case, we will do a validation of R11 with the changes implemented in PR #3633. As soon as we have any update, we will let you know the result 😊.

[2020-12-08 01:37] #3629 closed

[2020-12-08 01:37] #3290 closed

[2020-12-08 07:58] edemehmetcan commented on #3723
an update ? @munozemilio  & @feich-ms  @Batta32

[2020-12-08 08:35] feich-ms commented on #3723
@edemehmetcan sorry for the late response, as far as I know, next release will not be too early. To unblock you, you can install the latest nightly build version which already contains the fix. Just use npm install -g @microsoft/botframework-cli@**next**. It will install the latest one. Thank you.

[2020-12-08 14:52] edemehmetcan commented on #3723
@feich-ms  thanks a lot, it works with the next release :) waiting for the real release then...

[2020-12-08 17:17] selvaduraiece opened #3734 "DirectLine 'event trigger' makes the last message to be disappeared/deleted"
I come across a strange issue. I trigger an event using DirectLine and based on the event name I am posting back the message to the user.

But after triggering the message my last message which is already sent got deleted/disappeared. I am not sure why this is happening. Please refer the screenshot.
![image](https://user-images.githubusercontent.com/40558980/101517254-8eea3480-39a6-11eb-8c32-54a8b

[2020-12-08 19:15] tonyanziano commented on #3560
@peterinnesmsft can you provide an update on this issue? Is it being looked at?

[2020-12-09 01:39] #3663 closed

[2020-12-09 19:52] peterinnesmsft commented on #3734
Hi @selvaduraiece,

Thank you for raising this issue. Can you please confirm a few details:

- Which versions of the Bot Framework SDK, Virtual Assistant template, and Web Chat control are you using?
- Have you made any modifications to your bot outside of adding custom dialogs?
- In your application logs, are you seeing any indication that the activity itself is being deleted in the backend bot a

[2020-12-09 20:25] Batta32 commented on #3614
Hi @EricDahlvang, sorry for the delay. We validated the fix of PR #3633 which removes the check for role using R11 and we confirmed that it's **working** having the `role` property set to null using Web Chat and DirectLine.

We think that this issue can be closed as the changes will be present in the new stable packages of Solutions.

![image](https://user-images.githubusercontent.com/11904023/101

[2020-12-10 11:07] SreekanthOAuth opened #3735 "how to pass data from virtual assistant to a skill and vice versa"
**Project:**  MS BOT
**Language:**: Typescript

**Modules:** At both Skill & VA level

       "bot-solutions": "^1.0.0",
        "botbuilder": "^4.11.0",
        "botbuilder-ai": "^4.11.0",
        "botbuilder-applicationinsights": "^4.11.0",
        "botbuilder-azure": "^4.11.0",
        "botbuilder-dialogs": "^4.11.0",
        "botbuilder-lg": "^4.11.0",
        "botframework-config": "^4.11.0",

[2020-12-10 15:37] selvaduraiece commented on #3734
I am using latest Bot composer in backend  and  front end I am using webchat-es5.(I need support for IE11, so I am using es5).
I  am triggering an event from Frontend based on the name of the event I am emitting an event as shown in below images.
![image](https://user-images.githubusercontent.com/40558980/101790631-b23ced00-3b28-11eb-88b3-25bc7038a551.png)
![image](https://user-images.githubuserco

[2020-12-10 19:05] tonyanziano commented on #3735
@Batta32 can you please take a look at this?

[2020-12-10 19:15] Batta32 commented on #3735
Sure @tonyanziano, we will review this issue with the team!

@SreekanthOAuth, we will start reviewing all the information you provided. As soon as we have any update, we will back to you here 😊.

[2020-12-10 19:22] VictorGrycuk commented on #3728
Hi @wang-piaoliang, we were **not** able to reproduce the error you are having. We tested and confirmed the correct functionality of the template using with the following versions:

- **Microsoft Store:** Version: 2.87.1061.0 64-bit (November 2020)
- **MSI Installer:** Version: 2.87.1061.0 64-bit (November 2020)
- **MSI Installer:** Version: 2.87.1061.0 32-bit (November 2020)

We **suggest** you t

[2020-12-11 08:53] UtkarshSinghal17 opened #3737 "In Facebook channel, Hero card button title is truncated"
#### What project is affected?

#### What language is this in?
C# .Net
#### What happens?
I have used hero card to show some message so that user can click on it but In Facebook Channel, hero card button text is truncated
#### What are the steps to reproduce this issue?
Create a hero card with 3 buttons. Enable facebook channel.

#### What were you expecting to happen?
Hero card button title shoul

[2020-12-11 10:46] sachabruttin opened #3738 "[Docs] Describe how to get the value for serviceNowNamespaceId"
The IT Service Managment (ITSM) Skill documentation page provide information about how to configure the skill, but it lacks information on how to retrieve the value `serviceNowNamespaceId` on the `appsetting.json` file.

https://microsoft.github.io/botframework-solutions/skills/samples/itsm/

[2020-12-11 12:29] selvaduraiece commented on #3734
We are building for big Organization and targeting audience also huge, So please do help us at the earliest.

[2020-12-11 13:55] UtkarshSinghal17 commented on #3725
I have deployed chatbot to different app service and pointing to different application Insights Now I am able to retrieve all data except Hero Card, Adaptive Card text. Is it any way I can get text/title/button values in the power bi report?

[2020-12-11 14:17] Batta32 commented on #3725
Great @UtkarshSinghal17 ! We will be reviewing the scenario of populating the values of a card in the Power BI report and as soon as we have any update, we will back to you here 😊.

[2020-12-11 19:08] tonyanziano commented on #3737
@Batta32 can you please comment on this?

[2020-12-11 19:16] tonyanziano commented on #3496
What is the status of #3559? @Batta32

The last update on it was on September 11

Thanks

[2020-12-11 19:18] Batta32 commented on #3496
Hi @tonyanziano, the PR #3559 is ready to be reviewed and merged containing the requested changes of @peterinnesmsft.

As soon as the PR is merged, the changes will be present in the `next` branch.

[2020-12-11 19:22] Batta32 commented on #3737
Sure @tonyanziano!

Thanks for reporting the issue @UtkarshSinghal17 and for the provided information. We will start working on this issue and as soon as we have any update for you we will back here 😊.

[2020-12-11 20:54] lauren-mills commented on #3738
Hi, this screenshot shows where to find the namespace Id in the New Scripted REST API form:
![image](https://user-images.githubusercontent.com/27976702/101953859-fcb57c80-3baf-11eb-93d6-2aa974322978.png)

I'll make an update to the docs to show this.

[2020-12-11 21:04] #3738 closed

[2020-12-12 01:42] #3617 closed

[2020-12-14 13:43] UtkarshSinghal17 commented on #3737
Hello @Batta32  Do you have any update on this.

[2020-12-14 13:44] Batta32 commented on #3737
Hi @UtkarshSinghal17, we are currently reviewing this issue so you will have an update this week 😊.

[2020-12-14 19:15] peterinnesmsft commented on #3734
Hi @selvaduraiece,

Based on the additional information you have provided, I think this is a behavior of the Web Chat component. The default VA implementation doesn't contain anything that deletes messages, so I will transfer this issue to the appropriate repo.

Web Chat team, can you please help investigate further why activities are being removed from the chat? Is this behavior by design?

[2020-12-14 20:12] Batta32 commented on #3725
Hi @UtkarshSinghal17, there is a **way** to do what you need and we found the same issue described in #3447 (check [comment](https://github.com/microsoft/botframework-solutions/issues/3447#issuecomment-649634587)). However, it's not ideal and hopefully you can adapt it to better suit your needs.

Follow these **steps**:
1. In the Power BI report, click on `Transform Data` from the Home tab
1. Clic

[2020-12-15 07:14] chenxizhang opened #3741 "[Docs] need to install luis-apis and qnamaker tools"
/virtual-assistant/tutorials/create-assistant/typescript/2-download-and-install/

need to install those tools seperatelly, then the deploy.ps1 can work

npm install -g luis-apis qnamaker

[2020-12-15 07:46] chenxizhang opened #3742 "[Docs] -botWebAppName should be -name"
/skills/tutorials/create-skill/csharp/5-update-manifest/

-botWebAppName should be -name

[2020-12-15 19:16] taicchoumsft commented on #3735
@Batta32 , do you have any updates on this issue?

[2020-12-15 19:46] matiasroldan6 commented on #3737
Hi @UtkarshSinghal17, we could reproduce this issue following the steps you detailed.

We will be working on finding what's causing this, and a possible solution.

![image](https://user-images.githubusercontent.com/20074735/102264765-d6b41300-3ef4-11eb-9d6d-5692b4180afb.png)

[2020-12-15 20:21] Batta32 commented on #3735
Yes @taicchoumsft, we were finishing some validations on our side. This week we will have an update!

[2020-12-16 15:01] Batta32 commented on #3735
Hi @SreekanthOAuth, sorry for the delay. The current method to implement this functionality is **described** in [/virtual-assistant/handbook/exchanging-data-with-skills/](https://microsoft.github.io/botframework-solutions/virtual-assistant/handbook/exchanging-data-with-skills/) document.

We were **able** to exchange information between a TypeScript Virtual Assistant and a TypeScript Skill followi

[2020-12-16 19:22] taicchoumsft commented on #3615
Hi @chrimc62 , can you advice how would you like to proceed with this datetimeV2 issue?

[2020-12-16 23:16] silverbulletgt opened #3743 "System.NullReferenceException: 'Unable to locate SkillConversationIdFactoryBase in HostContext'"
#### What project is affected?
Microsoft.Bot.Builder.Dialogs.Adaptive
#### What language is this in?
C#
#### What happens?
After following the instructions on this post: [experimental-add-composer](https://microsoft.github.io/botframework-solutions/skills/handbook/experimental-add-composer/) I get the error System.NullReferenceException: 'Unable to locate SkillConversationIdFactoryBase in HostCont

[2020-12-17 14:06] SreekanthOAuth commented on #3735
@Batta32 , Thank you so much for the update.

We will try out this resolution and come back.

Thanks,
Sreekanth.

[2020-12-17 19:07] taicchoumsft commented on #3743
Duplicate of [5057](https://github.com/microsoft/botbuilder-dotnet/issues/5057) in botbuilder dotnet, closing this one.

[2020-12-17 19:07] #3743 closed

[2020-12-17 19:47] matiasroldan6 commented on #3737
Hi @UtkarshSinghal17, we found that this is not related to the bot, and in fact it's most likely a **Facebook limitation** as they control how a card is rendered on the messenger platform.

As far as we researched, there is **no workaround** for this, other than maybe, setting the options in plain text for the user to choose, or cutting down the text in the buttons.

We found some related issues t

[2020-12-18 04:11] ph479 opened #3744 "ffffffffff"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on Stack Overflow
https://stackoverflow.com/questions/tagged/botframework

[question]

[2020-12-18 19:03] #3744 closed

[2020-12-18 20:36] 007-fr opened #3745 "Activating Cortana Channel in Bot Framework"
When I attempt to add Cortana as a channel in a Bot via Azure, I receive a number of different errors errors.
![image](https://user-images.githubusercontent.com/66075770/102659004-ae235780-4146-11eb-8fde-79731a88cf55.png)

When I 1st click deploy, I get the incorrect image error.
![image](https://user-images.githubusercontent.com/66075770/102659031-baa7b000-4146-11eb-81ca-95867669e2d3.png)

Once I

[2020-12-18 20:37] 007-fr commented on #3745
Any thoughts on how to resolve. I posted this issue [here ](https://github.com/microsoft/cortana-skills-samples/issues/3)in October but no one responded:

[2020-12-21 06:03] amoyalan20 opened #3746 "Proactive Notification in Teams"
Here are our queries on proactive notification in Teams bot. Kindly suggest some recommendations/known limitations.

•	Is it possible to trigger automated proactive notification to only few people – not all people with bot – How to alert only selected people samples?
•	Can we do the proactive push using a WebJob / Logic app? what's the Best recommendation?
•	Any limitations or known issues with pr

[2020-12-21 19:27] #3728 closed

[2020-12-21 19:34] EricDahlvang commented on #3614
Thanks @Batta32

[2020-12-21 19:34] #3614 closed

[2020-12-22 07:53] UtkarshSinghal17 commented on #3725
Thanks @Batta32 .

It is really helpful. I am able to get all the data that I required.

[2020-12-22 07:53] #3725 closed

[2020-12-23 00:19] EricDahlvang commented on #3746
Hi @amoyalan20

Some information regarding Teams rate limits can be found here:
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/rate-limit

- Yes, it is possible to alert only select people.  This sample demonstrates sending a message to every member of a conversation: https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/57.teams-conversation-bot

[2020-12-24 20:19] ObsidianDelta commented on #3683
Just FYI ... Used Microsoft.Bot.Solutions v 1.0.1 ... but that does not have the up to date Microsoft.Bot.Builder.LanguageGeneration and Microsoft.Bot.Builder.TemplateMangager packages! So had to upgrade the nuget package for both of them to v 4.11.1 ... and we don't get the error anymore.

[2020-12-24 20:20] ObsidianDelta commented on #1530
Make sure that all your nuget packages are updated ... and skills works with webchat!

[2020-12-26 02:04] #3652 closed

[2020-12-28 14:12] Batta32 commented on #3713
We applied the necessary changes in the PR #3710 (see [commit](https://github.com/microsoft/botframework-solutions/pull/3710/commits/dc6df47ab910dfbcb4c444020527119f3605e9f3)).

[2020-12-28 14:13] Batta32 commented on #3652
This issue is solved with the following PRs:
- #3714
- #3717
- #3718
- #3719
- #3720

[2020-12-28 14:13] Batta32 commented on #3711
This issue is solved with the PR #3724.

[2020-12-28 14:14] Batta32 commented on #3721
This issue is solved with the PR #3733

[2020-12-28 14:14] Batta32 commented on #3706
This issue is solved with PR #3707

[2020-12-28 14:15] Batta32 commented on #3708
This issue is solved with PR #3709

[2020-12-29 02:11] #3644 closed

[2020-12-30 02:13] #3613 closed

[2021-01-03 02:20] #3713 closed

[2021-01-03 02:20] #3721 closed

[2021-01-03 02:20] #3708 closed

[2021-01-03 02:20] #3711 closed

[2021-01-03 02:20] #3706 closed

[2021-01-04 19:37] #3735 closed

[2021-01-04 19:39] #3737 closed

[2021-01-04 19:47] #3746 closed

[2021-01-04 23:12] ipraveenMS opened #3748 "Virtual assistant dialogs need warmup"
#### What project is affected?
Latest VA sample and skills
#### What language is this in?
C#
#### What happens?
The VA invocation phrase "sample dialog" does not work from OnBeginDialogAsync. It goes to generic invocation instead of skill invocation.
#### What are the steps to reproduce this issue?
1. Deploy sample VA
2. Deploy sample skill
3. Connect skill to the VA
4. Deploy the bots to azure an

[2021-01-05 19:32] gabog commented on #3748
Hi @Batta32, can you review this one?

Thanks

[2021-01-05 20:31] Batta32 commented on #3748
Sure @gabog ! We will be reviewing this issue trying to reproduce the problem. As soon as we have any update we will back here 😊.

[2021-01-06 03:14] chrimc62 commented on #3615
The simplest fix for this is to generate a different class for each natural language.  The datetime vs datetimev2 recognizers are actually different and generate different results so there is no great way to merge them.

For the intents, just generate the class for the model you consider the superset and don't generate for the others.  There is no way for us to know which model that might be so it

[2021-01-06 06:19] amoyalan20 commented on #3746
@EricDahlvang Thanks for your valuable information, it was much helpful. Have an additional queries on the same :

- We have a specific set of people to be notified with proactive message because of their due in submitting a feature.
Do you have any link for this requirement other than the generic reference link that you shared previously?

[2021-01-06 09:41] michaeljdresser opened #3750 "Oauth Connection - The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."
## Version
Not applicable

## Describe the bug
After signing into the 3rd party provider (OAuth2 Generic Provider) the following message is displayed in the sign in page and the authentication process fails.
"The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

## To Reproduce
Created an application using the Bot Framework Solutions Skill templa

[2021-01-07 02:26] #3731 closed

[2021-01-07 06:30] amoyalan20 opened #3749 "Proactive Notification in Teams"
We have a specific set of people to be notified with proactive message because of their due in submitting a feature.
Do you have any link for this requirement other than the generic reference link( https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs )?

[2021-01-08 16:35] EricDahlvang commented on #3746
@amoyalan20 _a specific set of people ... due in submitting a feature_ is business logic very specific to your application, and how this is accomplished would depend on other application requirements.  Where are you planning to store the ConversationReferences (using what data store)?  While they are retrieved, the query to the store should contain a filter, finding only those specific set of peop

[2021-01-08 17:36] stevkan commented on #3750
@michaeljdresser, thank you for your patience while I researched this. I believe this to be a Service issue (vs SDK) and have reached out to a colleague on that team. Once I have some guidance and a possible next step I will post an update.

[2021-01-08 19:33] anusharavindrar commented on #3749
@amoyalan20, just to clarify, you want to send proactive messages to each user in the team(specific set of people) or send a proactive message to the team channel?

[2021-01-11 19:54] Jeffders commented on #3750
Hello. Currently the maximum allowable lengths are closer to 2048 characters.

What we've recommended to others in cases where an identity provider is doing something more unique or outside the boundaries of what we support is for you to create an "OAuth Proxy" (with the token and authorize methods). Then, you'd point your Bot Service OAuth Connection setting at this proxy, and inside the implemen

[2021-01-12 06:53] amoyalan20 commented on #3749
@anusharavindrar we are looking for a proactive message for a specific set of people.

[2021-01-12 07:00] amoyalan20 commented on #3746
@EricDahlvang Thanks for your information. Is there any feasibility of sending  proactive message to specific  user without storing conversation details to table storage/CosmosDb?

[2021-01-12 09:47] edemehmetcan commented on #3723
@feich-ms @Batta32 When the next release will be available ?

[2021-01-13 00:14] anusharavindrar commented on #3749
@amoyalan20, as of now we only have the official documentation https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet which explains in detail about how to send proactive messages to users, but it follows the same sample 57. teams-conversation-bot. Your use case is very specific.

Closing this issue as I see an ongoing conversation in

[2021-01-13 00:14] #3749 closed

[2021-01-13 00:50] feich-ms commented on #3723
Hi @edemehmetcan, sorry for the late response. As far as I know, the next release will be mid of Feb. 2/12 is our code completion day and we may push the release one week later after that.

[2021-01-13 12:30] Batta32 commented on #3748
Hi @ipraveenMS, sorry for the delay. We are currently working on this issue, so this week we will let you know the updates 😊.

[2021-01-13 15:29] Bngo15 opened #3753 "Feedback Responses - Bot Builder - CosmosDB"
Hello,

I am implementing a bot in Visual Studio using the Feedback Response from the users. I was wondering if it stored these values by default in CosmosDB or if there are any modifications that need to be done in order to store them there. Also, where would I go to find these after the user has entered their feedback?

Using the below link:

https://microsoft.github.io/botframework-solutions/vi

[2021-01-14 03:16] Aavi2105 commented on #3644
Hi @ipraveenMS :- I came across similar issue where I am using updateactivity method from skill for replacing existing adaptive card activity with ready only card. Below is the code snippet which have written in my skill bot, but when it tries to call updateactivity method then it throws  out same error "Operation returned an invalid status code 'NotImplemented'. Please suggest if you found any so

[2021-01-15 13:50] Rykimaruh opened #3754 "[Docs] Microsoft App Password not generated in appsettings.json file as mentioned in the documentation"
**Please describe your request**

Trying to connect the bot by following the documentation for the first time and I get error message in the emulator:
![image](https://user-images.githubusercontent.com/5460795/104734638-f1a5bd00-5716-11eb-932e-914f4fc41b6a.png)

**Is this an issue with current documentation? If yes, please provide the link.**
In the documentation: https://microsoft.github.io/botfr

[2021-01-15 19:14] VictorGrycuk commented on #3748
@ipraveenMS - We reproduced the issue and sending the skill utterance before or during the onboarding dialog will not activate the Skill. We checked why this is happening, and we believe this is **by design**.

The steps we took were the following:

1. Build and deploy the C# [Virtual Assistant sample](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants/virtua

[2021-01-15 19:15] VictorGrycuk commented on #3748
@ipraveenMS - We found a **workaround**. It consists on extracting [the logic that checks](https://github.com/microsoft/botframework-solutions/blob/master/templates/csharp/VA/VA/Dialogs/MainDialog.cs#L361-L376) if the activity contains a skill utterance, and call it if it does, to its own method. Then that method can be called in earlier steps, such as before the OnBoardingStep or even in the Inte

[2021-01-15 20:23] matiasroldan6 commented on #3560
Hi @GitDruid sorry about the delay. We successfully reproduced the mentioned issue following the steps you provided.

We found that when `CultureInfo.CurrentUICulture` [gets polled](https://github.com/microsoft/botframework-solutions/blob/master/sdk/csharp/libraries/microsoft.bot.solutions/Responses/ResponseManager.cs#L64) when [creating the authentication dialog](https://github.com/microsoft/botf

[2021-01-17 14:04] SSanjeevi opened #3755 "502 bad gateway with bot api timeout on performance testing"
#### What project is affected?
Virtual Assistant Template
#### What language is this in?
C#
#### What happens?
502 bad gateway with bot api timeout on performance testing
#### What are the steps to reproduce this issue?
We are doing performance testing for this template bot before our go live with following setup in Azure:
Bot api hosted in App service: Default 2 instances, max scale out instances

[2021-01-19 12:57] cxbuilders opened #3756 "[Docs] Power BI Report is not working for Adaptive Dialogs"
/solution-accelerators/tutorials/view-analytics/1-intro/

Checked the report and it is build for Waterfall dialogs not for adaptive dialogs. Another report for adaptive would be great

[2021-01-19 19:28] LeeParrishMSFT commented on #3615
Close due to inactivity.

[2021-01-19 19:28] #3615 closed

[2021-01-19 19:48] Batta32 commented on #3579
Hi @GitDruid , sorry for the delay. We are currently reviewing this issue and we will let you know as soon as we have any update for you 😊.

[2021-01-19 19:57] ipraveenMS commented on #3748
@VictorGrycuk @gabog This is a regression from previous behavior. We have BF from the versions where this works (VA and skill are in the same process, not different micro services) . So its not by design, its a bug.

[2021-01-19 20:36] VictorGrycuk commented on #3748
Hi @ipraveenMS, we will be re analysing this.
 We will let you know as soon as we have an update.

[2021-01-19 22:14] ipraveenMS commented on #3748
Thats great, let us know when this is fixed. For now I have incorporated the workaround in my code.

[2021-01-20 02:47] #3741 closed

[2021-01-20 02:47] #3742 closed

[2021-01-20 19:49] stevkan commented on #3753
Hi @Bngo15 - Yes, if you could include your MainDialog.cs as well as your MainBot.cs code (that houses the activity handlers), that would be helpful. I'll have more to say regarding the feedback overwriting QnA responses once I've had a peek. A few questions:

- Did you implement your bot from a VA solution or template? If so, can you link to which one?
- I'm assuming that, with the VA solution yo

[2021-01-21 00:53] stevkan commented on #3755
@SSanjeevi, there are a **lot** of possible reasons as to why you are receiving a 502 bad gateway / 15s timeout error from your bot. The most often case is due to a long running process in the bot that delays a message being returned which then results in the error. An example of a long running process can include API calls to third parties. Do you have anything of the sort in your code that might

[2021-01-21 01:35] #3750 closed

[2021-01-21 07:44] ipraveenMS opened #3757 "Operation returned an invalid status code 'NotFound' when calling TeamsOperations.FetchChannelListWithHttpMessagesAsync"
#### What project is affected?
latest BF
#### What language is this in?
C#
#### What happens?
Operation returned an invalid status code 'NotFound'
   at Microsoft.Bot.Connector.Teams.TeamsOperations.GetResponseAsync[T](String url, Boolean shouldTrace, String invocationId, Dictionary`2 customHeaders, CancellationToken cancellationToken)
   at Microsoft.Bot.Connector.Teams.TeamsOperations.FetchChann

[2021-01-21 13:21] SSanjeevi commented on #3755
@stevkan on further analysis the blob storage of conversation is taking more time and the bot is working fine after removing the blob storage conversation storing integration.

[2021-01-22 18:27] jwiley84 commented on #3754
This is very strange, I've never seen it not supply the app password. I'm thinking that something went sideways in your initial creation. I'm going to attempt a repro, but in the mean time, have you tried deleting the resources and recreating the VA bot again?

[2021-01-22 19:04] Rykimaruh commented on #3754
@jwiley84

When it asks me for password in Powershell when running the script, I don't provide any because usually those MS Password are auto generated. Do I need to provide?

[2021-01-22 20:16] Batta32 commented on #3579
Hi @GitDruid, sorry for the delay. We reproduced this issue following the Microsoft [documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Ceml), and we configured the Virtual Assistant and the Skills, along with their corresponding AppRegistration and OAuth settings.

Following your [comment](https://github.com/mic

[2021-01-22 20:21] Batta32 commented on #3560
Hi @GitDruid, we **were not able to fix** the mentioned issue, but we have two **workarounds** updating the [SkillDialogBase](https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/skill/SkillSample/Dialogs/SkillDialogBase.cs#L23) constructor:

1. Add a list of OAuthPromptSettings with your custom settings, and send it in the [MultiProviderAuthDialog](https://github.com/mic

[2021-01-22 23:36] rslavey opened #3758 "update_cognitive_models script removes prebuilt entities in Dispatch"
#### What project is affected?
Virtual Assistant Template

#### What language is this in?
C#

#### What happens?
Running:

    ./Deployment/Scripts/update_cognitive_models.ps1 -RemoteToLocal

and my Dispatch model loses all prebuilt entities. I want to route utterances with "datetiemV2" and "personName" data

#### What are the steps to reproduce this issue?
Build template and deploy
Add new LUIS m

[2021-01-23 00:15] rslavey commented on #3758
This is more an issue with https://github.com/microsoft/botbuilder-tools/blob/master/packages/Dispatch. Closing.

[2021-01-23 00:15] #3758 closed

[2021-01-23 00:24] stevkan commented on #3755
I don't know too much about configuring / managing blob storage or what steps you already took, but it sounds like the service may also need to be adjusted to accommodate a heavy workload, as well?

It sounds like you know where the issue is. Are you still wanting help on this issue?

[2021-01-25 13:44] Batta32 commented on #3757
Hi @ipraveenMS, thanks for reporting the issue.

We came up with some **questions** in order to reproduce the issue:
1. Can you add a detailed repro steps so we can follow exactly the same steps?
1. Can you add the environment that you have configured? For example, if you are using a VA-Skill connection, if you are using Teams as channel
1. Which version of `botbuilder` are you using?

We will let

[2021-01-25 17:14] jwiley84 commented on #3754
No, it should provide it (I believe it does something generic like AtLeastSixteenCharacters_1).

[2021-01-25 18:57] negativeeddy opened #3759 "[Enterprise Bot Template][C#] deploy script doesn't succeed"
The sample enterprise template still deploy_cognitive_models.ps1 still uses the luis command line instead of bf:luis

https://github.com/microsoft/botframework-solutions/blob/56ad92d5325130783ca3b703ec93a430cece943f/samples/csharp/assistants/enterprise-assistant/VirtualAssistantSample/Deployment/Scripts/deploy_cognitive_models.ps1#L203

This results in an error during the initial deployment
[code]

[2021-01-25 19:08] a-b-r-o-w-n commented on #3756
@garypretty have you had a chance to look into this yet?

[2021-01-25 19:19] a-b-r-o-w-n commented on #3496
@joshgummersall what is the status of #3752? When do you expect to merge that in?

[2021-01-25 19:21] jwiley84 commented on #3754
Sorry for the delay in getting back to  you.  Yes,  you do need to provide the password at the point, as that is the password for the app that is created on Azure when you deploy the bot. Can you retry your deployment and add a password like 1qaz2wsx!QAZ@WSX (something simple to remember, just for testing).

[2021-01-25 19:21] jwiley84 commented on #3754
![image](https://user-images.githubusercontent.com/17333688/105754953-84a4db00-5eff-11eb-8c1f-b18b30a984ab.png)

[2021-01-25 19:23] joshgummersall commented on #3496
Just as soon as someone else can review it and approve!

[2021-01-25 19:26] Rykimaruh commented on #3754
Sure, I'll get back to you as soon as I test it out and check up on the result.

[2021-01-26 10:44] garypretty commented on #3756
Thanks @cxbuilders.  Right now we have no plans in the short term to update the Power BI dashboard.  However, we do have analytics as a broader point on our roadmap and will likely see progress here later this year.  This may include updates to the Power BI dashboard, but we are going to look at analytics all up and decide on an appropriate approach.

I'm going to close this issue as we are tracki

[2021-01-26 10:44] #3756 closed

[2021-01-26 14:01] tomSauret847 commented on #3573
@Batta32 We have a quick question on this issue. Is the SSO for typescript available yet? We found the issue is our skills are behind a firewall and are unable to receive the token response. When we pass the VA's credentials in it is not forwarding the token to the skill it is just restarting the conversation. If SSO for typescript is not available when do you expect it to be? Thank you for all yo

[2021-01-26 14:17] Batta32 commented on #3573
Hi @tomSauret847, SSO is not available for TypeScript currently as it's introduced in 1.0 version. The PRs of TypeScript version 1.0 should be approved and merged in order to release a new version with that feature.

We will let you know as soon as we have any update 😊.

[2021-01-27 03:09] ipraveenMS commented on #3757
@Batta32
1. I am using VA and skills. Called UpdatedActivityAsync from skill which works (POST http message above) and I call TeamsConnectorClient.Teams.FetchChannelListAsync from skill which fails (GET http message above returns NOT found).
2. Its a regular VA and skills project (modified with our changes) and teams is configured as a channel in both skill and VA and messages are posted to teams

[2021-01-27 07:53] ipraveenMS commented on #3757
So I noticed one thing, the UpdateActivityAsync calls from skill hit a corresponding function in the VA side (SkillController:UpdateActivityAsync)  REST path: v3/**conversations**/activities HTTP POST
But when TeamsConnectorClient.Teams.FetchChannelListAsync function is called from skill, no function gets hits on VA side . There is no matching path that handles the v3/**teams**/conversations HTTP

[2021-01-27 17:14] rslavey commented on #3194
I'm still seeing this in group chats where someone invites the bot:

    < at > my bot < / at > people in accounting

Was this only fixed for a bot in a team and not a group chat?

[2021-01-27 17:24] stevkan commented on #3753
Closing due to inactivity.

[2021-01-27 17:24] #3753 closed

[2021-01-28 18:49] cxbuilders commented on #3756
@garypretty Could you maybe specify 'elsewhere'? Than we can track along

[2021-01-28 23:32] ipraveenMS commented on #3757
Even
  var details = await TeamsInfo.GetTeamDetailsAsync(turnContext,
                turnContext.Activity.TeamsGetTeamInfo().Id, cancellationToken);
hit the same NOT found error. With same REST path in ngrok

[2021-01-29 10:02] garypretty commented on #3756
@cxbuilders Not at this time - we have a broad planning item on our backlog / roadmap to enable analytics in some form, but the exact details of this are not in a place where you would be able to track them, as we have not yet agreed the specifics of what will be delivered. All I can suggest for now would be to keep an eye on our announcements / releases.

[2021-01-29 17:18] stevkan commented on #3755
Closing due to inactivity.

[2021-01-29 17:18] #3755 closed

[2021-01-29 19:03] rslavey opened #3761 "[Docs]"
/skills/tutorials/create-skill/csharp/5-update-manifest/

this command:

    .\Deployment\Scripts\publish.ps1 -botWebAppName {YOUR_SKILL_BOTWEBAPP_NAME} -resourceGroup {YOUR_RESOURCEGROUP_NAME}

is incorrect. The script is expecting `-name` not `-botWebAppName`

[2021-01-29 19:08] srinaath commented on #3748
@VictorGrycuk Any update on this ticket?

[2021-01-29 19:10] #3748 closed

[2021-02-02 19:11] srinaath commented on #3579
@Batta32  Any updates on this ticket?

[2021-02-02 20:38] Batta32 commented on #3579
Hi @srinaath, we are not currently working on this issue. The next week we will probably re-take it and as soon as we have any update, we will communicate it here 😊.

[2021-02-03 18:29] lauren-mills commented on #3761
Hi @rslavey, thank you for reporting. [This doc](https://microsoft.github.io/botframework-solutions/skills/tutorials/create-skill/csharp/5-update-manifest/) has been updated accordingly.

[2021-02-03 18:29] #3761 closed

[2021-02-04 02:04] #3689 closed

[2021-02-04 07:43] ObsidianDelta commented on #1430
Just FYI when you run Run .\Deployment\Scripts\update_cognitive_models.ps1 ... in the cognitivemodels.json the endpoint url was for LUIS authoring and the region was also for the authoring luis region ... usually westus ... otherwise you get :

Failed to retrieve application data: Error: PermissionDenied

[2021-02-05 19:16] srinaath commented on #3754
Closing due to inactivity.

[2021-02-05 19:16] #3754 closed

[2021-02-05 19:27] srinaath commented on #3560
@VictorGrycuk Can we get the PR merged to close this ticket?

[2021-02-05 19:27] srinaath commented on #3560
@VictorGrycuk Can we get the PR merged to close this ticket?

[2021-02-05 19:35] VictorGrycuk commented on #3560
@srinaath we can't merge it as we don't have permission to merge 🙂

[2021-02-05 19:47] #3560 closed

[2021-02-08 04:18] ipraveenMS commented on #3757
Hi @Batta32 any updates?

[2021-02-08 09:40] SreekanthOAuth opened #3763 "TranscriptLoggerMiddleware logActivity failed: "Converting circular structure to JSON""
What project is affected?

sample-assistant and sample-skill

#### What language is this in?

Typescript

We are using the below versions

"botbuilder": "^4.11.0",
"botbuilder-ai": "^4.11.0",
Typescript
Node Js: v11.6.0
Windows 10

#### What happens?

Getting below error on Every time dialog is end

TranscriptLoggerMiddleware logActivity failed: "Converting circular structure to JSON"
TypeError: C

[2021-02-08 12:09] Batta32 commented on #3757
Hi @ipraveenMS , sorry for the delay. We are going to tackle this issue during this week, as soon as we have any update, we will let you know here 😊.

[2021-02-08 19:42] Virtual-Josh commented on #3496
@joshgummersall,

Can you work to get the PR merged so this ticket can be closed?

[2021-02-08 19:44] joshgummersall commented on #3496
@virtual-josh, it's just waiting on one more PR review; it's been approved by one reviewer already. Not sure who to ping for a second review.

[2021-02-08 20:07] mdrichardson commented on #3763
@SreekanthOAuth

1. Are you able to provide a longer stack trace? You should be able to adjust this by modifying your `package.json` > `start` line to include `node --stack-trace-limit=100`.

2. Are you sending any data back as the result with the dialog ends?

3. Is it every dialog, or just one in particular?

[2021-02-09 19:53] #3496 closed

[2021-02-10 15:38] parasdesaicims opened #3764 "Local/Source control LU file update"
#### What project is affected?
Using Virtual Assistant Template
#### What language is this in?
C#
#### What happens?
Updating the Intents on Luis works fine within Bot and Luis. But while I try to update the local LU files and inturn source control the changes are actually removed.
#### What are the steps to reproduce this issue?
1. Update the intents on LUIS --> publish
2. following steps as per

[2021-02-10 18:54] Virtual-Josh commented on #3757
@Batta32 have you had a chance to dig into this? If so, can you provide an update?

[2021-02-10 20:04] VictorGrycuk commented on #3757
Hi @ipraveenMS @Virtual-Josh, we were able to reproduce the issue you mention by calling `TeamsInfo.GetTeamDetailsAsync()` method, however, this seems to be a behaviour caused by [BotBuilder SDK](https://github.com/microsoft/botbuilder-dotnet/).

The reason seems to be that since it's the Assistant the one actually communicating on the Teams channel, and the Skill communication only happens throug

[2021-02-11 01:38] #3701 closed

[2021-02-11 18:20] VictorGrycuk commented on #3579
@gabog has the SDK team created an in depth guide regarding the SSO? Specifically speaking about using SSO between a Virtual Assistant and multiple Skills, where each skill has a different set of scopes/resources.

We found [this document](https://github.com/microsoft/botbuilder-dotnet/blob/main/tests/Skills/ReadMeForSSOTesting.md) that looks part of a sample.

[2021-02-11 19:45] Batta32 commented on #3764
Thanks @parasdesaicims for reporting this issue. We will be reviewing this issue and as soon as we have any update we will back to you here 😊.

[2021-02-12 18:09] parasdesaicims opened #3765 "Multi-turn QnA results in error"
#### What project is affected?
Virtual Assistant
#### What language is this in?
C#
#### What happens?
Using QnA Multiturn on Teams. Virtual assistant correctly identifies the first prompt but later prompts(multiturn)are resulting in error.
#### What are the steps to reproduce this issue?
Asking the question with Multi turn prompt will result in errors in subsequent prompts.
#### What were you expe

[2021-02-12 18:13] parasdesaicims commented on #3764
I think this seems to be the way it's designed. Not sure if I am correct, but I was able to correct this by making changes to the QnA Maker first, then to Luis, and then updating my local/source files. It seem to have been working correctly.  But I do not seem to find a way to sync when I have some.LU defined files & Intents on local and I am making changes to the LUIS Portal without having any Qn

[2021-02-12 21:15] Virtual-Josh commented on #3764
@Batta32 Are there any updates for this ticket?

[2021-02-12 23:13] ipraveenMS commented on #3644
@Aavi2105 file a new issue. This might be something different. To get more insight, you can download the binaries and code and debug. This calls the functionality of the VA side

[2021-02-15 08:36] SreekanthOAuth commented on #3763
@mdrichardson ,

I have added node --stack-trace-limit=100 in my package.json like below,

 "start:dev": "npm run build && node --stack-trace-limit=100 ./lib/index.js NODE_ENV=development",

Below is the log coming on every time bot responds

TranscriptLoggerMiddleware logActivity failed: "Converting circular structure to JSON"
TypeError: Converting circular structure to JSON
    at JSON.stringify

[2021-02-15 18:06] mdrichardson commented on #3763
@SreekanthOAuth The line that's failing has been in the code for 3 years, so I'm not sure exactly what's going on. Are you doing any manual editing of the `activity` object in your dialogs?

We need to find out where the circular reference is occurring in your activity. Please add something like this to your `index.js`:

[code]

and then copy/paste the error and activity.

[2021-02-16 19:33] compulim commented on #3764
@Batta32 Ping.

[2021-02-17 12:33] Batta32 commented on #3764
Hi @Virtual-Josh, @compulim & @parasdesaicims, we were out of office on Monday and Tuesday due to holidays.

We will review this issue this week, checking this [comment](https://github.com/microsoft/botframework-solutions/issues/3764#issuecomment-778357101) and as soon as we have any update, we will back here 😊.

[2021-02-17 12:34] Batta32 commented on #3765
Hi @parasdesaicims, thanks for reporting this issue.

We will tackle this issue the next week and as soon as we have any update, we will back to you here 😊.

[2021-02-17 16:38] pravinambekar opened #3766 "Does not create knowledge base if select operating system as Linux"
/virtual-assistant/tutorials/create-assistant/typescript/4-provision-you-azure-resources/

I have tried creating and configuring QnA based Chatbot both in C# & Typescript version, for Windows (default) configuration it works well and create all the resources and knowledgebase in qnamaker without fail.
But when i try to host infrastructure (App Service Plan & Bot Service) on Linux  Operating System

[2021-02-18 09:02] SreekanthOAuth opened #3767 "Events generated by the Bot Framework Service telemetry not appearing in Application Insights"
#### What project is affected?
Created Virtual assistant and Skill based on the following documents,

VA: https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/create-assistant/typescript/3-create-project/
Skill: https://microsoft.github.io/botframework-solutions/skills/tutorials/create-skill/typescript/3-create-your-skill/

#### What language is this in?
Typescript

####

[2021-02-18 14:05] VictorGrycuk commented on #3764
Hi @parasdesaicims, we reproduced what you described, and we can confirm that **is by design**.

The `RemoteToLocal` flag will **replace** your local cognitive models with the remote ones.

The script [update_cognitive_models.ps1](https://github.com/microsoft/botframework-solutions/blob/master/templates/csharp/VA/VA/Deployment/Scripts/update_cognitive_models.ps1#) calls `bf luis:version:export` to

[2021-02-18 14:48] parasdesaicims commented on #3764
Thanks, @VictorGrycuk for checking that does help. I did have another doubt, which I was able to reproduce. If there are only local .lu files on the project and I am making changes to the remote LUIS app, those changes are not written on local, though intents are successfully identified. Any reason this was left out in script [update_cognitive_models.ps1](https://github.com/microsoft/botframework-

[2021-02-18 17:24] VictorGrycuk commented on #3764
@parasdesaicims, as we understood you added new intents locally as `.lu` files as well as doing the same changes remotely, and when you try to update your local files with the [update_cognitive_models.ps1](https://github.com/microsoft/botframework-solutions/blob/master/templates/csharp/VA/VA/Deployment/Scripts/update_cognitive_models.ps1#), it does not update the local files.

You have to make sur

[2021-02-19 15:13] VictorGrycuk commented on #3766
Hi @pravinambekar, on which file are you changing the `kind` to Linux?
We will be taking a look at this and will let you know as soon as we have an update :slightly_smiling_face:.

[2021-02-19 15:15] VictorGrycuk commented on #3767
Hi @SreekanthOAuth, we will take a look at this issue as soon as we can.
We will get back to you as soon as we have an update :slightly_smiling_face:.

Meanwhile, we have a couple of questions:
1. Are you looking for a specific event? If so, which?
1. Are you using the [Generator](https://github.com/microsoft/botframework-solutions/tree/master/templates/typescript/generator-bot-virtualassistant) t

[2021-02-22 04:23] pravinambekar commented on #3766
Hello @VictorGrycuk, The ARM template used for creating resources, here while defining App Service Plan.

[code]

[2021-02-22 18:51] Batta32 commented on #3765
Hi @parasdesaicims, we couldn't reproduce the issue as we **were able** to execute the multi-turn QnA in MS Teams channel. We found that multi-turn QnA was added in the PR #2809.

To accomplish this, we followed these **steps**:
1. Create a new Knowledge Base from the [QnAMaker Portal](https://www.qnamaker.ai/)
1. Enable the option `Enable multi-turn extraction from URLs, .pdf or .docx files`
1. P

[2021-02-23 16:40] parasdesaicims commented on #3765
Thanks, @Batta32. here is the issue in detail :

**What happens**
When a user joins the conversation he is welcomed with the message which prompts for a couple of QnA's we have in the dispatch. There are a couple of buttons which has an action set configured for _MS teams_

                    "type": "ActionSet",
                    "actions": [
                        {

[2021-02-23 16:45] Batta32 commented on #3765
@parasdesaicims - thanks for this detailed comment. We will be reviewing the attached information and let you know any update 😊.

[2021-02-23 23:43] Batta32 commented on #3766
Hi @pravinambekar, sorry for the delay. We successfully **reproduced** the issue following these steps that you mentioned using a Virtual Assistant:
1. Go to `template.json`
1. Replace the [app service plan](https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/assistants/virtual-assistant/VirtualAssistantSample/Deployment/Resources/template.json#L238) with the configurati

[2021-02-24 16:53] Batta32 commented on #3766
@pravinambekar - after researching and finding the Azure/azure-cli#9004 issue in which you [commented](https://github.com/Azure/azure-cli/issues/9004#issuecomment-780390455), we think that this is **not a limitation** of the Virtual Assistant itfself but related to the compatibility between QnAMaker Cognitive Service and App Service Plan in Linux, so the issue is **not related** to botframework-so

[2021-02-24 20:03] Batta32 commented on #3765
Hi @parasdesaicims, we successfully **solved** the issue following the [document](https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/customize-assistant/csharp/4-edit-your-cognitive-models/) (`Add an additional knowledge base` -> `Step 4`). We created the PR #3768 as we noticed that the `Step 4` is not clear enough to understand which changes should be added in the `Mai

[2021-02-24 20:39] parasdesaicims commented on #3765
@Batta32  I found the same workaround and was about to post this. Glad it's already taken care of. I have taken care of the same for my local VA. Though I am having one more request, not sure if this will be part of this or not it's definitely related to multiturn :

*Example of it*
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/56562244/109062802-6543ce00-76b6-11eb-9baf-997b

[2021-02-25 02:48] dalesayers opened #3769 "No DefaultWebSocketAdapter.cs located within the Adapters folder."
/clients-and-channels/tutorials/enable-speech/5-changing-the-voice/

Would like to change the voice for bot deployed using Virtual Assistant deployment.  I am not able to find the DefaultWebSocketAdapter.cs file in the Adapters folder of Virtual Assistant project in VS.  Only file contained in the Adapters folder is DefaultAdapter.cs.

Appreciate any assistance or guidance.

Thanks!

[2021-02-25 05:33] pravinambekar commented on #3766
Hello @Batta32 , I completely agree with you, over the past few day i have been trying different approach and i was able to host / configure all the resources based on Linux platform using VA based `template.json` and deployment script,
My primary understanding is QnAMaker cognitive service does not support Linux based services and does not automate creating Knowledgebase, giving "No Endpoint Keys

[2021-02-25 08:06] lauren-mills commented on #3766
Hi @pravinambekar, I reached out to the QnA Maker team and they confirmed that QnA Maker v1 does not support Linux due to its deployment via a site extension. They recommended switching to QnA Maker v2 which does not require a separate runtime app service. Could you try updating your ARM template and let us know if that works for you?

[2021-02-25 19:18] congysu commented on #3579
@gabog could you please take a look at this one?  Thanks.

[2021-02-25 19:21] Batta32 commented on #3765
Hi @parasdesaicims, as far as we understood following your last [comment](https://github.com/microsoft/botframework-solutions/issues/3765#issuecomment-785360248), you want to handle different ways to [interrupt](https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/assistants/virtual-assistant/VirtualAssistantSample/Dialogs/MainDialog.cs#L201) the Multi-Turn Knowledge Base

[2021-02-25 19:59] lauren-mills commented on #3766
Realizing there doesn't appear to be clear instructions for deploying a v2 instance so I'm following up with the QnA Maker team for more information.

[2021-02-26 04:06] pravinambekar commented on #3766
Thanks @lauren-mills for the follow-up text,
That is exactly i was looking for since yesterday, as i was bit confused about using QnAMaker V2 API's in ARM as it is merely a definition of resources.

[2021-02-26 05:34] lauren-mills commented on #3766
This is the link I got from QnA Maker that tells how to deploy it directly in the Azure Portal. I will look at how this can be translated into an ARM template tomorrow and add those details here. https://techcommunity.microsoft.com/t5/azure-ai/introducing-qna-maker-managed-now-in-public-preview/ba-p/1845575

[2021-02-26 06:34] SreekanthOAuth commented on #3767
@VictorGrycuk , Sorrt for late reply.

Are you looking for a specific event? If so, which?
- WaterfallStart
- WaterfallStep
- WaterfallDialogComplete
- WaterfallDialogCancel
- BotMessageReceived
Are you using the Generator to generate the samples of TypeScript?
Have you modified anything to implement botbuilder@4.11.0?

[2021-02-26 19:01] VictorGrycuk commented on #3767
Thanks @SreekanthOAuth for the answers.
We will be working on this issue next week 🙂.

[2021-02-26 20:31] congysu commented on #3763
@mdrichardson could you please follow up with customer on this item?  Thanks.

[2021-02-26 21:03] mdrichardson commented on #3763
@SreekanthOAuth Were you able to log any errors?

[2021-02-27 15:07] parasdesaicims commented on #3765
Assume there are two QnA KB attached to a VA - FAQ, and Qnamaker. There are some answers with Multiturn and some without.

*Without multiturn*

*With multiturn*

I hope this is not by design as understanding the context of the user is important to be the question is multiturn or not. Please let me know if you need screenshots or further information.

*Appreciate your time & help!* :)

[2021-03-01 16:07] gonzalorieto opened #3771 "System.Net.Sockets.SocketException when Assistant connects with Skill"
#### What project is affected?
Virtual Assistant + Skill (both based on VSIX template)
#### What language is this in?
`C#`
#### What happens?
`Exception caught in SendErrorMessageAsync : System.Net.Http.HttpRequestException: An attempt was made to access a socket in a way forbidden by its access permissions.`
#### What are the steps to reproduce this issue?
1. Both VA and Skill deployed and publis