[2021-03-01 16:51] Batta32 commented on #3765
Thanks @parasdesaicims for the detailed comment, we will work on the described scenario and we will let you know any update we have 😊.

[2021-03-01 17:11] mdrichardson commented on #3763
Closing due to inactivity. Feel free to re-open if you still have an issue.

[2021-03-01 18:57] Batta32 commented on #3765
Hi @parasdesaicims, we successfully found a **workaround** after reproducing the issue. If you want to customize the interruptable actions, you should update the [InterruptDialogAsync](https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/assistants/virtual-assistant/VirtualAssistantSample/Dialogs/MainDialog.cs#L201) as mentioned in the [comment](https://github.com/microso

[2021-03-01 22:27] lauren-mills commented on #3766
I deployed a qnamaker v2 instance and this is the ARM template that corresponds. Can you try adding this to your ARM template in the deployment script in place of the existing qna services and see if it works? I'm not sure if the kb deployment will be the same but it is worth trying:

[code]

[2021-03-02 01:50] #3759 closed

[2021-03-02 15:20] VictorGrycuk commented on #3767
Hi @SreekanthOAuth, sorry for the delay. We **reproduced** the mentioned issue using the TypeScript bots of `master` branch.
We think that this issue is already solved in 1.0 TypeScript:
- PR #3583
- PR #3584
- PR #3585

We will double-check this, and we will let you know which changes are necessary to have this working :blush:.

[2021-03-02 15:25] SreekanthOAuth commented on #3767
Thanks for update @VictorGrycuk .

[2021-03-02 16:51] parasdesaicims commented on #3765
Thank you for the details here, @Batta32.

Even after the changes, it is still stuck in that multi-turn dialog. Please find the attached screenshots below.

![Screen Shot 2021-03-02 at 11 41 47 AM](https://user-images.githubusercontent.com/56562244/109683307-3bbef280-7b4d-11eb-8538-9f2d4e866db5.png)

![Screen Shot 2021-03-02 at 11 41 21 AM](https://user-images.githubusercontent.com/56562244/109683

[2021-03-02 19:02] Batta32 commented on #3765
Thanks @parasdesaicims, we came up with some **questions**:
1. Can you check if the added code in the `InterruptDialogAsync` method is executed? If so, all the dialogs should be cancelled and you should see the `CancelledMessage` activity.
2. Which should be the expected response of the `what is iBOT`? Can you attach an image?
3. Can you share a reduced branch of your environement/code so we can r

[2021-03-02 19:22] parasdesaicims commented on #3765
Yes, so I was able to update the code. It was my silly mistake but after that, as I figured that the happy path to interrupt is being followed for all the conversation whenever the q_faq intent is matched.

_Multiturn - Dialog interrupted as expected_

_Dialogs with q_faq intent getting Cancelled_

_Breakpoint showing the flow and entering if block as the intent is matched_

[2021-03-02 19:26] Batta32 commented on #3764
Closing due to inactivity.

[2021-03-02 19:26] #3764 closed

[2021-03-02 20:12] lauren-mills commented on #3771
@Batta32 - Can you take a look at this?

[2021-03-02 20:13] Batta32 commented on #3771
Sure! Thanks @gonzalorieto for reporting this issue. We will start working on this the next week, as soon as we have any update, we will let you know 😊.

[2021-03-02 20:29] Batta32 commented on #3765
@parasdesaicims - Exactly, that's because the `faq` is not executed, but only recognized as interruptable.

To execute the FAQ when it's interrupted, you should customize the added code to execute what you want. For example, we added this [commit](https://github.com/southworks/botframework-solutions/commit/32211ee548cab1484c24c5c7ad488571052a163e) in which you can see that the FAQ is executed when

[2021-03-02 23:05] parasdesaicims commented on #3765
@Batta32 ### SuperB. The approach on my end was wrong, I was looking to interrupt rather than continue the conversation, appreciate your detailed input here it helped. Cool! so now 3 kb are being handled with multiturn.

Is there any detailed documentation about the [SDK](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.dialogs.adaptive.conditions.oncondition.executeasync?view=bot

[2021-03-03 06:06] SreekanthOAuth opened #3772 "LUIS 2.6.2- cannot import LUIS JSON - Missing phraselist features field"
#### What project is affected?

LUIS

#### What language is this in?

Powershell

Modules versions

@microsoft/botframework-cli/4.11.1 win32-x64 node-v11.6.0
Luis - 2.6.2

#### What happens?

We are trying to update the LUIS model and the below step is giving an exception

[code]
Below is the exception

[code]

We have created VA template in Typescript language and here you can see the function wh

[2021-03-03 15:06] Batta32 commented on #3765
Awesome @parasdesaicims , we are happy to help you on this. I'm **closing** this issue as it's solved.

I'm attaching the main documentation of botframework (specially in Dotnet):
- [botframework-sdk repository](https://github.com/microsoft/botframework-sdk)
- [botbuilder-dotnet repository](https://github.com/microsoft/botbuilder-dotnet)
- [Azure Bot Service documentation](https://docs.microsoft.c

[2021-03-03 15:06] #3765 closed

[2021-03-03 18:53] fran893 commented on #3767
Hi @SreekanthOAuth, this issue is already **solved** in 1.0 TypeScript and we found a **workaround** for you in order to have the same behavior as C# samples.

We are sharing this [branch](https://github.com/southworks/botframework-solutions/tree/feature/southworks/fix-issue-3767) so you can see and cherry-pick the commits on your environment:
1. [Activate telemetry on Virtual Assistant](https://g

[2021-03-03 19:06] lauren-mills commented on #3772
Hi @SreekanthOAuth, this script appears to be out of date. To get you unblocked, try taking the LUIS functions file here instead: https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/assistants/virtual-assistant/VirtualAssistantSample/Deployment/Scripts/luis_functions.ps1

@Batta32 - can you help make sure the TypeScript scripts are up to date with the ones in the VA samp

[2021-03-03 19:07] Batta32 commented on #3772
Sure @lauren-mills, we will check this and update the TypeScript scripts of `master`.

Just to mention, the 1.0 TypeScript bots contains the updated scripts 😊.

[2021-03-04 17:39] RavulaChetan opened #3773 "[Docs]"
/skills/handbook/manifest/

Tags does not show up when Manifest is pulled using Powershell or Azure CLI commands. tags showup on Manifest and can be added using the GUI but not powershell and Azure CLI.
Is there a workaround is update, add tags to manifest using PowerShell or Azure CLI?

[2021-03-05 08:04] pravinambekar commented on #3766
Thank you @lauren-mills  and to everyone who contributed in this discussion thread, at last, I am now able to run fully functional QnAMaker based ChatBot, based on Linux plan,

Its not just the issue about Linux was addressed, but the way QnAMaker cognitive service works, it allows multi-lingual KB support and there no need for additional app service.

Although, new QnAMaker API version brought fe

[2021-03-05 08:04] #3766 closed

[2021-03-05 14:17] SreekanthOAuth commented on #3772
@lauren-mills - Thanks for the response.

Could you please let us know about the endPoint attribute? What value do we need to pass?

refer: **luis_functions.ps1 - UpdateLUIS**

Is it in https://<luis-resource-name>.cognitiveservices.azure.com/ this format?

Please confirm.

Thanks,
Sreekanth

[2021-03-05 14:17] SreekanthOAuth commented on #3767
@fran893 - Thanks for the details.

We will try this and let you know.

Thanks,
Sreekanth

[2021-03-05 18:47] Batta32 commented on #3773
Thanks @RavulaChetan for reporting this issue, we will let you know any update here 😊.

[2021-03-08 06:22] SreekanthOAuth opened #3774 "Virtual Assistant Dialog is not getting closed even after Skill dialog is closed"
#### What project is affected?

Virtual Assistant & Skill

"botbuilder": "^4.11.0",
"botbuilder-ai": "^4.11.0",
"botbuilder-applicationinsights": "^4.11.0",
"botbuilder-azure": "^4.11.0",
"botbuilder-dialogs": "^4.11.0",
"botbuilder-lg": "^4.11.0",

#### What language is this in?

Typescript

#### What happens?

We have Virtual assistant and Skill projects. We have dialogs in skill and ability to

[2021-03-08 14:36] SreekanthOAuth commented on #3774
Adding to the ticket,

But, when I update the finalStep just before ending the dialog in the Skill MainDialog.ts file, the Virtual Assistant dialog also getting closed.

[code]

Please confirm these statements. If these are ok, I'll go ahead and use them.

Thanks,
Sreekanth

[2021-03-08 15:20] Batta32 commented on #3772
Hi @SreekanthOAuth, you can find the `endpoint` value checking the value of the `endpoint` property of your `languageModels` in the `cognitiveModels.json`. And yes, it's the one with `https://.cognitiveservices.azure.com/` format.

The `endpoint` property is the **LUIS endpoint hostname**, which is the endpoint for deploying and managing LUIS application.

Check these documents:
* [bf luis:version

[2021-03-08 15:35] SreekanthOAuth commented on #3772
@Batta32 - Thanks for the update. I'll try and let you know the outcome.

Thanks,
Sreekanth

[2021-03-08 15:37] SreekanthOAuth commented on #3767
@fran893 - Shall I update the same at the Skill level also?

Thanks,
Sreekanth

[2021-03-08 15:42] fran893 commented on #3767
Hi @SreekanthOAuth, as the Skill is populating the events, those changes are **not necessary** for the Skill as the issue is present in the Virtual Assistant.

[2021-03-08 15:48] SreekanthOAuth commented on #3763
@mdrichardson - Sorry for the late response. was into other priority issues.

While trying the above suggestion getting below message,

Property 'logActivity' is private and only accessible within class 'TranscriptLoggerMiddleware'.ts(2341)

Screenshot for the same

![image](https://user-images.githubusercontent.com/24246902/110344545-98417680-8053-11eb-9b71-18a2f1c6c696.png)

Please re-open this

[2021-03-08 16:09] mdrichardson commented on #3763
@SreekanthOAuth For testing purposes, just place `// @ts-ignore` above that line.

[2021-03-08 16:40] SreekanthOAuth commented on #3763
@mdrichardson - I have tried with your suggestion, added below snippet in defaultAdapter.ts file

[code]

But, this logic also not giving the detailed logs, it's giving the same old logs

[code]

Do you want to add this to index.ts?

Thanks,
Sreekanth

[2021-03-08 16:45] SreekanthOAuth commented on #3763
@mdrichardson - I have added the same logic in index.ts and still getting the same logs as mentioned above.

[code]

Thanks,
Sreekanth

[2021-03-08 16:59] mdrichardson commented on #3763
@SreekanthOAuth The first part of the error should be the same, but it should also be logging the activity. If it's not, maybe try changing it to:

[code]

Are you doing any manual editing of the `activity` object in your dialogs?

[2021-03-08 17:34] SreekanthOAuth commented on #3763
@mdrichardson - Please find the logs below

Before error message

[code]

Error message

[code]

After error message

[code]
Could you please give us some examples that which attributes should not be updated?

Thanks,
Sreekanth

[2021-03-08 18:01] mdrichardson commented on #3763
I can't tell for sure, but it looks like the issue might be in the activity with the message, "Please provide a detailed description of your request.". Can you please provide how you construct that message, including the suggested actions and the attachments?

I wouldn't say any attributes are completely off-limits, but it's pretty rare that you need to edit them directly. My concern, due to the e

[2021-03-09 05:07] SreekanthOAuth commented on #3763
@mdrichardson -

I have tried removing the suggestion actions and still, the same error is coming

Giving one of our test dialogs which are asking feedback

[code]

askForFeedBack

![image](https://user-images.githubusercontent.com/24246902/110421076-c4481080-80c2-11eb-81c0-87d451d9c4c7.png)

captureFeedBack

![image](https://user-images.githubusercontent.com/24246902/110421101-d2962c80-80c2-11eb-

[2021-03-09 07:07] SreekanthOAuth commented on #3772
@Batta32 - Getting error at below step

[code]

Error is - **Failed to retrieve application data: Error: Access Denied**

I did login by **az login** and still same error.

Thanks,
Sreekanth

[2021-03-09 10:29] PurnaChandraPanda opened #3778 "virtual assistant solution - deploy multiple environments"
I have a scenario, where my virtual assistant solution (C#) is ready in one environment /dev via create and publish .ps1 scripts.

- How can I target the same code with other Azure resources (for say qa and prod environments)?
- Do I have to maintain separate create/publish/ appsettings for each environments?
- Caveat could be if i run create.ps1, i would have new appsettings and cognitivemodel js

[2021-03-09 12:40] Batta32 commented on #3772
Hi @SreekanthOAuth, can you confirm that the values you are assigning are the following taken from the `languageModels` property of your `cognitiveModels.json`?
- `appId`: it's the `appId`
- `endpoint`: it's the `endpoint`
- `subscriptionKey`: it's the `authoringKey`

The [UpdateLUIS](https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/assistants/virtual-assistant/Virtua

[2021-03-09 12:48] SreekanthOAuth commented on #3772
@Batta32  - Yeah, I have cross-checked and all the values are sending as expected.

![image](https://user-images.githubusercontent.com/24246902/110472813-d9915f00-8103-11eb-82aa-01c4ac806664.png)

[2021-03-09 13:34] Batta32 commented on #3772
@SreekanthOAuth - the BF-CLI creates a request to the cognitive service in order to consume the deployed app, can you check if you have permissions to consume that application? For this follow these steps:
1. Create the following endpoint: `$endpoint/luis/authoring/v3.0-preview/apps/$appId` (for example: https://bot-luisauthoring-xxxxxx.cognitiveservices.azure.com/luis/authoring/v3.0-preview/apps/

[2021-03-09 17:53] Batta32 commented on #3772
@SreekanthOAuth - the endpoint should be the `authoringEndpoint` as you need to handle the published applications, instead of the prediction one.
- _Authoring Resource_: allows to create, manage, train, test and publish applications. There is one tier available for the LUIS Authoring Resource (F0). The kind of this Cognitive service is LUIS.Authoring.
- _Prediction Resource_: allows to query predi

[2021-03-09 18:34] mdrichardson commented on #3763
I don't see anything that I can point to for sure, but a couple of things jump out.

1. Can you include the code for `Feeback.responder.renderTemplate()` and `this.getStateFromAccessor()`?
2. `this.feedbackstate` is a big red flag. All dialogs are static, so all users are going to share `this.feedbackstate` and you're going to have big concurrency issues. I lean towards this being the problem, but

[2021-03-09 19:03] EricDahlvang commented on #3778
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is the preferred platform for submitting **bug fixes and feature requests**.  
 
I have closed this issue. Please feel free to resubmit your question over on 

[2021-03-09 19:15] Batta32 commented on #3774
Thanks @SreekanthOAuth for reporting this issue, we will start working on this issue the next week. We will communicate all the updates here 😊.

[2021-03-09 19:50] Batta32 commented on #3771
Hi @gonzalorieto, as we discussed over email, this issue is related to the environment that your team is customizing. We successfully **solved** the issue and we correctly communicated the Virtual Assistant and Skill in C#.

We recommend to check the [60.slack-adapter sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/60.slack-adapter) as it configures the

[2021-03-09 20:49] gonzalorieto commented on #3771
Amazing! thanks for the help. Give this man a raise. You can close this issue.

[2021-03-09 22:02] #3771 closed

[2021-03-10 07:26] SreekanthOAuth commented on #3763
@mdrichardson,

1. Can you include the code for Feeback.responder.renderTemplate() and this.getStateFromAccessor()?

renderTemplate
[code]

getStateFromAccessor

[code]
2. this.feedbackstate is a big red flag. All dialogs are static, so all users are going to share this.feedbackstate and you're going to have big concurrency issues. I lean towards this being the problem, but am not completely sure.

[2021-03-10 14:37] Batta32 commented on #3773
Hi @RavulaChetan, sorry for the delay. We came up with some **questions** in order to understand the problem:

1. As far as we understood, you want to consume the deployed [Skill Manifest](https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/skill/SkillSample/wwwroot/manifest/manifest-1.1.json) using PowerShell commands or Azure CLI commands. Is this okay?
1. Can you add

[2021-03-15 12:03] Batta32 commented on #3774
Hi @SreekanthOAuth, sorry for the delay. This week we will start working on this issue, we will let you know any update here 😊.

[2021-03-15 17:50] daveta commented on #3773
Hi @RavulaChetan : Can you provide a bit more details per @Batta32 ?

[2021-03-15 20:01] VictorGrycuk commented on #3774
Hi @SreekanthOAuth, we want to confirm with you that we understood the issue.

We have a few **questions**:

1. What you are saying is that after completing the skill's dialog, when the skill's dialog utterance is sent again to the assistant, instead of starting the assistant's waterfall steps again it is sent through the `onContinueDialog`. Is the scenario we described correct?
2. Do you expect t

[2021-03-17 12:25] SreekanthOAuth commented on #3772
@Batta32 - Sorry for the late reply.

We are able to update both LUIS & QnA models by using scripts from the personal machines.

But when we try running the scripts from DevOps, the process not going after the below step

[code]
The next step after the above step is
[code]

If we remove the **2>> $log | Out-Null** from the above step then we are able to run the scripts from Devops.

Could you plea

[2021-03-17 13:43] SreekanthOAuth commented on #3774
@VictorGrycuk - Please find the answers for each question

We have a few questions:

What you are saying is that after completing the skill's dialog, when the skill's dialog utterance is sent again to the assistant, instead of starting the assistant's waterfall steps again it is sent through the onContinueDialog. Is the scenario we described correct? - **_[When the skill dialog is closed and the u

[2021-03-17 13:44] SreekanthOAuth commented on #3767
@fran893 - Sure and thank you. We will validate and confirm.

[2021-03-17 13:46] SreekanthOAuth commented on #3763
@mdrichardson - Sorry for the late reply. I'll reply back soon.

[2021-03-17 18:13] daveta commented on #3773
Closing due to inactivity.

[2021-03-17 18:13] #3773 closed

[2021-03-17 19:12] Batta32 commented on #3772
Thanks @SreekanthOAuth, we will check the script using DevOps and we will let you know the updates here.

Just to mention, we found that the issue #3712 is similar to this one. Check [this comment](https://github.com/microsoft/botframework-solutions/issues/3712#issuecomment-738885967) if this helps you.

[2021-03-17 19:15] VictorGrycuk commented on #3774
Thank you @SreekanthOAuth. We were able to reproduce the behaviour you describe, and we think **it is by design**. As you can see [here](https://microsoft.github.io/botframework-solutions/virtual-assistant/handbook/activity-flow/#dialogs), the `onContinueDialog` will always be executed at the start of a turn unless it's the first time that the dialog is run.

By applying [this](https://github.com/

[2021-03-18 15:51] Batta32 commented on #3772
Hi @SreekanthOAuth, we confirmed that the `update_cognitive_models.ps1` correctly works in DevOps and the `bf` commands are correctly executed too.

We configured our pipeline as follows:
- `Node.js tool installer` task to install Node version 12.16.1
- `npm` task to install latest `botdispatch` and `botframework-cli` tools
- `npm` task to install latest `botskills` tools
- `PowerShell v2` task to

[2021-03-22 18:23] carlosscastro commented on #3774
Closing given the response above, but feel free to reactivate if you have further questions or issues with the sample

[2021-03-22 18:23] #3774 closed

[2021-03-23 16:58] PurnaChandraPanda commented on #3778
Hello @EricDahlvang ,

Posted it on https://stackoverflow.com/questions/66558868/virtual-assistant-solution-deploy-multiple-environments. Looking forward for a response!

Thanks

[2021-03-23 18:40] EricDahlvang commented on #3778
Hey @Batta32

Unfortunately, @PurnaChandraPanda has been unable to find the answer to the questions above.  Are you able to assist? or direct to someone who can?

[2021-03-23 20:29] Batta32 commented on #3778
Sure @EricDahlvang, we will review this issue in order to find the best approach.

@PurnaChandraPanda, we will let you know any updates here!

[2021-03-24 10:26] SanjuJayakumarNair opened #3784 "Getting an exception System.Net.Sockets.SocketException"
We are using the Skill Template(Template for botframework skill) but getting socket exception find the below details
Exception type : System.Net.Sockets.SocketException
Exception message: Only one usage of each socket address (protocol/network address/port) is normally permitted.
AspNetCoreEnvironment : Production
In call stack its showing System.Net.Http.HttpRequestException
So could you please h

[2021-03-25 12:07] pravinambekar opened #3779 "[Docs] No clear documentation for deploying Bot Framework VA template using Azure DevOps"
Hello There,
I am looking for a way to configure **Virtual Assistant template** enabled QnAMaker bot resources to be created using Azure DevOps.
My Primary understanding is that we need to use ARM deployment stage in pipeline to trigger resource creation.
![image](https://user-images.githubusercontent.com/41193836/112470236-70ab1780-8d90-11eb-9fc1-162e0b5d8834.png)

But i am not sure how we are go

[2021-03-25 15:06] SSanjeevi opened #3780 "Getting issue while enabling direct line app service extension in azure bot service with VA template bot"
#### What project is affected?
Virtual Assistant

#### What language is this in?
C#

#### What happens?
Getting issue while enabling direct line app service extension in azure bot service with VA template bot

#### What are the steps to reproduce this issue?
I have followed the exact steps mentioned in below Microsoft link:

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-di

[2021-03-25 19:48] lauren-mills commented on #3779
Hi, internally we execute the deploy.ps1 script from a PowerShell task in ADO.

We use the following task (yaml) to run the deploy.ps1 script:
[code]

You also need to install the BF CLI tools in a prior step, just as you do locally.

[2021-03-25 23:44] xieofxie commented on #3780
Hi @SSanjeevi you could try this https://github.com/microsoft/botbuilder-dotnet/issues/5110 since the template's SDK is not updated

[2021-03-25 23:54] xieofxie commented on #3780
I will suggest we update to the latest SDK and try again..

[2021-03-26 11:11] SreekanthOAuth commented on #3772
@Batta32 - Thanks for the inputs. I have followed them and able to update the LUIS models even with **2>> $log | Out-Null**.

But not able to refresh the dispatcher, it's failing below step.

dispatch refresh `
            --gov $useGov `
            --version $dispatch.version `
            --dispatch $(Join-Path $dispatchFolder $langCode "$($dispatch.name).dispatch") `
            --dataFolder $

[2021-03-26 11:55] pravinambekar commented on #3779
Thank you @lauren-mills for your response,
I am investigating the part where i need to install BF CLI tools, has that to be configured in Pipeline stages ?
Is this the repo to refer  -> https://github.com/microsoft/botframework-cli ?
It would be great t know if there is any document/sample i can refer to understand how complete pipeline works for this case.

[2021-03-26 16:23] lauren-mills commented on #3779
We have steps here to set up a basic pipeline: https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/enable-continuous-deployment/1-intro/

I've noticed that some of the installation steps are out of date, but the prerequisites are the same as steps 6 and 7 here: https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/create-assistant/csharp/2-do

[2021-03-26 16:36] Batta32 commented on #3779
Sure @lauren-mills! We will update the mentioned [document](https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/create-assistant/csharp/2-download-and-install/) and check that everything is consistent.

We will let you know the updates here!

[2021-03-26 17:28] carlosscastro commented on #3579
@gabog can we set up some time to assess SSO docs with the documentation team and make a plan to get them right?

[2021-03-28 13:21] SSanjeevi commented on #3780
@xieofxie  Using latest GA version only.
Microsoft.Bot.Solutions Version 1.0.1
Botframework version 4.9.3
Virtual Assistant generated from visual studio extension version 4.9.1.2

[2021-03-29 13:02] Batta32 commented on #3772
Hi @SreekanthOAuth, we confirmed that the `dispatch refresh` command correctly **works** in DevOps executing the `update_cognitive_models.ps1` script and also, isolating it to a separated task.

We came up with some **questions** for you:
1. Can you confirm if separating the logic of the `dispatch refresh` command the pipeline fails? Create the PowerShell task executing the following script just l

[2021-03-29 13:25] PurnaChandraPanda commented on #3778
@Batta32 - I wonder if you have any updates on this.

[2021-03-29 13:27] Batta32 commented on #3778
Hi @PurnaChandraPanda, sorry for the delay. This week we will be tackling this issue, we will let you know any updates 😊.

[2021-03-29 15:14] Batta32 commented on #3779
Hi @lauren-mills, we can confirm that the document [enable-continuous-deployment/3-configure-pipeline/](https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/enable-continuous-deployment/3-configure-pipeline/) was updated in the PR #3729 replacing the outdated installation steps to the new ones just like the rest of documents of the [solution-accelerators](https://gith

[2021-03-29 18:20] msomanathan commented on #3767
@SreekanthOAuth , Closing this due to inactivity. Please feel free to reopen if this issue still persists.

[2021-03-29 18:20] #3767 closed

[2021-03-29 19:48] VictorGrycuk commented on #3778
Hi @PurnaChandraPanda, we talked this situation with @peterinnesmsft, and he will be discussing this with the Microsoft team internally to assist you on this, as there might be changes in [R13](https://github.com/microsoft/botframework-sdk/issues/6245) related to [ARM templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/overview).

[2021-03-31 08:11] pravinambekar commented on #3779
Hello @lauren-mills & @Batta32 ,
Thank you for updating document, i can clearly see how things works now.
Just one small concern : I am getting error at Nuget Restore stage where current .Net SDK version does not support target framework 3.1

`##[error]The nuget command failed with exit code(1) and error(C:\hostedtoolcache\windows\dncs\2.2.100\x64\sdk\2.2.100\Sdks\Microsoft.NET.Sdk\targets\Microso

[2021-04-01 01:53] rjesh-git opened #3782 "Cannot add skill to Power Virtual Agent"
What project is affected?
Virtual Assistant - Skill Bot

What language is this in?
TypeScript

What happens?
Root Bot created using Power Virtual Assistant throws an error "**This skill has not allow listed your bot**" while adding remote skill developed using VA template. Root Bot's ID has been added to allowedCallers in appSettings.json.

What are the steps to reproduce this issue?

1. Create a

[2021-04-01 08:20] pravinambekar commented on #3779
Hello @Batta32, @lauren-mills  Thank you for updating the document.
Though i have few concerns about steps mentioned there:
1) In Release, i see **Display env vars** step on Stage agent, why this step is included for ? just to check if release pipeline is working ?
if so, shall we keep it as it is or we should remove it in actual run and what this script contains ?

2) In **Configure pipeline to u

[2021-04-02 01:30] #3769 closed

[2021-04-02 06:40] gourav-madan commented on #3780
@SSanjeevi Edit Startup.cs class and update the below line in ConfigureServices Method.
services.AddSingleton<BotFrameworkHttpAdapter, DefaultAdapter>(); to
services.AddSingleton<IBotFrameworkHttpAdapter, DefaultAdapter>();

Cheers. Thanks me later.

[2021-04-05 12:33] Batta32 commented on #3779
Hi @pravinambekar, we will be collecting the information to reply your questions. We will back to you soon 😊.

[2021-04-05 17:08] peterinnesmsft commented on #3782
Hi @rjesh-git,

Based on what you're describing, you are most likely hitting an issue where you have not configured allowed callers for your skill to include your PVA. Callers must be explicitly listed in application settings (or a wildcard '*' to enable all).

Can you please double-check what the current value of your allowedCallers property in your app settings is? You will need to ensure that y

[2021-04-05 17:11] peterinnesmsft commented on #3780
Hi @SSanjeevi,

@gourav-madan has the right of it - thank you for the assistance! Please attempt the following adjustment above and let us know if this helps resolve your issue. If not, we can investigate further.

[2021-04-05 17:15] peterinnesmsft commented on #3784
@SanjuJayakumarNair can you comment in which context you are running your skill? Is this in a local development environment or on Azure? The exception indicated is usually thrown when the requested port is in use already - if you are running multiple bots locally, it's possible you are attempting to listen on a localhost port that is already in usage.

If you can provide further information, then

[2021-04-05 18:24] PurnaChandraPanda commented on #3778
Hello @VictorGrycuk @peterinnesmsft , just checking again for some comments and approach forward on this!

[2021-04-06 09:27] SreekanthOAuth opened #3785 "Getting 404 status: Dependecy error Azure Blob"
#### What project is affected?

https://github.com/microsoft/botframework-solutions/tree/master/templates/typescript/samples/sample-assistant

And we are using below versions,

[code]

#### What language is this in?

Typescript

#### What happens?

Seeing below the log in Application insights when we are trying to chat with the bot

![image](https://user-images.githubusercontent.com/24246902/11368

[2021-04-06 11:24] SSanjeevi commented on #3780
@gourav-madan  i updated as per your suggestion even the build solution failed then - i fixed it by updating the below in BotController:

BotFrameworkHttpAdapter to IBotFrameworkHttpAdapter

then code able to build and then i deployed to app service and then followed this document:
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-se

[2021-04-06 14:09] VictorGrycuk commented on #3778
Hi @PurnaChandraPanda, we will be looking into this week.
We will let you know of any update 🙂.

[2021-04-06 18:03] peterinnesmsft commented on #3785
@Batta32 can you work with the team and investigate this issue at your earliest convenience?

[2021-04-06 18:05] Batta32 commented on #3785
@peterinnesmsft sure! We will be planning to work on this issue and we will back here as soon as we have any updates!

[2021-04-07 18:31] Batta32 commented on #3779
Hi @pravinambekar, sorry for the delay. To answer your questions:

if so, shall we keep it as it is or we should remove it in actual run and what this script contains ?

You can **remove it**, that was used as an example to validate that the release pipeline was correctly configured and the artifact was correctly compressed.

Few of the fields like AzureTenant, AzureUserName, AzurePassword can be

[2021-04-08 18:06] VictorGrycuk commented on #3778
Hi @PurnaChandraPanda, sorry for the delay. We found that the accepted solution is to have **one bot for each environment with CI/CD** to automate the deployment to production. To answer your questions:

Currently, this is **not possible**, each environment would need its [own bot/resources/configuration](https://docs.microsoft.com/en-us/answers/questions/58736/how-to-set-up-slots-or-multiple-envi

[2021-04-08 18:16] peterinnesmsft commented on #3785
@Batta32 any updates on current status?

[2021-04-08 18:21] Batta32 commented on #3785
Hi @peterinnesmsft, we have finished with the planning and we are going tackle this issue right now. We will back here as soon as we have any update 😊.

[2021-04-09 06:01] SreekanthOAuth commented on #3772
@Batta32, sorry for the late reply. I'm yet to test this case. Was busy with production activities.

[2021-04-09 08:03] SanjuJayakumarNair commented on #3784
@peterinnesmsft we have deployed on azure, We have a single bot where integrated with three different skills. Also getting this exception after deploying to Azure not faced while running locally

[2021-04-09 15:39] Batta32 commented on #3785
Hi @SreekanthOAuth, we researched about the BlobStorage's dependency failure issues on Application Insights.

A commenter mentions on a [similar issue](https://github.com/Azure/azure-functions-durable-extension/issues/484#issuecomment-432265461) that these kinds of error **as common**, as "_App Insights can't differentiate between a 'good' and 'bad' 404, so it thinks it is a failure_". Another com

[2021-04-09 16:40] peterinnesmsft commented on #3780
HI @SSanjeevi, I'll spend some time investigating this today and get back to you shortly.

[2021-04-09 22:51] stevkan commented on #3784
@SanjuJayakumarNair, is the bot and each skill deployed separately on Azure? Can you verify that you followed the steps outlined for [provisioning](https://microsoft.github.io/botframework-solutions/skills/tutorials/create-skill/csharp/4-provision-your-azure-resources/), [updating the manifest](https://microsoft.github.io/botframework-solutions/skills/tutorials/create-skill/csharp/5-update-manifes

[2021-04-12 09:11] PurnaChandraPanda commented on #3778
@VictorGrycuk : I have one doubt >>

say in dev env: i have luis modified on portal and .lu/.json updated too

how can i publish the changes to prod??

ps: following same logic of preserving appsettings and cognitivemodel json files

[2021-04-12 09:14] SanjuJayakumarNair commented on #3784
yes we have deployed each skill separately on Azure..

[2021-04-12 14:55] jhealy opened #3786 "Roadmap for Virtual Assistant"
**Please describe your request**
Can we get a roadmap of anything being planned for Virtual Assistant?   Thanks...

**Is this an issue with current documentation? If yes, please provide the link.**
No roadmap doc in current documentation, so no link available.  Thanks...

[2021-04-12 21:03] Batta32 commented on #3778
Hi @PurnaChandraPanda, we will be working on this issue during the week, we will let you know the updates 😊.

[2021-04-12 21:23] stevkan commented on #3784
@SanjuJayakumarNair, how about the other questions? Were you able to go thru the steps and verify none were missed?

With regards to the 'appsettings.json' file, is that something you can share with me so I can take a look at it? If so, could you send it to my email address or provide another method for me to retrieve it? I'd like to see it without any changes, if possible.

[2021-04-13 17:07] VictorGrycuk commented on #3778
Hi @PurnaChandraPanda, if you want to publish the LUIS changes to production you should **follow** the [solution-accelerators/tutorials/enable-continuous-deployment/3-configure-pipeline](https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/enable-continuous-deployment/3-configure-pipeline/) document which explains how to configure the pipeline to update the bot servic

[2021-04-13 18:22] lauren-mills commented on #3780
@Batta32 - could you take a look at this follow up issue and see if there is any suggestions for how this scenario can be enabled? Thanks!

[2021-04-13 18:23] Batta32 commented on #3780
Sure @lauren-mills, we will start working on this issue asap! We will back as soon as we have any updates.

[2021-04-14 07:00] PurnaChandraPanda commented on #3778
@VictorGrycuk : My understanding of update-cognitive-models remotetolocal is that it just updates local lu/ json files if we have some modification on the portal level. Do you mean I can use same command to push changes from local .lu/json to portal??

[code]

[2021-04-14 08:36] darrenj commented on #3786
Hi @jhealy

We've been hard at work at infusing the Virtual Assistant work into Bot Framework Composer bringing bringing all of the capabilities/value of VA into Composer whilst at the same time simplifying the act of creating and authoring conversational experiences. We will deliver this work at Build but you can test some of the capabilities in Composer today by enabling early adopters/preview f

[2021-04-14 12:37] Vijay2704 commented on #3282
Hi,
i tried passing data from VA to skill, it is working but
**b. Send Data from Skill To VA Setup:- it is not working.**
i got **_handler** error

[2021-04-14 13:22] jhealy commented on #3786
Thank you.

[2021-04-14 13:22] #3786 closed

[2021-04-14 14:09] VictorGrycuk commented on #3778
@PurnaChandraPanda, the `RemoteToLocal` argument is **optional** for the `update_cognitive_models.ps1` script, so you can remove it from your command to push the changes from local .lu/json to portal  as the [solution-accelerators/tutorials/enable-continuous-deployment/3-configure-pipeline](https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/enable-continuous-deploym

[2021-04-14 18:14] tidwelljohn01 opened #3787 "[Docs]"
/solution-accelerators/tutorials/view-analytics/3-open-template/

I have a Virtual Assistant running in Azure Government Cloud, which does not use Azure AD Connect. My user account is a Basic user. I am unable to pull the Applications Insights data into the Power BI template after entering the Application ID. I basically get a 404 error and from the Azure Gov side I can see that the  Applications

[2021-04-15 07:11] SreekanthOAuth commented on #3763
@mdrichardson -  Could you please change the status to Open

[2021-04-15 09:41] SreekanthOAuth opened #3788 "recipientName is not coming in BotMessageSend telemetry event"
#### What project is affected?

Virtual Assistant

#### What language is this in?

Typescript

#### What happens?

### In the old version of botbuilder,

we were able to get the recipientName as part of BotMessageSend event.

[code]
BotMessageSend  is

[code]

### With the new version of botbuilder,

[code]

And BotMessageSend  is

[code]

We have cross-checked in code, and don't see anywhere we a

[2021-04-15 16:01] mdrichardson commented on #3763
@SreekanthOAuth Did you have an update for this?

[2021-04-15 18:23] lauren-mills commented on #3787
Hi @tidwelljohn01 I found this StackOverflow issue that seems somewhat similar that indicates the endpoint used in the template at the link above might not be correctly configured for Azure Gov. I'm working to check the template, but it looks like you'll need to change the data import to use applicationinsights.us.

I'll follow up with more instructions once I check the template.

[2021-04-15 19:23] Batta32 commented on #3788
Hi @SreekanthOAuth, thanks for reporting this issue. We will start working on this issue the next week, as soon as we have any update, we will let you know here 😊.

[2021-04-16 00:13] lauren-mills commented on #3787
I'm having difficulties creating you a new template without a working Azure Gov appInsights of my own, so I'm going to try and walk you through it.

1. Open the .pbit from the link above
2. Instead of entering your API key, click the dropdown by the Load button and click Edit
3. Click the Transform Data in the Home menu
4. Enter your API key in the input field:
     ![image](https://user-images.gi

[2021-04-16 06:13] SreekanthOAuth commented on #3788
@Batta32 - Thanks for the prompt response.

Please look into it on high priority. This is impacting our analysis dashboard.

Thanks,
Sreekanth

[2021-04-16 16:06] VictorGrycuk commented on #3780
Hi @SSanjeevi, we were able to reproduce part of the issue you are describing, specifically the correct `ib` and `ob` values.

However, we are following [this document](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-webchat-client?view=azure-bot-service-4.0) to integrate WebChat, but we are not being able to generate the token as you [said.](https://git

[2021-04-16 18:07] lauren-mills commented on #3782
Closing due to inactivity. If you are still having issues connecting to PVA let us know.

[2021-04-16 18:07] #3782 closed

[2021-04-16 20:31] VictorGrycuk commented on #3780
Hi @SSanjeevi, we successfully **obtained** the token using the web chat, and we got the `web socket connection failed` error that you [mentioned](https://github.com/microsoft/botframework-solutions/issues/3780#issuecomment-814043339). However, we were not able to find the App Services log that you shared.

We noticed that **enabling** the Web Socket option in the App Service resource, the `web so

[2021-04-17 02:56] SSanjeevi commented on #3780
Hi @VictorGrycuk,

I also able to generate token after enabling web socket connection but getting 500 error as you mentioned. After getting the 500 error I seen the logs in app service it shown that log trace I shared.

I have wrote some code to log the exceptions in startup class that log shown that error logs. I have been seeing the logs in log stream in app service.

I haven't tested with emula

[2021-04-17 05:22] gourav-madan commented on #3780
@SSanjeevi could you please share program.cs file code?
I think code is breaking in this class only.

[2021-04-19 14:46] Batta32 commented on #3788
Hi @SreekanthOAuth, we are currently working on this issue. We will let you know the updates!

[2021-04-19 16:53] stevkan commented on #3784
Closing due to inactivity. Please feel free to reopen if the issue persists or you have new details to share.

[2021-04-19 16:53] #3784 closed

[2021-04-19 18:32] pavolum commented on #3779
Closing due to inactivity

[2021-04-19 18:32] #3779 closed

[2021-04-19 18:36] pavolum commented on #3772
Closing due to inactivity, please reopen if needed

[2021-04-19 18:36] #3772 closed

[2021-04-19 20:14] VictorGrycuk commented on #3780
Hi @SSanjeevi we **successfully** communicated with the bot through the Web Chat, enabling DL ASE.

As we **noticed** that there is a `timeout` period in the App Service, we **configured** the "Always On" option in the App Service general settings in `on`. By doing this we prevent the `Failed to connect Error: Connection response code 500` and the manual reactivation of the App Service.

We put to

[2021-04-21 11:34] SreekanthOAuth commented on #3788
@Batta32 - Thanks for the information.

Please find the below answers for your questions,

1. Have you allowed the PII in the TelemetryLoggerMiddleware? (see the true value) - **YES**
2. Can you attach your environment and detailed repro steps?
   - We have created the virtual assistant by following below URL. And then we have updated botbuilder packages to 4.11.0 versions.
https://microsoft.githu

[2021-04-21 18:37] Batta32 commented on #3788
Hi @SreekanthOAuth, we still **couldn't reproduce** the issue as we identified that the recipientName is populated.

We came up with some **questions** to narrow the problem:
1. Can you verify if the request received by the bot contains the `recipient` and `from` properties populated? (Add a breakpoint [here](https://github.com/microsoft/botframework-solutions/blob/master/templates/typescript/samp

[2021-04-21 19:00] dawwa opened #3789 "Urgent: Linux: orchestrator-core@4.13.0 install failed and blocks BF CLI Installation"
#### Operating System.
Linux - ubuntu/18.04
The installation goes through and not repro on Windows when I tried on my local dev machine.

#### PowerShell Script of our Deployment Procedure
The botframework-cli installation get interrupted by the orchestrator-core failure, thus at the end, when we call **_bf version_**, it errors out "_Program 'bf' failed to run: No such file or directory_"

    Wr

[2021-04-21 21:36] daveta commented on #3789
Thanks @dawwa:
The following error:
[code]
Appears to manifest in two scenarios:
1. Network connectivity problems.
2. Access issues.

In this case, removing the `-g` when installing bf-cli should solve the issue.

[2021-04-21 22:33] dawwa commented on #3789
thanks @daveta and @tsuwandy for the investigation, the solution works for us, I've updated all our script with prefixing the `bf xx` to be `npx bf xx`

[2021-04-22 01:09] #3789 closed

[2021-04-22 13:57] SreekanthOAuth commented on #3763
@mdrichardson - Thanks for reopening it.

I would give the update tomorrow EOD IST.

[2021-04-23 12:00] SreekanthOAuth commented on #3788
@Batta32 - We found the issue. The above steps helped us to identify the issue.

We are now passing user details to attribute '**username**' ReactWebChat component.

Thank you so much for your help.

[2021-04-23 12:00] #3788 closed

[2021-04-26 12:35] pravinambekar commented on #3779
Hello There,
The answer with which this issue closed, still missing some information it seems,
In the answer to one of my question it is mentioned that :  **those variables are generated by the deploy.ps1. This is part of the Enable continuous integration prerequisites (See Create a Virtual Assistant/Skill > Provision your Azure resources), so you should deploy a bot to copy the variables.**
How c

[2021-04-26 18:28] GeoffCoxMSFT commented on #3787
@tidwelljohn01 Is your issue resolved?

[2021-04-26 18:42] tidwelljohn01 commented on #3787
No, not yet. The issues seems to be that the bot is deployed in Azure Gov, and the account I have to develop and maintain it is just a “Basic” account. The only “Organizational Accounts” that the customer has are actually in Commercial Azure. So it seems we either have to create an organizational account in the Azure Gov subscriptions maybe? Would it need a Power BI Gov license? Or we could move t

[2021-04-26 19:05] tidwelljohn01 commented on #3787
Progress.

I get a new error. I think the issue is my account type, which is a basic account:

![image](https://user-images.githubusercontent.com/70174577/116136800-6b473280-a698-11eb-8b9b-828c9780a7cf.png)

[2021-04-26 19:12] Batta32 commented on #3778
Closing due to inactivity, reopen if needed

[2021-04-26 19:12] #3778 closed

[2021-04-27 06:47] SujeetKulkarnii opened #3790 "[Docs] Unable to automate Azure Chatbot app with Azure DevOps which is using Virtual Assistant template"
Hello Team,

I am working on QnAMaker based Azure Bot App, the application works well in current state, but I am looking for automating Resource deployment through Azure DevOps.
There is document reference [https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/enable-continuous-integration/csharp/3-create-yaml/] which shows steps, how to CI/CD bot app but I think the d

[2021-04-27 18:07] Batta32 commented on #3790
Hi @SujeetKulkarnii, thanks for reporting this issue. We will be collecting the correct information for you and we will let you know as soon as we have any update 😊.

[2021-04-27 19:55] 01 opened #3791 "Bot-Solutions Library missing dependencies in package.json"
#### What project is affected?
Bot-Solutions SDK

#### What language is this in?
Typescript

#### What happens?
SDK package.json missing dependency botframework-schema, botbuilder-core,

#### What are the steps to reproduce this issue?
Attempt to use/install library without botframework-schema being installed explicitly or available through other dependencies flattening node modules.

#### What we

[2021-04-28 18:12] Batta32 commented on #3791
Thanks @01 for reporting this issue. Can you attach the detailed repro steps that you are following in order to generate the error?

We will be reviewing this issue and as soon as we have any update, we will back to you here 😊.

[2021-04-28 19:08] Batta32 commented on #3790
Hi @SujeetKulkarnii, we'd like to **differenciate** `Continuous Integration` vs `Continuous Deployment`.
- Continuous Integration: is an automation to build and test applications whenever new commits are pushed into the branch (changes in bot app source code)
- Continuous Deployment: deploy application to production without human intervention (infrastructure changes)

Now **answering** the attache

[2021-04-29 01:28] 01 commented on #3791
Its simply installing bot-solutions module and importing it anywhere in application. As you can see in error log bot-solutions uses both botbuilder-core and botframework-schema however does not include them in the dependency list

 https://github.com/microsoft/botframework-solutions/blob/master/sdk/typescript/libraries/bot-solutions/package.json

[2021-04-29 13:40] SreekanthOAuth opened #3792 "Enable MS teams Channel"
#### What project is affected?

Virtual Assistant with botbuilder version 4.11.0

#### What language is this in?

Typescript

#### What happens?

We are enabling the MS teams channel for our bot (already enabled Directline channel which is up & running).

We have tried the below samples but those are not helpful.

https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/bot-conversat

[2021-04-29 14:32] Batta32 commented on #3791
Thanks @01 for the explanation, we detected the issue and we created the PR #3793 which fixes this issue.

[2021-04-30 06:07] SujeetKulkarnii commented on #3790
Thank you @Batta32 for detailed explanation, there are several takeout from the above answer,
1) Very well differentiated CI / CD part (which i assumed i was aware of but was missing knowledge in context of BOT Deployment strategy)
2) Deploying BOT resources (infrastructure) and at the same time updating KBs configuration

I still feel, MS documentation could have been  more detailed or comprehens

[2021-04-30 06:07] #3790 closed

[2021-04-30 15:27] Kmeredith-hcg commented on #3792
This is functional but it takes a good bit of work. My company has it deployed in Teams and functional with the oAuth directions provided in the documents.  This was taken from the Teams-Authbot project and modified to work with the template and what we found that is needed in the maindialog.cs is the following:

Add the following steps into your waterfall, PromptStepAsync and LoginStepAsync, thes

[2021-04-30 18:10] Batta32 commented on #3792
Thanks @SreekanthOAuth for reporting this issue. The next week we will start working on this issue but you can check the comment of @Kmeredith-hcg and check if it works for you.

We will let you know as soon as we have any update 😊.

[2021-04-30 18:39] mdrichardson commented on #3763
@SreekanthOAuth I haven't seen an update from you, so I'll close this issue. When you have the requested information and have made the changes related to the dialogs being singletons, please open a new issue.

[2021-04-30 18:39] #3763 closed

[2021-05-03 12:16] Kmeredith-hcg opened #3794 "Unable to send POST via REST API"
#### What project is affected?
VA Skill Template 4.9.1.2

#### What language is this in?
C#

#### What happens?
POST is sent to endpoint, the response is 200 but live metrics show an error of Value cannot be null(Parameter clientSecret).
Local testing does not have error. We are getting the Bearer token authorization and sending this to the bot in the header.

#### What are the steps to reproduce

[2021-05-03 14:29] SreekanthOAuth commented on #3792
@Kmeredith-hcg - Thank you so much for the information. We have also tried almost the same in typescript but it's not giving the tokens.

[2021-05-03 18:54] Batta32 commented on #3791
We are closing this issue as it's fixed with the PR #3793 and as soon as the PR is merged, the changes will be present in `master` branch.

[2021-05-03 18:54] #3791 closed

[2021-05-03 18:55] Batta32 commented on #3780
Closing due to inactivity, reopen if needed

[2021-05-03 18:55] #3780 closed

[2021-05-03 20:04] VictorGrycuk commented on #3792
Hi @SreekanthOAuth, we are analysing the issue, and we came up with some **questions**:

1. Which version of bot-solutions library are you using?
2. Are you able to get the token in another channel other than Teams? You mention that AAD was working, but after enabling Teams channel didn't work any more.
3. Which documentation did you follow to enable SSO?
4. Are you using a Virtual Assistant alone

[2021-05-04 05:54] SreekanthOAuth commented on #3792
Hi @VictorGrycuk, thanks for the response.

Please find the answers to your questions,

1. Which version of bot-solutions library are you using? **[Ans]**: **"bot-solutions": "^1.0.0",**
2. Are you able to get the token in another channel other than Teams? You mention that AAD was working, but after enabling Teams channel didn't work any more. **[Ans]:  Yes, we are getting the token in the emulato

[2021-05-04 18:59] Batta32 commented on #3794
Hi @Kmeredith-hcg, thanks for reporting this issue! We have some **questions** in order to understand your environment and the repro steps that you are following:
1. Can you detail step by step the repro steps that you are following?
1. Can you mention the environment that you are using? (e.g. channel, C# VA connected to C# Skill, version of SDK)
1. What do you mean with `Rerun Node https request

[2021-05-05 12:28] SahilFruitwala opened #3795 "Not Proper Layout in Small Screen Sizes"
/virtual-assistant/tutorials/create-assistant/typescript/4-provision-you-azure-resources/

Found this issue when width was approximate 350px.
Tested this issue in Chrome and Edge both.
![image](https://user-images.githubusercontent.com/31241901/117140743-1edcb080-ad84-11eb-9c5a-20265f572bdf.png)

[2021-05-05 13:45] Kmeredith-hcg commented on #3794
Apologies for the very brief explanation of the issue. I shall elaborate more and provide the code that we are using. We are doing this as a proof of concept and testing to develop a connection with Twilio Flex and enabling MS Teams to connect to Twilio Flex using the bot as a middle man.

1. Can you detail step by step the repro steps that you are following? The skill bot is deployed into Azure a

[2021-05-05 13:49] Batta32 commented on #3794
@Kmeredith-hcg - thanks for the detailed information! We will be reviewing the information and the issue.

We will let you know as soon as we have any update 😊.

[2021-05-05 15:53] SahilFruitwala opened #3796 "Layout Issues"
Page Link: https://microsoft.github.io/botframework-solutions/virtual-assistant/handbook/localization/

Getting toggle button(Hamburger button) for left side menu as shown in first image. But when try to increase width, for some width sizes it is not showing toggle button(Hamburger button) or side menu as shown in second image.

Not sure issue is in only this page or all the pages. I was using Mic

[2021-05-06 11:28] SreekanthOAuth commented on #3792
@VictorGrycuk - We are able to get the token now.

the issue is - Since it's a MS teams channel, the history would be present. So, we had canceled all the dialogues and now we started getting the token from OAuthCardPrompt.

And now we are trying for SSO, following the below URL to enable it but not getting any tokens. This time we are using AAD v2.

https://docs.microsoft.com/en-us/microsoftteams

[2021-05-06 20:34] VictorGrycuk commented on #3792
Hi @SreekanthOAuth, sorry for the delay.

In regard to your question about `TokenExchangeResource` no existing in TypeScript, that is because that class was implemented in [version 1.0](https://github.com/southworks/botframework-solutions/blob/feature/southworks/1.0/va/base/templates/typescript/samples/sample-assistant/src/tokenExchange/tokenExchangeSkillHandler.ts#L102-L121) of Virtual Assistant,

[2021-05-07 10:16] SreekanthOAuth opened #3797 "Issue 3763 Extension : TranscriptLoggerMiddleware logActivity failed: "Converting circular structure to JSON""
What project is affected?

sample-assistant and sample-skill

What language is this in?
Typescript

We are using the below versions

[code]

What happens?
Getting below error on Every time dialog is end

TranscriptLoggerMiddleware logActivity failed: "Converting circular structure to JSON"
TypeError: Converting circular structure to JSON
at JSON.stringify ()
at AzureBlobTranscriptStore. (D:\Worksp

[2021-05-07 10:18] SreekanthOAuth commented on #3763
@mdrichardson - I'm really sorry for the late reply.

Created a new issue for the same - https://github.com/microsoft/botframework-solutions/issues/3797.

Thank you.

[2021-05-07 12:16] ShwethaVenkatesh-wq opened #3798 "Testing Virtual Assistant after adding skills Doesn't Work In Web App Bot"
What project is affected?

A demo for a Virtual Assistant and Hospitality Skill.

What language is this in?
C#

What happens?

Unable to test my VA even after following all the steps. I am getting an Issue testing VA locally and VA works separately and skills  works separately. After adding skills it has to show hospitality skill in VA and that doesn't work.

What are the steps to reproduce this i

[2021-05-07 17:14] Batta32 commented on #3797
Sure @tsuwandy! Thanks @SreekanthOAuth for reporting this issue. We will be reviewing this and as soon as we have any update, we will back to you here 😊.

[2021-05-10 04:20] SreekanthOAuth commented on #3792
@VictorGrycuk , Thanks for the detailed information.

We have followed the same but not getting the token.
And we are not even getting the OAuthPrompt displayed to the User. But I can see the card is getting generated in logs,
[code]

Not sure what & where we are missing.
We are using the below file to create the BOT object.

https://github.com/microsoft/botframework-solutions/blob/master/template

[2021-05-10 14:36] Kmeredith-hcg commented on #3794
@matiasroldan6  Yes, that is the flow.

1. User engages skill in teams
2. Skill bot sends message to Twilio Flex webhook
3. Twilio Flex receives a message
4. Twilio Flex triggers the NodeJS code using a webhook or similar functionality
5. The NodeJS function in turn calls the bot's endpoint with the Twilio message
6. At this step we assume that the issue is happening
7. The bot posts the message i

[2021-05-10 16:03] lauren-mills commented on #3787
@tidwelljohn01 - are you able to view the data in the Azure Portal? If so, you should be able to access it in the PBI template.

After changing the url to point to appinsight.us, can you verify you are logging in with your organizational account and it is the same one you use to access the Azure Portal?

If you don't have access in the Azure Portal, then you will need to be granted at least Read a

[2021-05-10 18:33] darrenj commented on #3795
Thanks for letting us now Sahil, we are in the process of migrating the core documentation into main docs as part of our upcoming Build release at this point we'll redirect from this doc location to the new one which shouldn't suffer from the same issue.

[2021-05-10 18:40] Kmeredith-hcg commented on #3579
Is there any update on this issue? My company is needing this as well.

[2021-05-10 18:47] darrenj commented on #3796
Thanks for letting us now Sahil, we are in the process of migrating the core documentation into main docs as part of our upcoming Build release at this point we'll redirect from this doc location to the new one which shouldn't suffer from the same issue.

[2021-05-10 22:03] 01 commented on #3791
Will a release to npmjs.org occur as well. Would prefer to be using a stable release and not a daily build as utilizing the library in a production environment

[2021-05-11 12:29] Batta32 commented on #3791
Hi @01, as soon as the PR is merged and a new release is published, we will let you know 😊.

[2021-05-12 09:16] SreekanthOAuth commented on #3797
@fran893 - Please find the answers to questions,

1. Can you specify the steps that you are following to reproduce the issue?
    We have created VA by following [this ](https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/create-assistant/typescript/3-create-project/ ) document.
2. Can you answer these questions related to your environment:  **0.8 TypeScript**
   Can you

[2021-05-12 14:06] tdurnford commented on #3798
@stevkan @anusharavindrar any updates on this?

[2021-05-12 14:22] Kmeredith-hcg commented on #3794
@matiasroldan6 We are getting the issue locally now and the stack trace is showing the same in local as Azure.

Stack Trace info:
System.ArgumentNullException: Value cannot be null. (Parameter 'clientSecret')
   at Microsoft.IdentityModel.Clients.ActiveDirectory.ClientCredential..ctor(String clientId, String clientSecret)
   at Microsoft.Bot.Connector.Authentication.MicrosoftAppCredentials.<BuildA

[2021-05-12 16:13] mdrichardson commented on #3797
A couple quick notes on this issue:

1. All `botbuilder` and `botframework` packages need to be on the same version. Looks like you've got some on `4.12` and some on`4.11`, based on what you've posted above.
2. Have you fixed the shared variables issue mentioned in [this comment](https://github.com/microsoft/botframework-solutions/issues/3763#issuecomment-794280498) and further explained in [this

[2021-05-12 19:56] anusharavindrar commented on #3798
@ShwethaVenkatesh-wq, can you elaborate more on where your bot is hosted and if the bot and the emulator are on the same machine? Also, can you try configuring ngrok in the Emulator's application settings page and give it a go?

[2021-05-12 20:06] VictorGrycuk commented on #3792
Hi @SreekanthOAuth, as agreed we are adding the summary of our call here.

We identified **2 problems** in the environment:

1. *Teams Bot manifest*: the [webApplicationInfo](https://github.com/OfficeDev/Microsoft-Teams-Samples/blob/main/samples/bot-conversation-sso-quickstart/js/appPackage/manifest.json#L45) property had configured the authentication application ID instead of the bot application

[2021-05-12 20:25] Kmeredith-hcg commented on #3794
I believe I have found the issue with being able to POST to the bot in Azure from Twilio. With a lot of local debugging, I found that I could POST to the emulator with the appid and password enabled in appsettings using the Bearer token that is sent to the bot via the emulator.

I extracted it from the BotController.cs:
public async Task PostAsync()
        {
            await _adapter.ProcessAsyn

[2021-05-13 09:45] SreekanthOAuth commented on #3797
@mdrichardson - Thanks for the response.

1.Getting errors if we make the package version names to static. Sharing with you both package.json and package-lock.json files. Please check and let us know which modules do we need to update.

[errors.txt](https://github.com/microsoft/botframework-solutions/files/6471689/errors.txt)
[package.txt](https://github.com/microsoft/botframework-solutions/files/

[2021-05-13 17:41] matiasroldan6 commented on #3794
Hi @Kmeredith-hcg, sorry for the delay. Thanks for confirming the flow and for providing the helpful information.

After analyzing the call stack attached [here](https://github.com/microsoft/botframework-solutions/issues/3794#issue-874521673) we can confirm that it expects to receive the MicrosoftAppId and MicrosoftAppPassword which you should configure in the `appsettings.json` of the bot, as you

[2021-05-13 18:03] fran893 commented on #3797
Hi @SreekanthOAuth, we **were not** able to reproduce the issue, using the `package.json` and `package-lock.json` you [shared](https://github.com/microsoft/botframework-solutions/issues/3797#issuecomment-840447048), neither testing the activity object attached [here](https://github.com/microsoft/botframework-solutions/issues/3797#issue-878724788).

We **researched** about the error "_Converting ci

[2021-05-13 18:21] Kmeredith-hcg commented on #3794
Thank you for the response but we are following that document and getting the error. We are performing the token request in the code to send to Twilio for storage and we are getting the error explained.  Local testing can reproduce this error consistently. Our code in a dialog:

//var getToken = new Dictionary<string, string>
            //{
            //    { "grant_type", "client_credentials" }

[2021-05-14 20:34] VictorGrycuk commented on #3792
Hi @SreekanthOAuth.
We have been researching about how to retrieve the ID token, and we found that these **resources** might be helpful to you:

- [Microsoft identity platform and OAuth 2.0 authorization code flow: Request an ID token as well (hybrid flow)](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow). This document explains the OAuth 2.0 authorization

[2021-05-16 01:31] #3579 closed

[2021-05-17 11:06] ShwethaVenkatesh-wq commented on #3798
@anusharavindrar, I can't configure ngrok, which is blocked in our company. I am unable to test in web chat
Can you help me to test in web chat.
I was testing with hosted URL and not localhost.

[2021-05-18 12:13] SSanjeevi commented on #3780
@Batta32  - can we check this issue now?

I followed your steps and now am able to generate token for the app service bot with directline extension setup - but still getting 500 error in response of websocket connection.

![image](https://user-images.githubusercontent.com/24915474/118648760-617c9f00-b800-11eb-9fae-3c32391d48de.png)
![image](https://user-images.githubusercontent.com/24915474/118648

[2021-05-18 13:13] SSanjeevi commented on #3780
its working fine
thanks for the guidance.

[2021-05-18 17:27] tomSauret847 opened #3803 "Update Nuget dependencies"
#### What project is affected?
Virtual Assistant and Skill

#### What language is this in?
.Net
#### What happens?
The current version of the bot framework packages is 4.13.1 this library still uses version 4.9.3 As a developer I would like to keep dependencies on the latest stable version
#### What are the steps to reproduce this issue?
When updating to the latest version there is dependency erro

[2021-05-18 19:48] tidwelljohn01 commented on #3787
I got it! Thanks so much @lauren-mills.

The client had told me that my account was a "Basic Account", so I had just been selecting that as the authentication method to the API. But I was able to view the data in the App Insight logs in the Azure portal when logged in with that account, as you asked about. So I selected Organizational Account and entered my username and password, and that was part

[2021-05-18 19:54] lauren-mills commented on #3787
@tidwelljohn01 - that's great. Feel free to close the issue if you feel it is resolved, or let us know if you run into any more issues.

[2021-05-18 19:58] #3787 closed

[2021-05-18 21:10] anusharavindrar commented on #3798
@ShwethaVenkatesh-wq,  can you please explain more about where your bot is hosted and how are you trying to get connected to the WebChat channel? Also, is your bot hosted behind a firewall? Do you get any specific error while testing the VA on the WebChat channel? Can you share some screenshots of the error?

[2021-05-19 11:07] SreekanthOAuth commented on #3792
@VictorGrycuk - We have gone through the above articles and most of them are related to the client-side.

We have tried using the below API and able to get the token by using the AAD V1 but not with AAD V2.

curl --location --request POST 'https://login.microsoftonline.com/[tenet]/oauth2/v2.0/token' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode 'grant_type=urn:iet

[2021-05-19 13:22] SreekanthOAuth commented on #3797
@fran893 - When we try to keep them in sync getting errors as mentioned in the previous comment.

Could you please let us know which modules (dependent) do I need to update?

[2021-05-19 15:03] dargilco opened #3804 "The Java Android app needs to handle connection/authentication errors better"
#### What project is affected?
Java/Android sample in https://github.com/microsoft/botframework-solutions/tree/master/samples/android/clients/VirtualAssistantClient

#### What language is this in?
Java

#### What happens?
The application does not handle well the case where you configure it with a bad (invalid) speech key, or when there is no network connection. It endlessly tries to re-establish t

[2021-05-19 15:18] amoyalan20 opened #3805 "Automatic update of teams users list(Teams bot issue)"
We have wrote a code in OnMembersAddedAsync activity to get all users who all are accessing the teams bot. But we are only getting users who are newly accessing the teams bot. Is there any way to refresh and start new conversation in MS Teams, so that its gets hit on on-members added activity.

We have tried an “Auto Deploy” method for the existing teams bot. Still not able to get the user informa

[2021-05-19 17:54] fran893 commented on #3797
Hi @SreekanthOAuth, we **shared** this [branch](https://github.com/southworks/botframework-solutions/tree/fix/southworks/typescript/sample-assistant/sync-up-versions) which contains the necessary changes to sync the SDK to version 4.11.0 as mentioned [here](https://github.com/microsoft/botframework-solutions/issues/3797#issuecomment-840732598).

Please, follow these **steps**:

1. Open your TypeSc

[2021-05-19 18:17] ninggao commented on #3803
@lauren-mills Could you please take a look at this issue?

[2021-05-19 18:22] lauren-mills commented on #3803
@batta32 - can you evaluate what it will take for us to update to the latest SDK? It will depend on other decisions whether we want to release a new version or not, but would like to understand what would be required if we do.

[2021-05-19 18:46] Batta32 commented on #3803
Sure @lauren-mills, we will evaluate what it's necessary to do in order to consume the latest SDK version!

As soon as we have any update, we will get back here 😊.

[2021-05-19 19:24] Batta32 commented on #3792
Hi @SreekanthOAuth. Currently, we couldn't obtain the _id_token_ using the bot, also we researched in [botbuilder-dotnet](https://github.com/microsoft/botbuilder-dotnet) and [botbuilder-js](https://github.com/microsoft/botbuilder-js) but we couldn't find any reference of _id_token_.

Let's differenciate the concepts of `access_token` and `id_token`:
- _access_token_: used in token-based authentica

[2021-05-20 10:00] amoyalan20 opened #3806 "Teams auto install issue"
I was doing the below steps to Auto deploy and pin my teams bot app to all users (Existing and New users).
From Teams Admin Center
1.	Go to Teams apps/Manage apps
2.	Select to ‘Upload’ app to app catalog
3.	Once uploaded allocate to appropriate App Permission Policy
4.	Select Teams Apps/Setup policies
5.	Select relevant Setup policy and Add apps for automatic install & pin to left rail
After compl

[2021-05-20 18:16] ninggao commented on #3806
Hi @clearab and @Wajeed-msft , this seems like a Teams issue. Could you please take a look at it, and maybe route it to anyone who can help the customer on Teams side?

[2021-05-20 18:17] ninggao commented on #3805
Hi @stevkan , could you please take a look at this issue?

[2021-05-20 18:28] clearab commented on #3806
Hi - This is definitely a Teams issue, but I'm familiar with what is supposed to happen. The app should be installed for users at the next cache refresh, which happens periodically for users who already have Teams installed, and also when Teams is opened. Once the app is installed for that user, the Teams backend attempts to create the 1-1 conversation between the user and the bot, if that succeed

[2021-05-20 18:28] #3806 closed

[2021-05-20 19:12] #3805 closed

[2021-05-20 20:47] matiasroldan6 commented on #3794
Hi @Kmeredith-hcg, sorry for the delay. We successfully **reproduced** the issue by using the Node JS code to locally send a REST call to the `api/messages` endpoint of the Bot.

Can you try and use a [JWT Decoder](https://www.jstoolset.com/jwt) to check if the `aud` property in the failing tokens contains the scope you used in the POST call (oauth2/v2.0/token) to obtain the token?

We compared, u

[2021-05-20 21:08] parasdesaicims opened #3808 "Error while connecting skill"
#### What project is affected?
Virtual Assistant/ Skills
#### What language is this in?
C#
#### What happens?
When trying to add the skill to the bot, the script errors out while creating dispatch LUIS model JSON.
![Screen Shot 2021-05-20 at 4 45 06 PM](https://user-images.githubusercontent.com/56562244/119048209-ebf20980-b98c-11eb-9c0d-118eee4b332b.png)
It also doesn't update all the dispatch fil

[2021-05-21 17:13] Batta32 commented on #3803
Hi @lauren-mills, we came up with the considerations that are necessary to consume the latest SDK version ([4.13.2](https://www.nuget.org/packages/Microsoft.Bot.Builder/4.13.2))

### Bot-Solutions
1. Cherry pick the PR #3618
1. Fix ambiguity issue with SetSpeakMiddleware
    a. Keep [SetSpeakMiddleware](https://github.com/microsoft/botframework-solutions/blob/master/sdk/csharp/libraries/microsoft.

[2021-05-21 18:21] ninggao commented on #3808
@stevkan  Could you please route it to anyone who can help the customer?

[2021-05-21 18:33] Batta32 commented on #3808
Hi @parasdesaicims, thanks for reporting the issue. The next week we will start working on this issue, as soon as we have any update, we will let you know 😊.

[2021-05-24 16:02] cgero-msft commented on #3808
Commenting to track progress @parasdesaicims

[2021-05-25 13:55] lukashoferdev opened #3809 "[Docs] Missing " in dispatch add --type "qna" --name "kb-name `"
**Missing " in dispatch add  --type "qna" --name "kb-name `**

**https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/deploy-assistant/cli/7-create-dispatch-model/**

[2021-05-25 16:26] anusharavindrar commented on #3798
Closing the issue. Please feel free to re-open if issue persists.

[2021-05-25 16:26] #3798 closed

[2021-05-26 14:34] matiasroldan6 commented on #3794
Hi @Kmeredith-hcg, re-analyzing the flow you described in [this comment](https://github.com/microsoft/botframework-solutions/issues/3794#issuecomment-836778214), we reached the conclusion that you can implement one of the following approaches:

- **HandOff Live Agent** (we think this is what you might be trying to do, suggested by the presence of Twilio)
  - [Transition conversations from bot to h

[2021-05-26 17:36] ryanlengel commented on #3809
Thank you for your contribution @lukashoferdev, we are assessing all of our pull requests in the near future and I will review this PR then.

[2021-05-27 15:15] Batta32 commented on #3808
Hi @parasdesaicims, sorry for the delay. We successfully **found the solution** for your problem but also we **reproduced the issue** on our side.

To **solve the issue**, check in `MyVirtualAssistant9en-us_Dispatch.dispatch` file if the .LUIS file located in `"C:\Users\Paras Desai\Documents\LM-Skill1\LMSkill_1\Deployment\Resources\LU\en-us\lmskill_1.luis"` exists or not.
That resource seems to be

[2021-05-28 14:46] Batta32 commented on #3792
Hi @SreekanthOAuth, as discussed by email. We are closing this issue as you were able to solve the problem but feel free to raise a new issue if you have another problem 😊.

[2021-05-28 16:59] bojingo commented on #3683
@ObsidianDelta - thanks for that! I was updating a solution to 4.13.2 and encountered this issue as well. In my case I had to explicitly add package dependencies to the packages you mentioned to get past these errors. In my solution I was pulling those packages in implicitly

@Batta32 - it really doesn't seem appropriate to close this issue and call it fixed. Clearly the dependencies from the Micr

[2021-05-28 19:00] SahilFruitwala opened #3812 "Can we have more examples in TypeScript"
I was trying to change the feedback options but could not understand codebase very well. I tried to find documentation but it was available in C# only. There are many cases where I could not find the proper documentation for TypeScript.

URL of C# example: [Link](https://microsoft.github.io/botframework-solutions/virtual-assistant/handbook/feedback/)

[2021-05-28 19:03] SahilFruitwala opened #3813 "Store Transcript and Logging in CosmosDB"
I was exploring the Virtual Assistant and wanted to use one DB only. I don't want to use Blob storage for transcript and telemetry data. I could not find any out of box way to store this data in CosmosDB.

Is there any way to use the CosmosDB for storing this data?

[2021-06-01 18:53] johnataylor commented on #3803
@lauren-mills can you comment? thanks

[2021-06-01 19:07] johnataylor commented on #3797
@batta32 any update on this?

[2021-06-01 19:11] Batta32 commented on #3797
Hi @johnataylor, we are waiting the confirmation after the sync of botbuilder and bot-framework packages as we shared [here](https://github.com/microsoft/botframework-solutions/issues/3797#issuecomment-844334856).

However, 13 days have passed since the last update. If you are ok, we can close this issue as it's inactive, but the user can reopen it if the issue persists.

[2021-06-01 19:55] mdrichardson commented on #3813
@SahilFruitwala I don't believe we can do anything like this out-of-the-box, currently. I've opened a [feature request for it](https://github.com/microsoft/botframework-sdk/issues/6303) and it may be considered for v5 of the Bot Framework. We'd prioritize it higher, but as far as I know, you're the first user to ask for this so it's going to fall a bit lower on the priority list.

You're welcome t

[2021-06-01 19:55] #3813 closed

[2021-06-01 20:47] SahilFruitwala commented on #3812
Great! Thank you for your help.

[2021-06-01 20:48] lauren-mills commented on #3803
We will be updating the templates for R14. Will update once progress has been made.

[2021-06-01 20:48] SahilFruitwala commented on #3813
Great! Thank you for your help.

[2021-06-01 20:52] lauren-mills commented on #3803
@Batta32 - we do want to go ahead with these changes. I'm emailing with some other questions I have first.

[2021-06-02 07:16] SreekanthOAuth opened #3814 "MS Teams: refresh_token not coming from OAuhCard in AAD v2"
#### What project is affected?

Virtual Assistant with botbuilder version 4.11.0

#### What language is this in?

Typescript

#### What happens?

We are enabling the MS teams channel for our bot (already enabled Directline channel which is up & running).

We have tried the below samples but those are not helpful.

https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/bot-conversat

[2021-06-02 17:05] Batta32 commented on #3797
Closing due to inactivity, reopen if needed

[2021-06-02 17:05] #3797 closed

[2021-06-02 18:18] johnataylor commented on #3812
We are not planning to add any more stand alone code samples, in terms of samples, our focus is on extending the Composer experience.

[2021-06-02 18:18] #3812 closed

[2021-06-02 18:26] #3809 closed

[2021-06-02 18:34] #3796 closed

[2021-06-02 18:34] #3795 closed

[2021-06-02 23:01] lauren-mills commented on #3814
I am transferring this to the botbuilder-dotnet repo in the hopes someone can shed more light on the refresh token issue.

[2021-06-02 23:03] lauren-mills commented on #3804
Closed by #3811

[2021-06-02 23:03] #3804 closed

[2021-06-03 21:26] v-kydela commented on #3814
Thank you for the report, @SreekanthOAuth. I would like to help and I have a few questions.

1. When you say "We have tried the below samples but those are not helpful," how are they not helpful?
2. Are you trying to use SSO or regular OAuth?
3. What are you doing with the virtual assistant to trigger the OAuth scenario?
4. Can you post screenshots?

[2021-06-03 21:45] Batta32 commented on #3794
Closing due to inactivity, reopen if needed

[2021-06-03 21:45] #3794 closed

[2021-06-07 17:46] v-kydela commented on #3814
@SreekanthOAuth - Are you still working on this?

[2021-06-08 13:36] parasdesaicims commented on #3808
yes. @Batta32 after doing the above steps, I was able to add the skill. Though one more step to follow would be the refresh of the cognitive models from Local to remote (or w/o -Remotetolocal tag) would make sure the Bot gets pushed to the teams correctly.

One issue I am facing, and I feel it's a bug. I have added authentication to the skill, while everything runs smoothly in the skill itself whe

[2021-06-08 14:29] Batta32 commented on #3808
Great @parasdesaicims! Glad to hear that the connection worked now, we will close this issue 😊.

About the authentication's problem, can you raise a new issue in the repository explaining the step by step and environment that you are following?

[2021-06-08 14:29] #3808 closed

[2021-06-08 19:15] parasdesaicims opened #3824 "Oauth Card Login button not working in MS teams"
#### What project is affected?
Virtual Assistant/ Skills
#### What language is this in?
C#
#### What happens?
Oauth in skill works fine, but after attaching the skill to VA the login doesn't work in the VA.
*Login Via skill :*
![Screen Shot 2021-06-08 at 3 08 52 PM](https://user-images.githubusercontent.com/56562244/121243628-e9881e80-c86b-11eb-9dd2-576fd0568bd8.png)
![Screen Shot 2021-06-08 at 3

[2021-06-08 21:25] Batta32 commented on #3792
Hi @SreekanthOAuth, as discussed by email, we can close this issue 😊.

[2021-06-08 21:25] #3792 closed

[2021-06-09 17:24] lauren-mills commented on #3824
Hi @parasdesaicims, did you follow the instructions to create a Teams Manifest and  set up the authentication URL here? https://microsoft.github.io/botframework-solutions/clients-and-channels/tutorials/enable-teams/1-intro/

[2021-06-09 18:30] #3683 closed

[2021-06-09 18:30] #3803 closed

[2021-06-10 21:29] v-kydela commented on #3814
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2021-06-10 21:29] #3814 closed

[2021-06-11 14:57] msomanathan opened #3828 "VA + Skill Template Bots do not start up when hosted Out-Of-Process"
#### What project is affected?
VA + Skill templates.

#### What language is this in?
C#

#### What happens?
To enable DL-ASE channel to talk to a bot, one of the requirements is for the bot to be hosted out-of-process. More info about that is here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1&preserve-view=true#out-of-process-hosting-model.

H

[2021-06-11 16:29] parasdesaicims commented on #3824
I actually followed that process for my skill but not for the main Virtual assistant, it does work now after adding the bot to our tenant.

Thank you for the help @lauren-mills . This issue can be closed.

[2021-06-11 16:29] #3824 closed

[2021-06-23 18:21] lauren-mills commented on #3828
New versions of the templates VSIX and the microsoft.bot.solutions package have been released to resolve this issue. Please test and let us know how it works for you.

[2021-06-25 09:54] SreekanthOAuth opened #3832 "MS Teams Channel : replyToId coming same as activityId"
#### What project is affected?

Virtual Assistant with botbuilder version 4.11.0

#### What language is this in?

Typescript

#### What happens?

In the Teams channel, when we give message reactions, we are supposed to get the message activity Id as part of the replyToId attribute in the activity object.  Though we are getting the replyToId the value coming is not as expected.

#### What are the s

[2021-06-25 19:34] lauren-mills commented on #3832
Transferring this to the bot builder repo, since there isn't any custom VA logic around teams reaction messages and this appears to be an issue with what the channel is sending back.

SDK team: it looks like the ReplyToId field is not coming back to the bot with the value @SreekanthOAuth expects. Can you confirm if this behavior is correct or if its a bug and how they might resolve it?

[2021-07-01 15:40] tomSauret847 opened #3833 "Azure Devops Pipeline failing on Nuget restore with latest bot-solutions package 1.1.0"
#### What project is affected? Virtual Assistant

#### What language is this in? .net

#### What happens?
when using the sample [here](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants/virtual-assistant) the build pipeline fails with the following error
##[error]The nuget command failed with exit code(1) and error(F:\agents\_work\_tool\dncs\2.2.100\x64\sdk\2

[2021-07-06 18:21] axelsrz commented on #3833
@lauren-mills could you please look into this issue and provide some feedback? thanks

[2021-07-06 18:49] lauren-mills commented on #3833
@Batta32 - it seems like the pipeline yaml may need to be updated to support the latest code. Can you take a look?

[2021-07-06 18:54] Batta32 commented on #3833
Sure @lauren-mills! We will take a look at this issue as soon as possible.

Thanks @tomSauret847 for reporting this issue, as soon as we have any update, we will back to you here 😊.

[2021-07-08 22:32] Batta32 commented on #3833
Hi @tomSauret847, we have planned to work on this issue in the next week.

We will let you know any update 😊.

[2021-07-12 19:41] matiasroldan6 commented on #3833
Hi @tomSauret847, we were able to reproduce this. Our setup was:

- The [Virtual Assistant](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants/virtual-assistant) located in the repository
- An Azure Pipeline created with the [VirtualAssistantSample.yml](https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/assistants/virtual-assistant

[2021-07-15 18:23] hcyang commented on #3833
Hi @matiasroldan6 and @Batta32, any update to a solution?

[2021-07-16 16:03] matiasroldan6 commented on #3833
Hi @tomSauret847, @hcyang. Sorry about the delay, we found some things out of date in the Virtual Assistant's YAML which we fixed in PR #3835.

You can take this PR -or wait until it is merged- and see if it fixes the issue you have. Let us know of any further issues.

[2021-07-19 12:05] tomSauret847 commented on #3833
Thank you @matiasroldan6 for looking into this. I took the PR and updated my project and was able to get the project to build. It is now working as expected.

[2021-07-19 15:17] hcyang commented on #3833
Thanks @tomSauret847 for raising the issue and @matiasroldan6 for providing a solution. Closing the issue now.

[2021-07-19 15:17] #3833 closed

[2021-08-16 21:04] watercooleradmin opened #3838 "Bot works in Test in Web Chat & Emulator but not in Microsoft Teams"
Hi,

I have created a custom bot for Teams which works when I Test in Web Chat or with the Bot Framework Emulator. When I go to Teams ( I have done both Open in Teams from the Bot Channels and uploading a custom app in Teams) I cannot get the bot to work at all. Neither the welcome prompt loads nor does it respond to any of its commands.

I have tried fixes mentioned in previous issue threads such

[2021-08-17 19:16] joshgummersall commented on #3838
Are you seeing any errors in the Azure Portal Channels blade?

<img width="1325" alt="Screen Shot 2021-08-17 at 12 14 33 PM" src="https://user-images.githubusercontent.com/1235378/129786759-a0a281ae-aef6-4f13-988c-0c0d32d2449a.png">

[2021-08-20 13:55] bfranco95 opened #3839 "Data source error: DataSource.Error: <pii>Web.Contents failed to get contents from (long url here) 400): Bad Request. The exception was raised by the IDbCommand interface. Table: EventTelemetry."
#### What project is affected?

We are building a chatbot and utilizing the Analytics template for Power BI.

#### What happens?

Attempting to open the Power BI dashboard which has worked previously.

We get the following error:

Data source error: DataSource.Error: <pii>Web.Contents failed to get contents from 'https://api.loganalytics.io/v1/apps/a498620c-e2f1-4170-ab89-cb2412790836/query?query=

[2021-08-24 14:35] oneemo95 commented on #3516
Duplicate of #

[2021-08-31 12:54] bfranco95 commented on #3839
Checking for any updates here?

[2021-08-31 14:21] LeeParrishMSFT commented on #3838
Closed due to no customer response.

[2021-08-31 14:21] #3838 closed

[2021-09-01 00:02] ryanlengel commented on #3839
Hi @bfranco95,

I tested this afternoon on my end with a fresh install of the Virtual Assistant, new Azure resources and a new instance of the Power BI template. This works successfully for myself. I have a few questions to follow up:
- What version of the VA template are you using? Did the Power BI error occur after updating it or did it just stop working one day?
- Is telemetry still populating

[2021-09-01 11:25] tomSauret847 commented on #3839
I ran into tis same issue. What we found was the app insights data was to large to pull from app insights. We ended up exporting app insights data to a Blob storage and then rebuilding the report to query the data from Blob as a work around to this issue.

[2021-09-09 22:37] stevkan commented on #3839
@tomSauret847, can you explain how you determined that the app insights data was too large to pull?

[2021-09-10 11:44] tomSauret847 commented on #3839
@stevkan We opened a case with the App Insights support team and had their help in investigating this. After running a fiddler trace with the report refreshing it was uncovered that the data set was too large for the app insights API, that is what triggers the 400 error. It was larger than the 100 MB that the API allows. We have several bots using this reporting and when they become well used we c

[2021-09-23 05:54] dabgar commented on #3668
Please let me know how to include metadata in the insight query for QnAMaker logs
somthing as this, here the meatadata field comes empty

requests
| where url endswith "generateAnswer"
| project timestamp, id, url, resultCode, duration, performanceBucket
| parse kind = regex url with *"(?i)knowledgebases/"KbId"/generateAnswer"
| join kind= inner (
traces | extend id = operation_ParentId
) on id
|

[2021-09-24 05:31] dabgar opened #3843 "how to include metadata in the insight query for QnAMaker logs"
Please let me know how to include metadata in the insight query for QnAMaker logs
somthing as this, here the meatadata field comes empty

requests
| where url endswith "generateAnswer"
| project timestamp, id, url, resultCode, duration, performanceBucket
| parse kind = regex url with *"(?i)knowledgebases/"KbId"/generateAnswer"
| join kind= inner (
traces | extend id = operation_ParentId
) on id
|

[2021-09-24 17:55] stevkan commented on #3839
@bfranco95, have you investigated to see if you are running into the same issue that @tomSauret847 experienced (i.e. the response data is too large)? At the moment, this is looking to be the cause. And, it makes sense in that as data is collected but the size is low, it would work. When the size reaches the limit, it suddenly stops working.

Are you in a position where you can check / test this? A

[2021-09-24 18:17] compulim commented on #3843
@dabgar could you give us some details on this? In #3668, Peter suggested telemetry could be logged through these two classes:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.AI.QnA/QnAMaker.cs

Are you saying that, even coded added to

[2021-09-25 03:05] dabgar commented on #3843
<img width="1433" alt="Screenshot 2021-09-24 at 10 31 05 AM" src="https://user-images.githubusercontent.com/23253515/134755771-2581c792-2da9-4c61-9471-b5e47d913ab1.png">

Attaching a screenshot of the issue faced.
The code shared is C# code , is there a nodejs version of the same.
Also like answer and question which comes directly without adding any code is it not possible to get the metadata simi

[2021-09-27 19:24] joshgummersall commented on #3843
@dabgar, Peter's suggestion of writing a custom dialog to achieve this would be my recommendation as well. Unfortunately, we do not have a sample available that illustrates how to achieve this functionality.

There [is a sample custom dialog, the `MultiplyDialog`](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/adaptive-runtime-packages/multiply-dialog-package) in the sample

[2021-10-05 16:52] stevkan commented on #3839
Closing as resolved. If the issue persists, please feel free to reopen.

[2021-10-05 16:52] #3839 closed

[2021-10-11 16:37] alexrecuenco commented on #1805
Wait, what happened with this. Where is the solution that was created as part of this story? I can't find it in botframework-solutions

Sorry for the inconvenience.

[2021-10-11 18:25] EricDahlvang commented on #3843
Closing with Josh Gummersall's answer.

[2021-10-11 18:25] #3843 closed

[2021-10-12 12:01] SreekanthOAuth opened #3844 "conversationId is not coming in BotMessageSend telemetry event"
#### What project is affected?

Microsoft Bot framework - Virtual Assistant

#### What language is this in?

Typescript

#### What happens?

Below are the versions of botbuilder,
we are not getting the conversationId as part of BotMessageSend event.

[code]

And we are using React application to load the Webchat by using the directline token. Below are the versions

[code]

BotMessageSend

[code]

[2021-11-09 22:29] michaeljdresser opened #3846 "[Docs] Download and install the Virtual Assistant and Skill Templates. - Requested page not found"
/virtual-assistant/tutorials/create-assistant/csharp/2-download-and-install/

Clicking the link in step 2, takes you to a page which says the page cannot be found.

Where is the Virtual Assistant and Skill template now kept?

[2021-11-10 22:13] ryanlengel commented on #3846
Hi @michaeljdresser,

The templates have been deprecated and removed from the marketplace. Thank you for highlighting the docs issue, we will follow up and update those to reflect this.

I recommend creating any new bots using [Bot Framework Composer](https://docs.microsoft.com/en-us/composer/), these are built on the current Adaptive dialog stack.

If you would prefer to use the Virtual Assistant

[2021-11-15 19:43] johnataylor commented on #3844
closing due to no activity

[2021-11-15 19:43] #3844 closed

[2021-11-22 19:19] #3846 closed

[2021-11-23 11:24] pravinambekar opened #3848 "Knowledgebase is not getting created through Virtual Assistant template PowerShell script"
#### What project is affected?
The QnAMaker based azure chatbot.

#### What language is this in?
Code for web app bot is written in c# and deployment  is done using PowerShell script

#### What happens?
I am trying to deploy resources for Azure Web App bot, this is being done with help of Virtual Assistant Template,
The issue is when i am trying to execute PowerShell script (deploy.ps1) is does no

[2021-11-23 13:45] lauren-mills commented on #3848
@pravinambekar, can you try uninstalling the bf CLI using `npm uninstall @microsoft/botframework-cli -g`, then reinstalling with `npm i @microsoft/botframework-cli -g`? Looks like something is wrong with your CLI installation

[2021-12-01 09:14] dabgar commented on #3668
Can you please  share the C# code of the below javascript class shared. for getting the metadata tags in  insights @petand123
how to include metadata in the insight query for QnAMaker logs #3843

class CustomQnAMakerDialog extends QnAMakerDialog {
  async getQnaMakerClient(dialogContext) {
    const client = await super.getQnAMakerClient(dialogContext);

    const onQnaResults = client.onQnaResult

[2021-12-06 09:41] pravinambekar commented on #3848
Hello @lauren-mills
As suggested  I have re installed bot framework CLI and botskills package, the earlier error seems to have gone but i am still not able to create KB , giving same error (can be seen in the screen shot below)
![image](https://user-images.githubusercontent.com/41193836/144822433-65e01232-10e7-439e-a444-cb885c82cb91.png)

I have also checked deployment log files and no error recor

[2021-12-06 15:00] lauren-mills commented on #3848
Just to confirm, there's nothing in your update_cognitive_models_log.txt file right?

[2021-12-07 05:11] pravinambekar commented on #3848
No, Just the message: AZ CLI passes minimum version. Current version is 2.19.1

[2021-12-07 12:42] pravinambekar commented on #3848
Hello @lauren-mills

Apparently there was no update_cognitive_models_log.txt exist in the folder, i have even created new VA template but it was not there too,
I manually have tried creating file with this name, but no log recorded.

Talking about commands i edited / customized are mostly about LUIS, COSMOS DB
I have customized template to skip LUIS and cosmos DB configuration , and necessary scri

[2021-12-07 13:31] lauren-mills commented on #3848
Apologies, I meant to ask for the deploy_cognitive_models_log.txt.

Also, if you've removed the Luis setup that maybe causing you some issues with the dispatch model, since it is a Luis model underneath.

Can you check that log file above, and also send your modified scripts for me to take a look at?

[2021-12-08 06:04] pravinambekar commented on #3848
Hello @lauren-mills ,

Yes, have attached deploy ps script and also template for your reference, i also have checked deploy cognitive log file and it has nothing as such

[deploy.txt](https://github.com/microsoft/botframework-solutions/files/7673702/deploy.txt)
[template.txt](https://github.com/microsoft/botframework-solutions/files/7673704/template.txt)

Hope this helps you to understand what's w

[2021-12-08 07:04] pravinambekar commented on #3848
Update: I was just checking all the services created and tried to create KB manually in qnamaker portal, though it is also giving same **No Endpoint keys found** error, i am afraid that the script executed to provision resources might have some mis-configuration related to cognitive service endpoint, and in console it returns **401 saying Access denied due to invalid subscription key or wrong API

[2021-12-20 18:02] lauren-mills commented on #3848
Hi @pravinambekar, after looking into this, you are no longer able to create *new* qna maker services that use the v5.0-preview. Only existing QnA Services made with the preview flag continue working. So you will not be able to use the VA scripts to create a qna service with the 5.0 preview features.

Qna Maker has been combined with other cognitive services in a single Azure resource going forwar

[2022-01-04 22:13] munozemilio commented on #3848
Closing this due to inactivity. @pravinambekar feel free to reopen if the issue is not solved.

[2022-01-04 22:13] #3848 closed

[2022-01-12 07:52] pravinambekar opened #3849 "Direct Line App Service Extension does not work with Azure bot created with Virtual Assistant Template"
#### What project is affected?
VA template based Azure web app bot

#### What language is this in?
C# Dot Net Core

#### What happens?
Azure Bot created with Virtual assistant template running in azure environment working fine in Web Chat and Direct line (When embedded as IFrame) but when i enabled Direct Line App Service Extension (https://docs.microsoft.com/en-us/azure/bot-service/bot-service-ch

[2022-01-12 11:59] pravinambekar commented on #3780
Hello @SSanjeevi ,
I am also facing similar issue, i am using VA template and enabled DL ASE ,
Whenever i am trying to access client side bot (Which is getting token properly) but failing to communicate with bot service giving error as:

 `webchat.js:2 WebSocket connection to 'wss://xxx.net/.bot/v3/directline/conversations/connect?token=ew0KICAiYWxnIjogIlJTMjU2IiwNCiAgImtpZCI6ICJ2cG4y... failed:`

[2022-01-14 12:27] robertomenciasoftwareone opened #3850 "QNA Maker"
/overview/virtual-assistant-solution/

I add a file with questions and answers but the bot doesn't find it if you don't put the exact question. The dispatcher is not updated.

[2022-01-14 15:52] lshade commented on #3839
@stevkan We should reopen this. I also have bots with multiple clients running in production that have exceeded the data limits after only a day or two. They are getting this same error. What's the recommended solution?

@tomSauret847 are you able to share the queries/scripts from your remediation?

[2022-01-16 23:55] YutongTie-MSFT commented on #3849
@dmvtech Hi Dana, I am tracking this issue from Microsoft Q&A platform. Could you please help take a look? Thanks.

[2022-01-17 19:23] EricDahlvang commented on #3850
Hi @robertomenciasoftwareone

Have you also updated and republished the QnAMaker Knowledge base and dispatcher models?

https://github.com/microsoft/botframework-cli/blob/main/packages/qnamaker/README.md
https://github.com/microsoft/botframework-cli/blob/main/packages/dispatcher/README.md

[2022-01-18 13:19] tom600x commented on #3839
Please reopen @stevkan I also have a few customers who need this working without the workaround of dumping the data to SQL

[2022-01-18 18:29] dmvtech commented on #3849
I will take a look.

[2022-01-20 11:41] pravinambekar commented on #3849
@dmvtech  Hello Dana,
Did you got time to look into this, i really failed to understand root cause for the issue, at one side Test In Web chat works fine,
i have a feeling that there is some issue with the way client side request is communicating with bot over direct line
as the constant error : **WebSocket connection to XXX failed.** is there and there is literally nothing i could fix about this.

[2022-01-23 08:11] pravinambekar commented on #3849
---------------Update-----------------------

I continued investigation and  have tried to generate token from my own app service url (https://xxx.azurewebsites.net/.bot/v3/directline/tokens/generate)
 in token controller  but the call returns null or empty token and when i check log in portal i am getting 404 error for the service call :
![image](https://user-images.githubusercontent.com/41193836

[2022-01-23 15:19] SSanjeevi commented on #3849
@pravinambekar -

[2022-01-23 15:23] SSanjeevi commented on #3780
Here is my code i used:
https://github.com/SSanjeevi/VirtualAssistantDirectlineExtn

[2022-01-24 05:05] pravinambekar commented on #3849
Hello @SSanjeevi ,

Thank you for sharing repo,  while checking your source i am getting serilog error as below :
[code]

additionally I am  bit concerned with the way client code is implemented, here we are directly exposing **Direct Line Secret**.
which is suppose to be generate in separate api controller
![image](https://user-images.githubusercontent.com/41193836/150725053-899e91a8-a4ee-4876-87

[2022-01-24 06:14] SSanjeevi commented on #3849
Is that error coming in log stream console? - may be you missed this second line I think not sure:
`
// Register the Bot Framework Adapter with error handling enabled.
// Note: some classes use the base BotAdapter so we add an extra registration that pulls the same instance.
            services.AddSingleton<IBotFrameworkHttpAdapter, DefaultAdapter>();
            services.AddSingleton<BotAdapter>

[2022-01-25 08:39] pravinambekar commented on #3849
Hello @SSanjeevi ,
I was able to run bot locally but i guess there is some issue with running bot on local IIS (getting timeout when run on local iis but was able to run on console)
In spite of that i deployed bot and related services on azure but getting 502 error upon access app service.
[code]
Do you have any idea what possibly could go wrong ?

[2022-01-25 09:34] SSanjeevi commented on #3849
Is your /xxx.azurewebsites.net/.bot URL works?
please check connecting from webchat client.

[2022-01-25 10:07] pravinambekar commented on #3849
Hi @SSanjeevi ,
The https:/xxx.azurewebsites.net/.bot is now returning json response :
{
v: "1.0.0.0.55fa54091a1e3b168628d4000ee2b06a88bbc2ac",
k: true,
ib: true,
ob: true,
initialized: true
}

but while testing it from web chat client i am getting **Failed to fetch** error
[code]

[2022-01-25 10:38] SSanjeevi commented on #3849
check browser console - net work tab - you may have to check that and restart app service and enable socket.

[2022-01-26 00:45] dmvtech commented on #3849
Hi @pravinambekar

Looks like you've made some progress. Some additional questions:

1. I'm assuming since this is a VA bot that it is using `BotFrameworkAdapter` and not the newer `CloudAdapter`, correct?
2. You have correctly set `APPSETTING_WEBSITE_SITE_NAME` in the configuration?
3. When setting your secret for the bearer token, you are using the actual Directline secret (even though it is pos

[2022-01-27 07:52] pravinambekar commented on #3849
Hello @dmvtech , Hello @SSanjeevi ,

1) Yes VA bot that it is using BotFrameworkAdapter and **not**  Cloud Adapter
2) Yes APPSETTING_WEBSITE_SITE_NAME is correctly configured
3) Yes The secrete used for token generated in Direct Line Secrete and not ASE secrete

About the error in console , I dig down further and found that the timeout is happening upon calling token generation service : https://X

[2022-01-27 08:22] SSanjeevi commented on #3849
@pravinambekar  - thanks for confirming that bot works when using secret in webchat.
Not sure about issue when using the token. What I analyzed(understood) is that its using WebSocket connection to connect between client and server using ASE - not sure whether we can create token before that socket connection is established - @dmvtech  and team will help you on that.

[2022-01-27 08:48] pravinambekar commented on #3849
Hello @SSanjeevi ,  @dmvtech

I think i found the culprit, the url we use for token generation has to be : https://XXX.azurewebsites.net/**.bot/v3/**directline/tokens/generate and not
https://XXX.azurewebsites.net/api/directline/token

This way i am not able to get the token and chat window is also successfully rendered.

[2022-01-27 08:57] SSanjeevi commented on #3849
please close the issue - if its resolved 🥇 happy to help.

[2022-01-27 09:02] pravinambekar commented on #3849
Thanks @SSanjeevi  & @dmvtech  for your help.

[2022-01-27 09:02] #3849 closed

[2022-01-28 19:16] carlosscastro commented on #3850
Closing this one due to inactivity. @robertomenciasoftwareone if Eric's recommendation did not work for you, feel free to reactivate, thanks!

[2022-01-28 19:16] #3850 closed

[2022-02-03 05:35] MukulSingh10 opened #3853 "Unable to connect to Multiple Skill bot from Root bot on Azure."
[#### What project is affected?
Skill Dialog Implementation (https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/81.skills-skilldialog)

#### What language is this in?
C#

#### What happens?
Get 401 error

#### What are the steps to reproduce this issue?
Followed all steps to configure Root bot and custom skill  from https://github.com/microsoft/BotBuilder-Samples/t

[2022-02-03 18:59] fidelitymobileorg opened #3854 "Problems to understand the Users Inputs on Virtual Assistant Sample - Virtual Assistant Sample not work"
#### What project is affected?

Virtual Assistant

#### What language is this in?

C# and JS

#### What happens?

Virtual Assistant not understand the Users Inputs

#### What are the steps to reproduce this issue?

1) Deploy Virtual Assistant template with PowerShell at Azure
2) Run WebChat
3) Send knowledge messages on WebChat
4) Virtual Assistant reaturn de default message (because return null f

[2022-02-04 19:39] lauren-mills commented on #3854
Hi @fidelitymobileorg, it appears from the screenshot that the bot is returning a ChitChat knowledge base response to your question. If you have not added custom QnA pairs, I would say this is the expected behavior, because the built-in knowledge bases in the template do not handle that query by default. You can see [here ](https://github.com/microsoft/botframework-solutions/blob/b8e8ccdf2c52b323d

[2022-02-04 19:43] lauren-mills commented on #3853
Hi there, if you are getting a 401 error from a skill, the most likely reason is that something hasn't been correctly configured in your appsettings. If it works locally, then please verify that your skillHostEndpoint has been updated to the published url of your root bot.

Here is some documentation on common skill communication errors: https://microsoft.github.io/botframework-solutions/help/know

[2022-02-04 19:44] lauren-mills commented on #3853
I will also transfer this issue to the samples repo, as those samples are slightly different from the projects in this repo.

[2022-02-04 20:49] fidelitymobileorg commented on #3854
Hi @lauren-mills ,

We hope you are well and healthy!

- Lauren, the screenshot demonstrates a failure return on the "MainDialog.cs" file event, as there are two knowledge bases, and this message "What day is today?" has a couple of replies as well as other messages like "Good morning", "Good afternoon", "Good evening" and have the same problem.

- Lauren, custom QnA pairs were added, so this is n

[2022-02-14 23:50] lauren-mills commented on #3854
Thanks for your response. Can you please answer these questions to help me repro this behavior? I was not able to based on this information alone.

- Did you create a new knowledge base completely, or add new QnA pairs to either the FAQ or ChitChat knowledge bases created in the Virtual Assistant project?
- Did you publish the knowledge base changes before running the update_cognitive_models scrip

[2022-02-28 19:17] johnataylor commented on #3854
closing as this has been 14days, please reopen if you have further issues

[2022-02-28 19:17] #3854 closed

[2022-03-14 20:22] sk-Rajagopal opened #3861 "Azure bot app hosting startup assembly exception"
#### What project is affected?
My team is working on a POC project that involves Azure bot, and ACS services. Here is my bot details,
![image](https://user-images.githubusercontent.com/98924387/158256246-b6c0c5c8-9506-45f0-8baa-110b17c37381.png)

#### What language is this in?
net core 3.1 C#

#### What happens?
Once i deploy the bot code to an appService, I see the hosting startup exception rando

[2022-03-14 20:31] sk-Rajagopal opened #3862 "Azure bot telephony channel not working"
#### What project is affected?
My team is working on a POC project that involves Azure bot and ACS services. below is my bot details
![image](https://user-images.githubusercontent.com/98924387/158256132-f3bd8fb2-e9ca-45be-a014-cd22bd1526e5.png)

#### What language is this in?
net core 3.1 C#

#### What happens?
I have both web chat and telephony channels configure to my bot. I see the web chat wor

[2022-04-19 01:33] #3861 closed

[2022-04-19 01:33] #3862 closed

[2022-05-31 11:17] ridasaleem0 opened #3876 "Add Custom Commands application as a skill in Bot framework composer application"
The documentation (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-integrate-remote-skills) gives an idea about how to export the Custom Commands application as a skill, however, there is no skills tab available in the Speech studio under Custom commands settings.

Is there a way to export our commands app as a skill inside the bot framework applicat

[2022-06-29 19:21] lauren-mills opened #3880 "[Docs]"
/solution-accelerators/tutorials/view-analytics/3-open-template/

[2022-10-16 20:40] dciborow commented on #20
The repositories that are archived may still contain useful information, but there is no longer a team dedicated to the content. If you find any issues with a nested template, feel free to post it here and I will do my best to take a look.